﻿@model nawadaya_project.Models.ms_applicant_information_form

@{
    if (@ViewBag.message != null)
    {
        <script>
        function codeAddress() {
            $("#message")
            .closest(".modal").modal('show');
        }
        window.onload = codeAddress;
        </script>
    }

    if (@ViewBag.Edit != null)
    {
        <script>
        function codeAddress() {
            var divs = ["edit"];
            var hash = divs[parseInt(Math.random() * divs.length)];
            window.location.hash = hash;
        }
        window.onload = codeAddress;
        </script>
    }
}

<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered"><a href="profile.html"><img src="~/Content/img/ui-sam.jpg" class="img-circle" width="80"></a></p>
            <h5 class="centered">
                @if (@Session["UserName"] != null)
                {
                    @Session["UserName"];
                }
            </h5>
            <li>
                <a href="@Url.Action("Index", "Hr")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Recruitment</span>
                </a>
                <ul class="sub">
                    <li a class="active"><a href="@Url.Action("Invite", "Hr")">Invite</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <i class="fa fa-book active"></i>
                    <span>Master Data</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("MsEmployee", "Hr")">Master Data Employee </a></li>
                    <li><a href="@Url.Action("MsApplicant", "Hr")">Master Data Applicant</a></li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!-- Main Menu-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="row mt">
            <div class="col-lg-12">
                <div class="row content-panel">
                    <div class="col-md-4 profile-text mt mb centered">
                        <div class="right-divider hidden-sm hidden-xs">
                            <h4>1922</h4>
                            <h6>FOLLOWERS</h6>
                            <h4>290</h4>
                            <h6>FOLLOWING</h6>
                            <h4>$ 13,980</h4>
                            <h6>MONTHLY EARNINGS</h6>
                        </div>
                    </div>
                    <!-- /col-md-4 -->
                    <div class="col-md-4 profile-text">
                        @if (ViewBag.MsApplicant != null)
                        {
                            foreach (var item in ViewBag.MsApplicant)
                            {
                                <h3>@item.applicant_name</h3>
                                <p>@item.applicant_address</p>
                            }
                        }
                        <br>
                        <p><button class="btn btn-theme"><i class="fa fa-envelope"></i> Send Message</button></p>
                    </div>
                    <!-- /col-md-4 -->
                    <div class="col-md-4 centered">
                        <div class="profile-pic">
                            <p><img src="~/Content/img/ui-sam.jpg" class="img-circle"></p>
                            <p>
                                <button class="btn btn-theme"><i class="fa fa-check"></i> Follow</button>
                                <button class="btn btn-theme02">Add</button>
                            </p>
                        </div>
                    </div>
                    <!-- /col-md-4 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /col-lg-12 -->
            <div class="col-lg-12 mt">
                <div class="row content-panel">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a data-toggle="tab" href="#overview">Overview</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#edit">Edit Profile</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /panel-heading -->
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="overview" class="tab-pane active">
                                <div class="row">
                                    <div class="col-lg-8 col-lg-offset-2 detailed">
                                        <h4 class="mb">Personal Information</h4>
                                        <form role="form" class="form-horizontal">
                                            @if (ViewBag.MsApplicant != null)
                                            {
                                                foreach (var item in ViewBag.MsApplicant)
                                                {
                                                    <div class="form-group">
                                                        <label class="col-lg-2 control-label">Name</label>
                                                        <div class="col-lg-6">
                                                            <input type="text" disabled value="@item.applicant_name" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 control-label">Phone</label>
                                                        <div class="col-lg-6">
                                                            <input type="text" disabled value="@item.applicant_phone" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 control-label">Address</label>
                                                        <div class="col-lg-10">
                                                            <textarea rows="10" cols="30" class="form-control" disabled>@item.applicant_address</textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 control-label"> NIK</label>
                                                        <div class="col-lg-10">
                                                            <input type="text" disabled value="@item.applicant_NIK" class="form-control">
                                                        </div>
                                                    </div>
                                                }
                                            }

                                        </form>
                                    </div>
                                    <!-- /col-lg-8 -->
                                </div>
                                <!-- /row -->
                            </div>
                            <!-- /tab-pane -->
                            <div id="edit" class="tab-pane">
                                <div class="row">
                                    <div class="col-lg-8 col-lg-offset-2 detailed">
                                        <h4 class="mb">Personal Information</h4>


                                    </div>
                                    <!-- /col-lg-8 -->
                                </div>
                                <!-- /row -->
                            </div>
                            <!-- /tab-pane -->
                        </div>
                        <!-- /tab-content -->
                    </div>
                    <!-- /panel-body -->
                </div>
                <!-- /col-lg-12 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /wrapper -->
</section>


<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="message" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Alert!</h4>
            </div>
            <div class="modal-body">
                @if (ViewBag.message != null)
                {
                    if (ViewBag.message == 0)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Edit is failed</div>
                    }
                    else if (ViewBag.message == 1)
                    {
                        <div class="alert alert-success"><b>Success!</b> Edit is successfull!</div>
                    }
                    else if (ViewBag.message == 2)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Email is already exist!</div>
                    }
                }
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
