﻿@model nawadaya_project.Models.ms_personal_data

<!-- Main-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <div style="color:white">
                <h4 class="centered">
                    @if (@Session["FullName"] != null)
                    {
                        @Session["FullName"];
                    }
                </h4>
                <h6 class="centered">
                    @if (@Session["Email"] != null)
                    {
                        @Session["Email"];
                    }
                </h6>
            </div>
            <li class="mt">
                <a href="@Url.Action("Index", "Hr")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("IndexLogicTestProblems", "Hr")">Master Logic Test Problems</a></li>
                    <li><a href="@Url.Action("MsPsychotest", "Hr")">Add Pshycotest Problems</a></li>
                    <li><a href="@Url.Action("MsDISC", "Hr")">Add DISC Problems</a></li>
                    <li class="active"><a href="@Url.Action("Invite", "Hr")">Invite</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Master Data Employee</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("MsEmployee", "Hr")">Add Employee</a></li>
                    <li><a href="@Url.Action("InviteEmployee", "Hr" )">Assessment Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Historical Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("HistoricalApplicantInvitation","Hr")">Applicant Invitation</a></li>
                    <li><a href="@Url.Action("HistoricalEmployeeInvitation","Hr")">Employee Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Report</span>
                </a>
                <ul class="sub">
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaMonthlyTotalApplicants"})"
                           class="nav-link">
                            Total Applicants
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaAverageLogicTestScoreinaMonth"})"
                           class="nav-link">
                            Average Logic Test Score
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaAverageApplicantsIQinaMonth"})"
                           class="nav-link">
                            Average Applicants IQ
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>

<!-- Main-->
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <div class="row mt">
            <div class="col-sm-3">
                <section class="panel">
                    <div class="panel-body">
                        <a href="@Url.Action("Invite","Hr")" class="btn btn-compose">
                            <i class="fa fa-pencil"></i>  Invite
                        </a>
                        <ul class="nav nav-pills nav-stacked mail-nav">
                            <li><a href="@Url.Action("MsApplicant","Hr")"> <i class="fa fa-plus"></i> Add Applicant</a></li>
                            <li><a href="@Url.Action("Progress","Hr")"> <i class="fa fa-cogs"></i> Progress</a></li>
                            <li><a href="@Url.Action("ForumGroup","Hr")"> <i class="fa fa-group"></i> FGD Invitation</a></li>
                            <li><a href="@Url.Action("ApproveApplicant","Hr")"> <i class="fa fa-pencil"></i> Status Change</a></li>
                            <li>
                                <a href=@Url.Action("Bootcamp","Hr") #"> <i class="fa fa-star"></i> Bootcamp</a>
                            </li>
                            <li class="active">
                                <a href=@Url.Action("Failed","Hr") #"> <i class="fa fa-trash"></i> Failed</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-sm-9">
                <section class="panel">
                    <header class="panel-heading wht-bg">
                        <h4 class="gen-case">
                            Failed
                        </h4>
                    </header>
                    <div class="panel-body minimal">
                        <table id="example4" class="table table-inbox table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>
                                        Result
                                    </th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                    if (ViewBag.Inviteapplicant != null)
                                    {
                                        foreach (var item in ViewBag.Inviteapplicant)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.full_name</td>
                                                <td>@item.email</td>
                                                <td>
                                                    <text><a href="@Url.Action("DetailEmployee","Hr",new { id = @item.fk_applicant_information_form})"><span class="label label-primary">Form</span></a></text>&nbsp;&nbsp;
                                                    <text><a href="@Url.Action("DetailDISC","Hr",new { id = @item.fk_disc_result})"><span class="label label-primary">DISC</span></a></text><br>
                                                    <text><a href="@Url.Action("DetailPsychotest","Hr",new { id = @item.fk_psychotest_result})"><span class="label label-primary">Psychotest</span></a></text>&nbsp;&nbsp;
                                                    <text><a href="@Url.Action("DetailLogictest","Hr",new { id = @item.fk_logictest_result})"><span class="label label-primary">Logictest</span></a></text><br>
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("ChangeStatus", "Hr",new {fullname = item.full_name,email = item.email, status = 1,position="" })" class="label label-primary">
                                                        <font color="white">Re-Invite to recruitment</font>
                                                    </a>
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }

                                }
                        </table>

                    </div>
                </section>
            </div>
        </div>
    </section>

    <div style="margin-bottom:200px">
    </div>
</section>
<!-- /wrapper -->
