﻿@model nawadaya_project.Models.ms_personal_data
<!-- Main-->
@{
    if (@ViewBag.message != null)
    {
        <script>
        function codeAddress() {
            $("#message")
            .closest(".modal").modal('show');
        }
        window.onload = codeAddress;
        </script>
    }

    if (@ViewBag.InviteFGD != null)
    {
        if (@ViewBag.InviteFGD == 1)
        {
            <script>
        function codeAddress() {
            $("#InviteFGD")
            .closest(".modal").modal('show');
            $('#InviteFGD').on('hidden.bs.modal', function (e) {
                window.history.back();
            });
        }
        window.onload = codeAddress;
            </script>
        }
        else
        {
            <script>
        function codeAddress() {
            $("#InviteFGD2")
            .closest(".modal").modal('show');
            $('#InviteFGD').on('hidden.bs.modal', function (e) {
                window.history.back();
            });
        }
        window.onload = codeAddress;
            </script>
        }
    }


}

<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <div style="color:white">
                <h4 class="centered">
                    @if (@Session["FullName"] != null)
                    {
                        @Session["FullName"];
                    }
                </h4>
                <h6 class="centered">
                    @if (@Session["Email"] != null)
                    {
                        @Session["Email"];
                    }
                </h6>
            </div>
            <li class="mt">
                <a href="@Url.Action("Index", "Hr")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("IndexLogicTestProblems", "Hr")">Master Logic Test Problems</a></li>
                    <li><a href="@Url.Action("MsPsychotest", "Hr")">Add Pshycotest Problems</a></li>
                    <li><a href="@Url.Action("MsDISC", "Hr")">Add DISC Problems</a></li>
                    <li class="active"><a href="@Url.Action("Invite", "Hr")">Invite</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Master Data Employee</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("MsEmployee", "Hr")">Add Employee</a></li>
                    <li><a href="@Url.Action("InviteEmployee", "Hr" )">Assessment Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Historical Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("HistoricalApplicantInvitation","Hr")">Applicant Invitation</a></li>
                    <li><a href="@Url.Action("HistoricalEmployeeInvitation","Hr")">Employee Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Report</span>
                </a>
                <ul class="sub">
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaMonthlyTotalApplicants"})"
                           class="nav-link">
                            Total Applicants
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaAverageLogicTestScoreinaMonth"})"
                           class="nav-link">
                            Average Logic Test Score
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaAverageApplicantsIQinaMonth"})"
                           class="nav-link">
                            Average Applicants IQ
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>

<!-- Main-->
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <div class="row mt">
            <div class="col-sm-3">
                <section class="panel">
                    <div class="panel-body">
                        <a href="@Url.Action("Invite","Hr")" class="btn btn-compose">
                            <i class="fa fa-pencil"></i>  Invite
                        </a>
                        <ul class="nav nav-pills nav-stacked mail-nav">
                            <li><a href="@Url.Action("MsApplicant","Hr")"> <i class="fa fa-plus"></i> Add Applicant</a></li>
                            <li><a href="@Url.Action("Progress","Hr")"> <i class="fa fa-cogs"></i> Progress</a></li>
                            <li class="active"><a href="@Url.Action("ForumGroup","Hr")"> <i class="fa fa-group"></i> FGD Invitation</a></li>
                            <li><a href="@Url.Action("ApproveApplicant","Hr")"> <i class="fa fa-pencil"></i> Status Change</a></li>
                            <li>
                                <a href=@Url.Action("Bootcamp","Hr") #"> <i class="fa fa-star"></i> Bootcamp</a>
                            </li>
                            <li>
                                <a href=@Url.Action("Failed","Hr") #"> <i class="fa fa-trash"></i> Failed</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-sm-9">
                <section class="panel">
                    <header class="panel-heading wht-bg">
                        <h4 class="gen-case">
                            Forum Group Discussion
                        </h4>
                    </header>
                    <div class="panel-body minimal">
                        <table id="example4" class="table table-inbox table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th colspan="2">Name</th>
                                    <th>Email</th>
                                    <th>
                                        Result
                                    </th>
                                    <th>Status</th>
                                </tr>
                            </thead>

                            @{
                                int i = 1;
                                if (ViewBag.Inviteapplicant != null)
                                {
                                    foreach (var item in ViewBag.Inviteapplicant)
                                    {
                                        <tbody>
                                            <tr>
                                                <td>@i</td>
                                                <td colspan="2">@item.full_name</td>
                                                <td>@item.email</td>

                                                <td>
                                                    <text><a href="@Url.Action("DetailEmployee","Hr",new { id = item.fk_applicant_information_form})"><span class="label label-primary">Form</span></a></text>&nbsp;&nbsp;
                                                    <text><a href="@Url.Action("DetailDISC","Hr",new { id = item.fk_disc_result})"><span class="label label-primary">DISC</span></a></text><br>
                                                    <text><a href="@Url.Action("DetailPsychotest","Hr",new { id = item.fk_psychotest_result})"><span class="label label-primary">Psychotest</span></a></text>&nbsp;&nbsp;
                                                    <text><a href="@Url.Action("DetailLogictest","Hr",new { id = item.fk_logictest_result})"><span class="label label-primary">Logictest</span></a></text><br>
                                                </td>
                                                <td>
                                                    @if (item.status_fgd == 1)
                                                    {
                                                        if (DateTime.Now >= item.startdate_fgd)
                                                        {
                                                            <a href="@Url.Action("InviteFGD", "Hr", new { fullname = item.full_name, email = item.email, status = 2, retry = 1, place = "", date = "", start = "" })" class="label label-primary">
                                                                <font color="white"> Pass the FGD</font>
                                                            </a> <text>&nbsp;&nbsp;</text>
                                                            <a href="@Url.Action("ChangeStatus", "Hr", new { fullname = item.full_name, email = item.email, status = 4, position = "" })" class="label label-danger">
                                                                <font color="white"> Failed</font>
                                                            </a>
                                                        }
                                                        else {
                                                            <a href="@Url.Action("DetailFGD", "Hr", new { id=item.pk_forum_disccussion })"><span class="label label-info">Detail FGD</span></a><br>
                                                            <span class="label label-warning">Waiting FGD</span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (item.logictest_score != null)
                                                        {
                                                            <a href="@Url.Action("InviteFGD", "Hr", new {fullname = item.full_name,email = item.email, retry = 1, status = 1,place="",date="",start="" })" class="label label-primary">
                                                                <font color="white"> Invite FGD</font>
                                                            </a> <text>&nbsp;&nbsp;</text>
                                                            <a href="@Url.Action("ChangeStatus", "Hr", new { fullname = item.full_name,email = item.email, status = 4,position="" })" class="label label-danger">
                                                                <font color="white"> Failed</font>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <text><span class="label label-danger">Can't Invite to FGD</span></text>

                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        </tbody>

                                        i++;
                                    }
                                }

                            }

                        </table>

                    </div>
            </div>
    </section>
    </div>
    </div>
    <div style="margin-bottom:200px">
    </div>
</section>
<!-- /wrapper -->
</section>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="message" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Applicant Invitation</h4>
            </div>
            <div class="modal-body">
                @if (ViewBag.message != null)
                {
                    if (ViewBag.message == 0)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Add is failed</div>
                    }
                    else if (ViewBag.message == 1)
                    {
                        <div class="alert alert-success"><b>Success!</b> An invitation has been sent.</div>
                    }
                    else if (ViewBag.message == 2)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Unable to send email.</div>
                    }
                    else if (ViewBag.message == 10)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Can't Delete!</div>
                    }
                    else
                    {
                        @*<div class="alert alert-danger"><b>Success!</b> Delete is successfull!</div>*@
                    }
                }
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="InviteFGD" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Invite FGD : @ViewBag.fullnameFGD, @ViewBag.EmailFGD</h4>
            </div>
                <div class="modal-body">
                    Are you sure want to invite @ViewBag.fullnameFGD to Forum Group Discussion ?
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default" >Close</button>
                    <a href="@Url.Action("InviteFGD", "Hr", new {fullname = ViewBag.fullnameFGD,email = ViewBag.EmailFGD, status = 1,retry =2,place="",date="",start=""})" class="btn btn-primary">
                        <font color="white"> Invite FGD</font>
                    </a>
                </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="InviteFGD2" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Invite FGD : @ViewBag.fullnameFGD, @ViewBag.EmailFGD</h4>
            </div>
            @using (Html.BeginForm("InviteFGD", "HR", FormMethod.Post))
            {
                <div class="modal-body">
                    <input type="hidden" name="email" value="@ViewBag.EmailFGD">
                    <input type="hidden" name="fullname" value="@ViewBag.fullnameFGD">
                    <input type="hidden" name="status" value="1">
                    <input type="hidden" name="retry" value="3">
                    <label>Place :</label><br>
                    <input type="text" name="place" class="form-control" placeholder="Place FGD"><br>
                    <label>Date :</label><br>
                    <input type="date" required name="date" id="startdate" class="form-control"><br> 
                    <label>Start :</label><br>
                    <input type="time" required name="start"  class="form-control"><br>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="submit" class="btn btn-success">
                </div>
            }

        </div>
    </div>
</div>

<script>
(function(){
  $('#startdate').attr('min', moment().format('YYYY-MM-DD'))
  $('#startdate').on('change', function (e) {
    var startDate = $(this).val();
    var endDate = moment(startDate).add(1, 'days').format('YYYY-MM-DD');
    $('#enddate').attr('min', endDate);
  })
})()
</script>