﻿<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <div style="color:white">
                <h4 class="centered">
                    @if (@Session["FullName"] != null)
                    {
                        @Session["FullName"];
                    }
                </h4>
                <h6 class="centered">
                    @if (@Session["Email"] != null)
                    {
                        @Session["Email"];
                    }
                </h6>
            </div>
            <li class="mt">
                <a href="@Url.Action("Index", "Hr")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("IndexLogicTestProblems", "Hr")">Master Logic Test Problems</a></li>
                    <li><a href="@Url.Action("MsPsychotest", "Hr")">Add Pshycotest Problems</a></li>
                    <li><a href="@Url.Action("MsDISC", "Hr")">Add Problem DISC</a></li>
                    <li><a href="@Url.Action("Invite", "Hr")">Invite</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Master Data Employee</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("MsEmployee", "Hr")">Add Employee</a></li>
                    <li><a href="@Url.Action("InviteEmployee", "Hr" )">Assessment Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Historical Recruitment</span>
                </a>
                <ul class="sub">
                    <li class="active"><a href="@Url.Action("HistoricalApplicantInvitation","Hr")">Applicant Invitation</a></li>
                    <li><a href="@Url.Action("HistoricalEmployeeInvitation","Hr")">Employee Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Report</span>
                </a>
                <ul class="sub">
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaMonthlyTotalApplicants"})"
                           class="nav-link">
                            Total Applicants
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaAverageLogicTestScoreinaMonth"})"
                           class="nav-link">
                            Average Logic Test Score
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaAverageApplicantsIQinaMonth"})"
                           class="nav-link">
                            Average Applicants IQ
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>

<section id="main-content">
    <section class="wrapper site-min-height">
        <h3>Historical Invitation Applicant</h3>

        <div class="row mt">
            <div class="col-lg-12">
                <table id="example2" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Start Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                        }
                        @foreach (var item in ViewBag.HistoricalEmployee)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.full_name</td>
                                <td>@item.email</td>
                                <td>@item.starttime</td>
                                
                            </tr>
                            i++;
                        }
                </table>

                <!-- /Message Panel-->
            </div>

        </div>
    </section>
    <!-- /wrapper -->
</section>

