﻿@model IEnumerable<nawadaya_project.Models.ms_logictest_problems>

@{
    ViewBag.Title = "IndexLogicTestProblems";
    int num_pdf = 1;
    if (@ViewBag.failedPDFmessage != null)
    {
        <script>
            function codeAddress() {
                $("#modalPDFfailedupload")
                    .closest(".modal").modal('show');
            }
            window.onload = codeAddress;
        </script>
    }
}

<!-- Main-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <div style="color:white">
                <h4 class="centered">
                    @if (@Session["FullName"] != null)
                    {
                        @Session["FullName"];
                    }
                </h4>
                <h6 class="centered">
                    @if (@Session["Email"] != null)
                    {
                        @Session["Email"];
                    }
                </h6>
            </div>
            <li class="mt">
                <a href="@Url.Action("Index", "Hr")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Recruitment</span>
                </a>
                <ul class="sub">
                    <li class="active"><a href="@Url.Action("IndexLogicTestProblems", "Hr")">Master Logic Test Problems</a></li>
                    <li><a href="@Url.Action("MsPsychotest", "Hr")">Add Pshycotest Problems</a></li>
                    <li><a href="@Url.Action("MsDISC", "Hr")">Add DISC Problems</a></li>
                    <li><a href="@Url.Action("Invite", "Hr")">Invite</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Master Data Employee</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("MsEmployee", "Hr")">Add Employee</a></li>
                    <li><a href="@Url.Action("InviteEmployee", "Hr" )">Assessment Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Historical Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("HistoricalApplicantInvitation","Hr")">Applicant Invitation</a></li>
                    <li><a href="@Url.Action("HistoricalEmployeeInvitation","Hr")">Employee Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Report</span>
                </a>
                <ul class="sub">
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaMonthlyTotalApplicants"})"
                           class="nav-link">
                            Total Applicants
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaAverageLogicTestScoreinaMonth"})"
                           class="nav-link">
                            Average Logic Test Score
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaAverageApplicantsIQinaMonth"})"
                           class="nav-link">
                            Average Applicants IQ
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>

<section id="main-content">
    <section class="wrapper site-min-height">
        <h3>Master Logic Test</h3>
        <br><br>
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">@ViewBag.InfoDuration @ViewBag.Char @ViewBag.CurrentDuration </div>
                </div>
                <br>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addduraion">
                    Set Logic Test Duration
                </button>
                <br><br>
                @if (ViewBag.CurrentDuration == " ")
                {
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#durationnull">
                        Add Logic Test Problems
                    </button>
                }
                else
                {
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPDFModal">
                        Add Logic Test Problems
                    </button>
                }

                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="addPDFModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Add File as New Logic Test Problems </h4>
                            </div>

                            @using (Html.BeginForm("AddLogicTestPDF", "HR", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @*@Html.AntiForgeryToken()*@
                                <div class="modal-body">
                                    <div class="col-sm-3">
                                        <label><h5>Upload PDF file :</h5></label>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            @*<button class="btn btn-primary">Upload</button>*@
                                            @Html.TextBox("file", "", new { type = "file", accept = "application/pdf", @class = "form-control" }) <br />
                                            @*<button class="btn btn-primary">Upload</button>*@

                                        </div>
                                    </div>
                                </div>
                                <br><br><br><br>
                                <div class="modal-footer">
                                    <input class="btn btn-primary" type="submit" value="Upload" />

                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="addduraion" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Set Duration </h4>
                            </div>

                            @using (Html.BeginForm("UpdateLogicTestDuration", "HR", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-8">@ViewBag.InfoDuration @ViewBag.Char @ViewBag.CurrentDuration </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label><h5>Set Time :</h5></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <input type="number" name="minutes" class="form-control">
                                            </div>
                                            <div class="col-sm-4">
                                                <label>Minutes</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <br><br><br><br>
                                <div class="modal-footer">
                                    <input class="btn btn-primary" type="submit" value="Submit" />
                                </div>
                            }
                        </div>
                    </div>
                </div>



                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="durationnull" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Add File as New Logic Test Problems</h4>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-danger">Set logic test duration before add logic test problems.</div>

                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalPDFfailedupload" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Add File as New Logic Test Problems</h4>
                            </div>
                            <div class="modal-body">
                                @*<div class="alert alert-danger"><p>@ViewBag.failedmessage</p></div>*@
                                @if (ViewBag.failedPDFmessage != null)
                                {
                                    if (ViewBag.failedPDFmessage == "0")
                                    {
                                        <div class="alert alert-success">A PDF file is added.</div>
                                    }
                                    else if (ViewBag.failedPDFmessage == "1")
                                    {
                                        <div class="alert alert-danger"><b>Failed to add file.</b> Filename is too long.</div>
                                    }
                                    else if (ViewBag.failedPDFmessage == "2")
                                    {
                                        <div class="alert alert-danger"><b>Failed to add file.</b> Invalid file format.</div>
                                    }
                                    else if (ViewBag.failedPDFmessage == "3")
                                    {
                                        <div class="alert alert-danger"><b>Failed to add file.</b> This PDF file has already added.</div>
                                    }
                                }
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                            </div>
                        </div>
                    </div>
                </div>



                @*<a href="@Url.Action("AddLogicTestPDF","UploadPDF")" class="btn btn-primary">Add New Logic Test Problem</a>*@
            </div>
        <div class="row mt">
            <div class="col-lg-12">
                <table id="example2" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Problems Name</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(num_pdf++)</td>
                                @{ var path = item.problems_path + "/" + item.problems_filename;
                                    var app_path = Url.Content("~/");
                                    var problem_path = (path.Substring(1));
                                    var URL = app_path + problem_path;
                                }
                                <td><a href="@URL" target="_blank">@Html.DisplayFor(modelItem => item.problems_filename)</a></td>
                                @*<td>@Html.DisplayFor(modelItem => item.active_problems)</td>*@
                                @Html.HiddenFor(modelItem => item.problems_path)

                            </tr>

                        }
                </table>

                <!-- /Message Panel-->
            </div>

        </div>
    </section>
    <!-- /wrapper -->
</section>





