﻿@model nawadaya_project.Models.ms_personal_data

@{

    if (@ViewBag.DetailApplicant != null)
    {
        <script>
        function codeAddress() {
            $("#ApplicantExist")
            .closest(".modal").modal('show');
        }
        window.onload = codeAddress;
        </script>
    }

    if (@ViewBag.message != null)
    {
        <script>
        function codeAddress() {
            $("#message")
            .closest(".modal").modal('show');
        }
        window.onload = codeAddress;
        </script>
    }

    if (@ViewBag.EditApplicant != null)
    {
        <script>
        function codeAddress() {
            $("#ModalEditApplicant")
            .closest(".modal").modal('show');
        }
        window.onload = codeAddress;
        </script>
    }
}

<!-- Main-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <div style="color:white">
                <h4 class="centered">
                    @if (@Session["FullName"] != null)
                    {
                        @Session["FullName"];
                    }
                </h4>
                <h6 class="centered">
                    @if (@Session["Email"] != null)
                    {
                        @Session["Email"];
                    }
                </h6>
            </div>
            <li class="mt">
                <a href="@Url.Action("Index", "Hr")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("IndexLogicTestProblems", "Hr")">Master Logic Test Problems</a></li>
                    <li><a href="@Url.Action("MsPsychotest", "Hr")">Add Pshycotest Problems</a></li>
                    <li><a href="@Url.Action("MsDISC", "Hr")">Add DISC Problems</a></li>
                    <li class="active"><a href="@Url.Action("Invite", "Hr")">Invite</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Master Data Employee</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("MsEmployee", "Hr")">Add Employee</a></li>
                    <li><a href="@Url.Action("InviteEmployee", "Hr" )">Assessment Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Historical Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("HistoricalApplicantInvitation","Hr")">Applicant Invitation</a></li>
                    <li><a href="@Url.Action("HistoricalEmployeeInvitation","Hr")">Employee Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Report</span>
                </a>
                <ul class="sub">
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaMonthlyTotalApplicants"})"
                           class="nav-link">
                            Total Applicants
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaAverageLogicTestScoreinaMonth"})"
                           class="nav-link">
                            Average Logic Test Score
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaAverageApplicantsIQinaMonth"})"
                           class="nav-link">
                            Average Applicants IQ
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>

<!-- Main-->
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <div class="row mt">
            <div class="col-sm-3">
                <section class="panel">
                    <div class="panel-body">
                        <a href="@Url.Action("Invite","Hr")" class="btn btn-compose">
                            <i class="fa fa-pencil"></i>  Invite
                        </a>
                        <ul class="nav nav-pills nav-stacked mail-nav">
                            <li class="active"><a href="@Url.Action("MsApplicant","Hr")"> <i class="fa fa-plus"></i> Add Applicant</a></li>
                            <li><a href="@Url.Action("Progress","Hr")"> <i class="fa fa-cogs"></i> Progress</a></li>
                            <li><a href="@Url.Action("ForumGroup","Hr")"> <i class="fa fa-group"></i> FGD Invitation</a></li>
                            <li><a href="@Url.Action("ApproveApplicant","Hr")"> <i class="fa fa-pencil"></i> Status Change</a></li>
                            <li>
                                <a href=@Url.Action("Bootcamp","Hr") #"> <i class="fa fa-star"></i> Bootcamp</a></a>
                            </li>
                            <li>
                                <a href=@Url.Action("Failed","Hr") #"> <i class="fa fa-trash"></i> Failed</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-sm-9">
                <section class="panel">
                    <header class="panel-heading wht-bg">
                        <h4 class="gen-case">
                            Add Applicant
                        </h4>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAddApplicant">
                            Add Applicant
                        </button>
                    </header>
                    <div class="panel-body minimal">
                        <table id="example4" class="table table-inbox table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>ACTIONS</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                    if (ViewBag.MsApplicant != null)
                                    {
                                        foreach (var item in ViewBag.MsApplicant)
                                        {
                                                                <tr>
                                                                    <td>@i</td>
                                                                    <td>@item.full_name</td>
                                                                    <td>@item.email</td>
                                                                    @if (@item.sent_status != null)
                                                                    {

                                                                        var date = "";
                                                                        if (item.starttime != null)
                                                                        {
                                                                            date = @item.starttime.ToString("ddd, MMM d \"'\"yy");

                                                                        }


                                                                        <td><span class="label label-info">Assessment will start on @date</span></td>
                                                                        <td>
                                                                            <a disabled class="btn btn-warning">
                                                                                Update
                                                                            </a>
                                                                            <a disabled class="btn btn-danger">
                                                                                Delete
                                                                            </a>
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td><span class="label label-danger">Uninvited</span></td>
                                                                        <td>
                                                                            <a href="@Url.Action("EditApplicant", "HR", new { id = item.pk_employee })" class="btn btn-warning">
                                                                                Update
                                                                            </a>
                                                                            <a href="@Url.Action("DeleteApplicant", "HR", new { id = item.pk_employee })" class="btn btn-danger">
                                                                                Delete
                                                                            </a>
                                                                        </td>
                                                                    }
                                                                </tr>
                                                        i++;
                                                    }
                                                }
                                                                            }

                                                                    </table>
                    </div>
                </section>
            </div>
        </div>
        <div style="margin-bottom:200px">
        </div>
    </section>
    <!-- /wrapper -->
</section>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="message" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Master Applicant</h4>
            </div>
            <div class="modal-body">
                @if (ViewBag.message != null)
                {
                    if (ViewBag.message == 0)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Applicant is not added.</div>
                    }
                    else if (ViewBag.message == 1)
                    {
                        <div class="alert alert-success"><b>Success!</b> Applicant is added.</div>
                    }
                    else if (ViewBag.message == 2)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Email is already exist!</div>
                    }
                    else if (ViewBag.message == 3)
                    {
                        <div class="alert alert-success"><b>Success!</b> Applicant is deleted.</div>
                    }
                    else if (ViewBag.message == 4)
                    {
                        <div class="alert alert-success"><b>Success!</b> Applicant is updated.</div>
                    }
                    else if (ViewBag.message == 10)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Can't Delete!</div>
                    }
                    else
                    {
                        <div class="alert alert-success"><b>Success!</b> Applicant is deleted.</div>
                    }
                }
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalAddApplicant" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add New Applicant</h4>
            </div>
            @using (Html.BeginForm("AddApplicant", "HR", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.full_name, new { @type = "text", placeholder = "Input Name Applicant", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.email, new { @type = "email", placeholder = "Input Email Applicant", @class = "form-control" })
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <input type="submit" name="submit" value="Add Applicant" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalEditApplicant" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Applicant</h4>
            </div>
            @using (Html.BeginForm("EditApplicant", "HR", FormMethod.Post))
            {
                if (ViewBag.EditApplicant != null)
                {
                    foreach (var item in ViewBag.EditApplicant)
                    {
                        <div class="modal-body">
                            @Html.HiddenFor(m => m.pk_employee, new { @type = "hidden", @Value = @item.pk_employee, @class = "form-control" })
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.full_name, new { @type = "text", @Value = @item.full_name, @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.email, new { @type = "email", @Value = @item.email, @class = "form-control" })
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <input type="submit" name="submit" value="Update Applicant" class="btn btn-success" />
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ApplicantExist" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Applicant Exist</h4>
            </div>
            <div class="modal-body">
            <table>
                <thead>
                    <tr>
                        <td width="50%">Name Applicant :</td>
                        <td width="50%">@ViewBag.NameApplicant</td>
                    </tr>
                    <tr>
                        <td width="50%">Email :</td>
                        <td width="50%">@ViewBag.EmailApplicant</td>
                    </tr>
                    <tr>
                        <td width="30%">Result :</td>
                        <td width="70%">
                            <text><a href="@Url.Action("DetailEmployee","Hr",new { id = @ViewBag.DetailApplicant })"><span class="label label-primary">Form</span></a></text>&nbsp;&nbsp;
                            <text><a href="@Url.Action("DetailDISC","Hr",new { id = @ViewBag.DiscResult})"><span class="label label-primary">DISC</span></a></text><br>
                            <text><a href="@Url.Action("DetailPsychotest","Hr",new { id = @ViewBag.PsychotestResult})"><span class="label label-primary">Psychotest</span></a></text>&nbsp;&nbsp;
                            <text><a href="@Url.Action("DetailLogictest","Hr",new { id =@ViewBag.LogictestResult })"><span class="label label-primary">Logictest</span></a></text><br>
                        </td>
                    </tr>
                </thead>
                </table>
                <br><br>
                Do u want to re-invite ? the result will be deleted.
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                <a href="@Url.Action("ChangeStatus", "Hr",new {fullname = @ViewBag.NameApplicant,email = @ViewBag.EmailApplicant, status = 1,position="" })" class="btn btn-success">
                    <font color="white">Re-Invite</font>
                </a>
            </div>
        </div>
    </div>
</div>