﻿@model nawadaya_project.Models.ms_problem_disc

@{
    if (@ViewBag.PKDISC != null)
    {
        <script>
            function codeAddress() {
                $("#modal-update")
                    .closest(".modal").modal('show');
            }
            window.onload = codeAddress;
        </script>
    }
}

<!-- Main-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <div style="color:white">
                <h4 class="centered">
                    @if (@Session["FullName"] != null)
                    {
                        @Session["FullName"];
                    }
                </h4>
                <h6 class="centered">
                    @if (@Session["Email"] != null)
                    {
                        @Session["Email"];
                    }
                </h6>
            </div>
            <li class="mt">
                <a href="@Url.Action("Index", "Hr")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("IndexLogicTestProblems", "Hr")">Master Logic Test Problems</a></li>
                    <li><a href="@Url.Action("MsPsychotest", "Hr")">Add Pshycotest Problems</a></li>
                    <li class="active"><a href="@Url.Action("MsDISC", "Hr")">Add DISC Problems</a></li>
                    <li><a href="@Url.Action("Invite", "Hr")">Invite</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Master Data Employee</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("MsEmployee", "Hr")">Add Employee</a></li>
                    <li><a href="@Url.Action("InviteEmployee", "Hr" )">Assessment Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Historical Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action()">Applicant Invitation</a></li>
                    <li><a href="@Url.Action()">Employee Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Report</span>
                </a>
                <ul class="sub">
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaMonthlyTotalApplicants"})"
                           class="nav-link">
                            Total Applicants
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaAverageLogicTestScoreinaMonth"})"
                           class="nav-link">
                            Average Logic Test Score
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaAverageApplicantsIQinaMonth"})"
                           class="nav-link">
                            Average Applicants IQ
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>

<section id="main-content">
    <section class="wrapper site-min-height">
        <h3>Master DISC</h3>
        <br><br>
        <div class="card-header">
            <div class="row">
                @*<div class="col-md-4">@ViewBag.InfoDuration @ViewBag.Char @ViewBag.CurrentDuration </div>*@
                <div class="col-md-4">@ViewBag.DISCInfoDuration @ViewBag.DISCChar @ViewBag.DISCCurrentDuration </div>
            </div>
            <br>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#DISCaddduration">
                Set DISC Test Duration
            </button>
            <br><br>
            @if (ViewBag.DISCCurrentDuration == " ")
            {
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#DISCdurationnull">
                    Add DISC Test Problems
                </button>
            }
            else
            {
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAddDISC">
                    Add DISC Test Problems
                </button>
            }

            @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAddDISC">
                Add Problem Disc
            </button>*@

            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="DISCaddduration" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Set Duration </h4>
                        </div>

                        @using (Html.BeginForm("UpdateDISCTestDuration", "HR", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-8">@ViewBag.DISCInfoDuration @ViewBag.DISCChar @ViewBag.DISCCurrentDuration </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h5><label>Set Time :</label></h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <input type="number" name="minutes" class="form-control">
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Minutes</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br><br><br><br>
                            <div class="modal-footer">
                                <input class="btn btn-primary" type="submit" value="Submit" />
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="DISCdurationnull" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Add Statements as a New DISC Test Problem</h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger">Set DISC test duration before add DISC test problems.</div>

                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt">
            <div class="col-lg-12">
                <table id="example2" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Statement</th>
                            <th>M1</th>
                            <th>L1</th>
                            <th>Statment</th>
                            <th>M2</th>
                            <th>L2</th>
                            <th>Statement</th>
                            <th>M3</th>
                            <th>L3</th>
                            <th>Statement</th>
                            <th>M4</th>
                            <th>L4</th>
                            <th>ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                        }
                        @foreach (var item in ViewBag.AddDISC)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.statment1</td>
                                <td>@item.M1</td>
                                <td>@item.L1</td>
                                <td>@item.statment2</td>
                                <td>@item.M2</td>
                                <td>@item.L2</td>
                                <td>@item.statment3</td>
                                <td>@item.M3</td>
                                <td>@item.L3</td>
                                <td>@item.statment4</td>
                                <td>@item.M4</td>
                                <td>@item.L4</td>

                                <td>
                                    <a href="@Url.Action("EditDISC", "HR",new {id=item.pk_problem_disc})" class="btn btn-warning">
                                        Update
                                    </a>
                                    <a href="@Url.Action("DeleteDISC", "HR",new {id=item.pk_problem_disc})" class="btn btn-danger">
                                        Delete
                                    </a>
                                    @if (item.active == 1)
                                    {
                                        <a href="@Url.Action("ActiveDISC", "HR",new {id=item.pk_problem_disc})" class="btn btn-danger">
                                            De-Active
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("ActiveDISC", "HR",new {id=item.pk_problem_disc})" class="btn btn-primary">
                                            Active
                                        </a>
                                    }
                                </td>
                            </tr>
                            i++;
                        }
                </table>

                <!-- /Message Panel-->
            </div>

        </div>
    </section>
    <!-- /wrapper -->
</section>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalAddDISC" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Statements as a New DISC Test Problem</h4>
            </div>
            @using (Html.BeginForm("AddDISC", "HR", FormMethod.Post))
            {
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><p align="center">Statement</p></th>
                                <th><p align="center">M</p></th>
                                <th><p align="center">L</p></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.TextBoxFor(m => m.statment1, new { @type = "text", @placeholder = "Input statement1", @class = "form-control", required = "required" })</td>
                                <td>
                                    @Html.RadioButtonFor(m => m.M1, "D", new { required = "required" })@Html.Label(" D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M1, "I", new { required = "required" })@Html.Label(" I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M1, "S", new { required = "required" })@Html.Label(" S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M1, "C", new { required = "required" })@Html.Label(" C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M1, "*", new { required = "required" })@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                                <td>
                                    @Html.RadioButtonFor(m => m.L1, "D", new { required = "required" })@Html.Label(" D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L1, "I", new { required = "required" })@Html.Label(" I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L1, "S", new { required = "required" })@Html.Label(" S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L1, "C", new { required = "required" })@Html.Label(" C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L1, "*", new { required = "required" })@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.TextBoxFor(m => m.statment2, new { @type = "text", @placeholder = "Input statement2", @class = "form-control", required = "required" })</td>
                                <td>
                                    @Html.RadioButtonFor(m => m.M2, "D", new { required = "required" })@Html.Label(" D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M2, "I", new { required = "required" })@Html.Label(" I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M2, "S", new { required = "required" })@Html.Label(" S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M2, "C", new { required = "required" })@Html.Label(" C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M2, "*", new { required = "required" })@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                                <td>
                                    @Html.RadioButtonFor(m => m.L2, "D", new { required = "required" })@Html.Label(" D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L2, "I", new { required = "required" })@Html.Label(" I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L2, "S", new { required = "required" })@Html.Label(" S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L2, "C", new { required = "required" })@Html.Label(" C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L2, "*", new { required = "required" })@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.TextBoxFor(m => m.statment3, new { @type = "text", @placeholder = "Input statement3", @class = "form-control", required = "required" })</td>
                                <td>
                                    @Html.RadioButtonFor(m => m.M3, "D", new { required = "required" })@Html.Label(" D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M3, "I", new { required = "required" })@Html.Label(" I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M3, "S", new { required = "required" })@Html.Label(" S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M3, "C", new { required = "required" })@Html.Label(" C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M3, "*", new { required = "required" })@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                                <td>
                                    @Html.RadioButtonFor(m => m.L3, "D", new { required = "required" })@Html.Label(" D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L3, "I", new { required = "required" })@Html.Label(" I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L3, "S", new { required = "required" })@Html.Label(" S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L3, "C", new { required = "required" })@Html.Label(" C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L3, "*", new { required = "required" })@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.TextBoxFor(m => m.statment4, new { @type = "text", @placeholder = "Input statement4", @class = "form-control", required = "required" })</td>
                                <td>
                                    @Html.RadioButtonFor(m => m.M4, "D", new { required = "required" })@Html.Label(" D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M4, "I", new { required = "required" })@Html.Label(" I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M4, "S", new { required = "required" })@Html.Label(" S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M4, "C", new { required = "required" })@Html.Label(" C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M4, "*", new { required = "required" })@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                                <td>
                                    @Html.RadioButtonFor(m => m.L4, "D", new { required = "required" })@Html.Label(" D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L4, "I", new { required = "required" })@Html.Label(" I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L4, "S", new { required = "required" })@Html.Label(" S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L4, "C", new { required = "required" })@Html.Label(" C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L4, "*", new { required = "required" })@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <input type="submit" name="submit" value="Add Post" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modal-update" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Update Master DISC</h4>
            </div>
            @using (Html.BeginForm("EditDISC", "HR", FormMethod.Post))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(s => s.pk_problem_disc)
                    <table class="table">
                        <thead>
                            <tr>
                                <th><p align="center">Statement</p></th>
                                <th><p align="center">M</p></th>
                                <th><p align="center">L</p></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.TextBoxFor(m => m.statment1, new { @type = "text", @placeholder = "Input statement1", @class = "form-control" })</td>
                                <td>
                                    @Html.RadioButtonFor(m => m.M1, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M1, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M1, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M1, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M1, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                                <td>
                                    @Html.RadioButtonFor(m => m.L1, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L1, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L1, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L1, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L1, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.TextBoxFor(m => m.statment2, new { @type = "text", @placeholder = "Input statement1", @class = "form-control" })</td>
                                <td>
                                    @Html.RadioButtonFor(m => m.M2, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M2, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M2, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M2, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M2, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                                <td>
                                    @Html.RadioButtonFor(m => m.L2, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L2, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L2, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L2, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L2, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.TextBoxFor(m => m.statment3, new { @type = "text", @placeholder = "Input statement1", @class = "form-control" })</td>
                                <td>
                                    @Html.RadioButtonFor(m => m.M3, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M3, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M3, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M3, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M3, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                                <td>
                                    @Html.RadioButtonFor(m => m.L3, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L3, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L3, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L3, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L3, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.TextBoxFor(m => m.statment4, new { @type = "text", @placeholder = "Input statement1", @class = "form-control" })</td>
                                <td>
                                    @Html.RadioButtonFor(m => m.M4, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M4, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M4, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M4, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M4, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                                <td>
                                    @Html.RadioButtonFor(m => m.L4, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L4, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L4, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L4, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L4, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <input type="submit" name="submit" value="Add Post" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>