﻿@model nawadaya_project.Models.ms_personal_data

@{
    if (@ViewBag.message != null)
    {
        <script>
        function codeAddress() {
            $("#message")
            .closest(".modal").modal('show');
        }
        window.onload = codeAddress;
        </script>
    }
}
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <div style="color:white">
                <h4 class="centered">
                    @if (@Session["FullName"] != null)
                    {
                        @Session["FullName"];
                    }
                </h4>
                <h6 class="centered">
                    @if (@Session["Email"] != null)
                    {
                        @Session["Email"];
                    }
                </h6>
            </div>
            <li class="mt">
                <a href="@Url.Action("Index", "Hr")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("IndexLogicTestProblems", "Hr")">Master Logic Test Problems</a></li>
                    <li><a href="@Url.Action("MsPsychotest", "Hr")">Add Pshycotest Problems</a></li>
                    <li><a href="@Url.Action("MsDISC", "Hr")">Add DISC Problems</a></li>
                    <li><a href="@Url.Action("Invite", "Hr")">Invite</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Master Data Employee</span>
                </a>
                <ul class="sub">
                    <li class="active"><a href="@Url.Action("MsEmployee", "Hr")">Add Employee</a></li>
                    <li><a href="@Url.Action("InviteEmployee", "Hr" )">Assessment Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Historical Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("HistoricalApplicantInvitation","Hr")">Applicant Invitation</a></li>
                    <li><a href="@Url.Action("HistoricalEmployeeInvitation","Hr")">Employee Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Report</span>
                </a>
                <ul class="sub">
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaMonthlyTotalApplicants"})"
                           class="nav-link">
                            Total Applicants
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaAverageLogicTestScoreinaMonth"})"
                           class="nav-link">
                            Average Logic Test Score
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaAverageApplicantsIQinaMonth"})"
                           class="nav-link">
                            Average Applicants IQ
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!-- Main-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <h3>Master Employee</h3>
        <div class="card-header">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAddEmployee">
                Add Employee
            </button>
        </div>
        <div class="row mt">
            <div class="col-lg-12">
                <table id="example2" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>NIP</th>
                            <th>Name</th>
                            <th>Position</th>
                            <th>ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            if (ViewBag.MsEmployee != null)
                            {
                                foreach (var item in ViewBag.MsEmployee)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>
                                            <a href="@Url.Action("DetailEmployee", "HR", new { id = item.pk_employee })">
                                                @item.NIP
                                            </a>
                                        </td>
                                        <td>@item.full_name</td>
                                        <td>@item.position</td>
                                        <td>
                                            <a href="@Url.Action("DeleteEmployee", "HR", new { id = item.pk_employee })" class="btn btn-danger">
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        }
                </table>
                <!-- /Message Panel-->
            </div>

        </div>
    </section>
    <!-- /wrapper -->
</section>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="message" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Master Employee</h4>
            </div>
            <div class="modal-body">
                @if (ViewBag.message != null)
                {
                    if (ViewBag.message == 0)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Failed to add employee.</div>
                    }
                    else if (ViewBag.message == 1)
                    {
                        <div class="alert alert-success"><b>Success!</b> An employee has been added.</div>
                    }
                    else if (ViewBag.message == 2)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Email is already exist!</div>
                    }
                    else
                    {
                        <div class="alert alert-danger"><b>Success!</b> An employee has been deleted.</div>
                    }
                }
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalAddEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Add New Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddEmployee", "HR", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.full_name, new { @type = "text", required = "required", placeholder = "Fullname Employee", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.name_called, new { @type = "text", required = "required", placeholder = "Nickname Employee", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <select name="position" required class="form-control">
                            <option value="">Select Position</option>
                            <option value="Developer">Developer</option>
                            <option value="Technical Leader">Technical Leader</option>
                            <option value="Project Manager">Project Manager</option>
                            <option value="Quality Assurance">Quality Assurance</option>
                            <option value="Finance">Finance</option>
                            <option value="Administration">Administration</option>
                            <option value="Human Resources">Human Resources</option>
                            <option value="C Level">C Level</option>
                        </select>
                    </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.email, new { @type = "email", required = "required", placeholder = "Input Email Employee", @class = "form-control" })
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <input type="submit" name="submit" value="Submit" class="btn btn-success" />
                            </div>
                        </div>
                }
            </div>
        </div>
    </div>
</div>