﻿@model nawadaya_project.Models.ms_personal_data

@{

    if (ViewBag.discnotexist != null)
    {
        <script>
            function codeAddress() {
                $("#discnotexist")
                    .closest(".modal").modal('show');
                $('#discnotexist').on('hidden.bs.modal', function (e) {
                    window.history.back();
                });
            }
            window.onload = codeAddress;
        </script>
    }
    if (@ViewBag.Psychotestscore != null)
    {
        <script>
            function codeAddress() {
                $("#psychotestresult")
                    .closest(".modal").modal('show');
                $('#psychotestresult').on('hidden.bs.modal', function (e) {
                    window.history.back();
                });
            }
            window.onload = codeAddress;
        </script>
    }
    if (@ViewBag.message != null)
    {
        <script>
            function codeAddress() {
                $("#message")
                    .closest(".modal").modal('show');
            }
            window.onload = codeAddress;
        </script>
    }
    if (@ViewBag.statuslogictest != null)
    {
        if (@ViewBag.statuslogictest == 1)
        {
            <script>
                function codeAddress() {
                    $("#logictestresult")
                        .closest(".modal").modal('show');
                    $('#logictestresult').on('hidden.bs.modal', function (e) {
                        window.history.back();
                    });

                }
                window.onload = codeAddress;
            </script>
        }
        else
        {
            <script>
                function codeAddress() {
                    $("#logictestnotexist")
                        .closest(".modal").modal('show');
                    $('#logictestnotexist').on('hidden.bs.modal', function (e) {
                        window.history.back();
                    });

                }
                window.onload = codeAddress;
            </script>
        }
    }
    if (@ViewBag.resent != null)
    {
        <script>
            function codeAddress() {
                $("#modal_resent")
                    .closest(".modal").modal('show');
                $('#modal_resent').on('hidden.bs.modal', function (e) {
                    window.history.back();
                });
            }
            window.onload = codeAddress;
        </script>
    }
    if (@ViewBag.FGDPlace != null)
    {
        <script>
            function codeAddress() {
                $("#FGDDetail")
                    .closest(".modal").modal('show');
                $('#FGDDetail').on('hidden.bs.modal', function (e) {
                    window.history.back();
                });
            }
            window.onload = codeAddress;
        </script>
    }

    @*if (@ViewBag.Email != null)
        {
            <script>
            function codeAddress() {
                $("#Modalalert")
                .closest(".modal").modal('show');
            }
            window.onload = codeAddress;
            </script>
        }*@
}

<!-- Main-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <div style="color:white">
                <h4 class="centered">
                    @if (@Session["FullName"] != null)
                    {
                        @Session["FullName"];
                    }
                </h4>
                <h6 class="centered">
                    @if (@Session["Email"] != null)
                    {
                        @Session["Email"];
                    }
                </h6>
            </div>
            <li class="mt">
                <a href="@Url.Action("Index", "Hr")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("IndexLogicTestProblems", "Hr")">Master Logic Test Problems</a></li>
                    <li><a href="@Url.Action("MsPsychotest", "Hr")">Add Pshycotest Problems</a></li>
                    <li><a href="@Url.Action("MsDISC", "Hr")">Add DISC Problems</a></li>
                    <li class="active"><a href="@Url.Action("Invite", "Hr")">Invite</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Master Data Employee</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("MsEmployee", "Hr")">Add Employee</a></li>
                    <li><a href="@Url.Action("InviteEmployee", "Hr" )">Assessment Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Historical Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("HistoricalApplicantInvitation","Hr")">Applicant Invitation</a></li>
                    <li><a href="@Url.Action("HistoricalEmployeeInvitation","Hr")">Employee Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Report</span>
                </a>
                <ul class="sub">
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaMonthlyTotalApplicants"})"
                           class="nav-link">
                            Total Applicants
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaAverageLogicTestScoreinaMonth"})"
                           class="nav-link">
                            Average Logic Test Score
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaAverageApplicantsIQinaMonth"})"
                           class="nav-link">
                            Average Applicants IQ
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>

<!-- Main-->
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <div class="row mt">
            <div class="col-sm-3">
                <section class="panel">
                    <div class="panel-body">
                        <a href="@Url.Action("Invite", "Hr")" class="btn btn-compose">
                            <i class="fa fa-pencil"></i>  Invite
                        </a>
                        <ul class="nav nav-pills nav-stacked mail-nav">
                            <li><a href="@Url.Action("MsApplicant", "Hr")"> <i class="fa fa-plus"></i> Add Applicant</a></li>
                            <li class="active"><a href="@Url.Action("Progress", "Hr")"> <i class="fa fa-cogs"></i> Progress</a></li>
                            <li><a href="@Url.Action("ForumGroup","Hr")"> <i class="fa fa-group"></i> FGD Invitation</a></li>
                            <li><a href="@Url.Action("ApproveApplicant", "Hr")"> <i class="fa fa-pencil"></i> Status Change</a></li>
                            <li>
                                <a href=@Url.Action("Bootcamp", "Hr") #"> <i class="fa fa-star"></i> Bootcamp</a></a>
                            </li>
                            <li>
                                <a href=@Url.Action("Failed","Hr") #"> <i class="fa fa-trash"></i> Failed</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-sm-9">
                <section class="panel">
                    <header class="panel-heading wht-bg">
                        <h4 class="gen-case">
                            Progress
                        </h4>
                    </header>
                    <div class="panel-body minimal">
                        <table id="example4" class="table table-inbox table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Form</th>
                                    <th>DISC</th>
                                    <th>Psikotes</th>
                                    <th>Tes Logic</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                    if (ViewBag.Inviteapplicant != null)
                                    {
                                        foreach (var item in ViewBag.Inviteapplicant)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.full_name</td>
                                                <td>@item.email</td>
                                                @*@if (item.sent_status == 0)
                                                    {
                                                        <td>
                                                            <a href="@Url.Action("Choosesoal", "Hr", new { email = item.email })" class="btn btn-primary">
                                                                Send Email
                                                            </a>
                                                        </td>
                                                                        <td><span class="label label-danger">Null</span></td>
                                                                        <td><span class="label label-danger">Not Allow</span></td>
                                                                        <td><span class="label label-danger">Not Allow</span></td>
                                                                        <td><span class="label label-danger">Not Allow</span></td>
                                                    }
                                                    else
                                                    {

                                                        <td>
                                                            <a class="btn btn-warning" href="@Url.Action("ConfirmResent", "HR", new { email = item.email })">
                                                                <i class="fa fa-retweet"></i>
                                                            </a>
                                                        </td>*@
                                                <td>
                                                    @if (item.applicant_information_status == 0)
                                                    {
                                                        <text><span class="label label-danger">Unsubmitted</span></text>
                                                    }
                                                    else if (item.applicant_information_status == 1)
                                                    {
                                                        <text><span class="label label-warning">Onprogress</span></text>
                                                    }
                                                    else if (item.applicant_information_status == 3)
                                                    {
                                                        <text><a href="@Url.Action("DetailEmployee", "Hr", new { id = @item.fk_applicant_information_form })"><span class="label label-primary">Submitted</span></a></text>
                                                    }
                                                    else
                                                    {
                                                        <text><span class="label label-danger">null</span></text>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.expiredtime <= DateTime.Now)
                                                    {
                                                        <text><span class="label label-danger">expired</span></text>
                                                    }
                                                    else if (item.disc_status == 0)
                                                    {
                                                        <text><span class="label label-danger">Unsubmitted</span></text>
                                                    }
                                                    else if (item.disc_status == 1)
                                                    {
                                                        <text><span class="label label-warning">Onprogress</span></text>
                                                    }
                                                    else if (item.disc_status == 3)
                                                    {
                                                        <text><a href="@Url.Action("DetailDISC", "Hr", new { id = @item.fk_disc_result })"><span class="label label-primary">Submitted</span></a></text>
                                                    }
                                                    else
                                                    {
                                                        <text><span class="label label-danger">Not Allow</span></text>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.expiredtime <= DateTime.Now)
                                                    {
                                                        <text><span class="label label-danger">expired</span></text>
                                                    }
                                                    else if (item.psychotest_status == 0)
                                                    {
                                                        <text><span class="label label-danger">Unsubmitted</span></text>
                                                    }
                                                    else if (item.psychotest_status == 1)
                                                    {
                                                        <text><span class="label label-warning">Onprogress</span></text>
                                                    }
                                                    else if (item.psychotest_status == 3)
                                                    {
                                                        <text><a href="@Url.Action("DetailPsychotest", "Hr", new { id = @item.fk_psychotest_result })"><span class="label label-primary">Submitted</span></a></text>

                                                    }
                                                    else
                                                    {
                                                        <text><span class="label label-danger">Not Allow</span></text>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.expiredtime <= DateTime.Now)
                                                    {
                                                        <text><span class="label label-danger">expired</span></text>
                                                    }
                                                    else if (item.logictest_status == 0)
                                                    {
                                                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="@item.problems_filename">
                                                            <text><span class="label label-danger">Unsubmitted</span></text>
                                                        </span>
                                                    }
                                                    else if (item.logictest_status == 1)
                                                    {
                                                        <text><span class="label label-warning">Onprogress</span></text>
                                                    }
                                                    else if (item.logictest_status == 2)
                                                    {
                                                        <text><a href="@Url.Action("DetailLogictest", "Hr", new { id = @item.fk_logictest_result })"><span class="label label-primary">Done</span></a></text>
                                                    }
                                                    else if (item.logictest_status == 3)
                                                    {
                                                        <text><a href="@Url.Action("DetailLogictest", "Hr", new { id = @item.fk_logictest_result })"><span class="label label-primary">Submitted</span></a></text>
                                                    }
                                                    else
                                                    {
                                                        <text><span class="label label-danger">Not Allow</span></text>
                                                    }
                                                </td>


                                            </tr>

                                            i++;
                                        }
                                    }

                                }
                        </table>

                    </div>
            </div>
    </section>
    </div>
    </div>
    <div style="margin-bottom:200px">
    </div>
</section>
<!-- /wrapper -->
</section>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="message" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Applicant Invitation</h4>
            </div>
            <div class="modal-body">
                @if (ViewBag.message != null)
                {
                    if (ViewBag.message == 0)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Add is failed</div>
                    }
                    else if (ViewBag.message == 1)
                    {
                        <div class="alert alert-success"><b>Success!</b> An invitation has been sent.</div>
                    }
                    else if (ViewBag.message == 2)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Unable to send email.</div>
                    }
                    else if (ViewBag.message == 3)
                    {
                        <div class="alert alert-success"><b>Success!</b>  An invitation has been re-sent.</div>
                    }
                    else if (ViewBag.message == 10)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Can't Delete!</div>
                    }
                    else
                    {
                        @*<div class="alert alert-danger"><b>Success!</b> Delete is successfull!</div>*@
                    }
                }
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="Modalalert" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Re-send to @ViewBag.Email</h4>
            </div>
            <div class="modal-body">
                Are u sure want to re-send to <b>@ViewBag.FullName</b> ? <br>
                @{
                    if (@ViewBag.starttime != null)
                    {
                        var date = @ViewBag.starttime.ToString("ddd, MMM d \"'\"yy");
                        <text>assessment will start on @date  </text>
                    }
                }

            </div>
            <div class="modal-footer">
                <a href="@Url.Action("Choosesoal", "Hr", new { email = @ViewBag.Email, status = 1 })" class="btn btn-primary">
                    Yes
                </a>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modal_resent" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("ResentEmail", "Hr", FormMethod.Post))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Resent Choose Assessments to <br>@ViewBag.Emailapplicant</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="problem" name="problem" value="2,3,4,">
                    @Html.HiddenFor(m => m.email, new { @Value = @ViewBag.Emailapplicant })
                    @{
                        <label>Start :</label><br>
                        <input type="date" required name="start" id="startdate" class="form-control"><br>
                        <label>End :</label><br>
                        <input type="date" required name="end" id="enddate" class="form-control"><br>
                        <label>Choose Logic Test Problem :</label><br>
                        <select required name="logictestproblem" id="selectproblem" class="form-control">
                            @if (ViewBag.logictest != null)
                            {
                                <option value="">Select Problem</option>
                                foreach (var x in ViewBag.logictest)
                                {
                                    string idp = x.pk_logictest_problems_id.ToString();
                                    <option value="@idp">@x.problems_filename</option>
                                }
                            }
                        </select>
                    }

                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <input type="submit" name="submit" value="Submit" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="logictestnotexist" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Result Logictest @ViewBag.fullname_logictest : @ViewBag.emaillogictest</h4>
            </div>
            <div class="modal-body">
                Sorry, Score Doesn't exist because examiner hasn't input the score
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="logictestresult" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Result Logictest @ViewBag.fullname_logictest : @ViewBag.emaillogictest</h4>
            </div>
            <div class="modal-body">
                <p align="center">
                    <h4>Score :</h4>
                    <h1>@ViewBag.score</h1>
                </p>
                <br>
                @{ var path2 = ViewBag.problem_path + "/" + ViewBag.problem;
                    var problem_path = path2.Substring(1);
                    var app_path = Url.Content("~/");
                    var URL = app_path + problem_path;
                }
                @{ var path = ViewBag.solution_path + "/" + ViewBag.solution;
                    var solution_path = path.Substring(1);
                    var URLsolutionDL = app_path + solution_path;
                }
                Problem : <a href="@URL" target="_blank">@ViewBag.problem</a><br>
                Solution : <a href="@URLsolutionDL" target="_blank">@ViewBag.solution</a><br>
                Note : @ViewBag.note
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="psychotestresult" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Result Psychotest</h4>
            </div>
            <div class="modal-body">
                <p align="center">
                    <h1>IQ : <b>@ViewBag.Psychotestscore</b></h1>
                    <h3>Score : @ViewBag.IQ</h3>

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="discnotexist" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Disc Doesn't Exist</h4>
            </div>
            <div class="modal-body">
                Disc @ViewBag.namedisc doesn't exist.

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="FGDDetail" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Detail FGD</h4>
            </div>
            <div class="modal-body">


                Applicant Name : @ViewBag.FGDName<br><br>
                Email : @ViewBag.FGDEmail<br><br>
                Place : @ViewBag.FGDPlace<br><br>
                Start Date :
                @{
                    if (ViewBag.FGDDate != null)
                    {
                        var assess_start = ViewBag.FGDDate.ToString("dddd, dd MMMM yyyy");
                        <text>@assess_start<br><br></text>
                        var time_start = ViewBag.FGDDate.ToString("hh:mm");
                        <text>Start Time : @time_start<br></text>
                }
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    (function () {
        $('#startdate').attr('min', moment().format('YYYY-MM-DD'))
        $('#startdate').on('change', function (e) {
            var startDate = $(this).val();
            var endDate = moment(startDate).add(1, 'days').format('YYYY-MM-DD');
            $('#enddate').attr('min', endDate);
        })
    })()
</script>