﻿
@using ReportViewerForMvc;
@{

    ViewBag.Title = "ReportTotalApplicantRecruit";
}


<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <div style="color:white">
                <h4 class="centered">
                    @if (@Session["FullName"] != null)
                    {
                        @Session["FullName"];
                    }
                </h4>
                <h6 class="centered">
                    @if (@Session["Email"] != null)
                    {
                        @Session["Email"];
                    }
                </h6>
            </div>
            <li class="mt">
                <a href="@Url.Action("Index", "Hr")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("IndexLogicTestProblems", "Hr")">Master Logic Test Problems</a></li>
                    <li><a href="@Url.Action("MsPsychotest", "Hr")">Add Pshycotest Problems</a></li>
                    <li><a href="@Url.Action("MsDISC", "Hr")">Add DISC Problems</a></li>
                    <li><a href="@Url.Action("Invite", "Hr")">Invite</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Master Data Employee</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("MsEmployee", "Hr")">Add Employee</a></li>
                    <li><a href="@Url.Action("InviteEmployee", "Hr" )">Assessment Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Historical Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("HistoricalApplicantInvitation","Hr")">Applicant Invitation</a></li>
                    <li><a href="@Url.Action("HistoricalEmployeeInvitation","Hr")">Employee Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Report</span>
                </a>
                <ul class="sub">
                    <li>
                        <a  href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaMonthlyTotalApplicants"})"
                           class="nav-link">
                            Total Applicants
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaAverageLogicTestScoreinaMonth"})"
                           class="nav-link">
                            Average Logic Test Score
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ReportTotalApplicantRecruit","HR",new { ssrsname =  "NawadayaAverageApplicantsIQinaMonth"})"
                           class="nav-link">
                            Average Applicants IQ
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>


<section id="main-content">
    <section class="wrapper site-min-height">
        <h3>Report</h3>
        <div class="row mt">
            <div class="col-lg-12">
                @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
            </div>
        </div>
    </section>
    <!-- /wrapper -->
</section>


<script>
    $(function () {
        $("iframe[src*='Viewer']").width("95%");
    }
    );
</script>





