﻿@model nawadaya_project.Models.ReportInfo

@{
    ViewBag.Title = "Report";
    ViewBag.Code = new { id = 0, name = "" };
    int num_employee = 1;
}
<body>



    <div class="card-block table-border-style">

    </div>


</body>

