﻿@{
    var pk_id = ViewBag.ID;
    var link = ViewBag.link;
    var EndTime = @ViewBag.EndTime_LT;
    var StartTime = DateTime.UtcNow;
    int TimeRemaining = (int)TimeSpan.FromTicks(EndTime.Ticks - StartTime.Ticks).TotalSeconds;
}
<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nawa Data Logic Test</title>

    <!-- Font Awesome Icons -->
    @Styles.Render("~/Content/rekruitmen")
    <script src="~/Content/jquery.js"></script>
</head>
<body id="page-top">

    <!-- Navigation -->
    @Html.Partial("NavLogicTestUploadSolutions")
    @RenderBody()

    <!-- Footer -->
    <footer class="bg-light py-5">
        <div class="container">
            <div class="small text-center text-muted">Copyright &copy; 2020 - Nawa Daya</div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/rekruitmen")

    <script type="text/javascript" src="~/Content/mdb.min.js"></script>
    <script>
    var remSeconds = @TimeRemaining;

    function formatnumber(number)
    {
        if (number < 10) return '0' + number;
        else return '' + number;
    }

    function startTick()
    {
        if (remSeconds <= 0) {
            document.getElementById('SecRemaining').innerText = '00';
            document.getElementById('MinRemaining').innerText = '00';
            document.getElementById('HrRemaining').innerText = '00';
            alert('Your exam time has expired');
                clearInterval(_tick);
                        window.location.href="@Url.Action("nulltestlogic","Recruitment", new { obj = link })";
        }
        else
        {
            document.getElementById('SecRemaining').innerText = formatnumber(remSeconds%60);
        document.getElementById('MinRemaining').innerText = formatnumber(parseInt((remSeconds / 60)%60));
        document.getElementById('HrRemaining').innerText = formatnumber(parseInt(remSeconds/3600));

        var _tick = setInterval(function ()
        {
            if (remSeconds > 0)
            {
                remSeconds = remSeconds - 1;

                document.getElementById('SecRemaining').innerText = formatnumber(remSeconds%60);
                document.getElementById('MinRemaining').innerText = formatnumber(parseInt((remSeconds / 60)%60));
                document.getElementById('HrRemaining').innerText = formatnumber(parseInt(remSeconds/3600));
            }
            else
            {
                document.getElementById('SecRemaining').innerText = '00';
                document.getElementById('MinRemaining').innerText = '00';
                document.getElementById('HrRemaining').innerText = '00';
                alert('Your exam time has expired');
                clearInterval(_tick);
                window.location.href="@Url.Action("nulltestlogic","Recruitment", new { obj = link })";
            }


        }, 1000);
        }

    }
    startTick();

    </script>

</body>



</html>

