﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Recruitment Nawadaya</title>

    <!-- Font Awesome Icons -->
    @Styles.Render("~/Content/rekruitmen")
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
</head>
<body id="page-top">

    <!-- Navigation -->
    @Html.Partial("NavRecruitment")
    @RenderBody()

    <!-- Footer -->
    @*<footer class="site-footer">
            <div class="text-center">
                <p>
                    &copy; Copyrights <strong>Nawadaya</strong>. All Rights Reserved
                </p>
                <div class="credits">

                    Created by Bootcamp 2019
                </div>
            </div>
        </footer>*@

    <footer class="bg-light py-5">
        <div class="container">
            <div class="small text-center text-muted">Copyright &copy; 2020 - Nawadaya</div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/rekruitmen")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/Content/mdb.min.js"></script>
</body>

</html>

