﻿@model nawadaya_project.Models.ms_personal_data
<!-- Main-->
@{


        if (@ViewBag.Changeemployee !=null)
        {
            <script>
        function codeAddress() {
            $("#changeemployee")
            .closest(".modal").modal('show');
            $('#changeemployee').on('hidden.bs.modal', function (e) {
                window.history.back();
            });
        }
        window.onload = codeAddress;
            </script>
        }
     

}

<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <div style="color:white">
                <h4 class="centered">
                    @if (@Session["FullName"] != null)
                    {
                        @Session["FullName"];
                    }
                </h4>
                <h6 class="centered">
                    @if (@Session["Email"] != null)
                    {
                        @Session["Email"];
                    }
                </h6>
            </div>
            <li class="mt">
                <a href="@Url.Action("Index", "Hr")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("IndexLogicTestProblems", "Hr")">Master Logic Test Problems</a></li>
                    <li><a href="@Url.Action("MsPsychotest", "Hr")">Add Pshycotest Problems</a></li>
                    <li><a href="@Url.Action("MsDISC", "Hr")">Add DISC Problems</a></li>
                    <li class="active"><a href="@Url.Action("Invite", "Hr")">Invite</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Master Data Employee</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("MsEmployee", "Hr")">Add Employee</a></li>
                    <li><a href="@*Url.Action(" Invite", "Hr" )*@">Assessment Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Historical Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("HistoricalApplicantInvitation","Hr")">Applicant Invitation</a></li>
                    <li><a href="@Url.Action("HistoricalEmployeeInvitation","Hr")">Employee Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Report</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action()">Report1</a></li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>

<!-- Main-->
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <div class="row mt">
            <div class="col-sm-3">
                <section class="panel">
                    <div class="panel-body">
                        <a href="@Url.Action("Invite","Hr")" class="btn btn-compose">
                            <i class="fa fa-pencil"></i>  Invite
                        </a>
                        <ul class="nav nav-pills nav-stacked mail-nav">
                            <li><a href="@Url.Action("MsApplicant","Hr")"> <i class="fa fa-plus"></i> Add Applicant</a></li>
                            <li><a href="@Url.Action("Progress","Hr")"> <i class="fa fa-cogs"></i> Progress</a></li>
                            <li class="active"><a href="@Url.Action("ApproveApplicant","Hr")"> <i class="fa fa-pencil"></i> Change's Status</a></li>
                            <li>
                                <a href=@Url.Action("Bootcamp","Hr") #"> <i class="fa fa-star"></i> Bootcamp</a>
                            </li>
                            <li>
                                <a href=@Url.Action("Failed","Hr") #"> <i class="fa fa-trash"></i> Failed</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-sm-9">
                <section class="panel">
                    <header class="panel-heading wht-bg">
                        <h4 class="gen-case">
                            progress
                        </h4>
                    </header>
                    <div class="panel-body minimal">
                        <table id="example4" class="table table-inbox table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th colspan="2">Name</th>
                                    <th>Email</th>
                                    <th>Result
                                    </th>
                                    <th>Status</th>
                                </tr>
                            </thead>

                            @{
                                int i = 1;
                                if (ViewBag.Inviteapplicant != null)
                                {
                                    foreach (var item in ViewBag.Inviteapplicant)
                                    {
                                        <tbody>
                                            <tr>
                                                <td>@i</td>
                                                <td colspan="2">@item.full_name</td>
                                                <td>@item.email</td>

                                                <td>
                                                    <text><a href="@Url.Action("DetailEmployee","Hr",new { id = @item.fk_applicant_information_form})"><span class="label label-primary">Form</span></a></text>&nbsp;&nbsp;
                                                    <text><a href="@Url.Action("DetailDISC","Hr",new { id = @item.fk_disc_result})"><span class="label label-primary">DISC</span></a></text><br>
                                                    <text><a href="@Url.Action("DetailPsychotest","Hr",new { id = @item.fk_psychotest_result})"><span class="label label-primary">Psychotest</span></a></text>&nbsp;&nbsp;
                                                    <text><a href="@Url.Action("DetailLogictest","Hr",new { id = @item.fk_logictest_result})"><span class="label label-primary">Logictest</span></a></text><br>
                                                </td>
                                                <td>
                                                    @if (item.logictest_score != null)
                                                    {
                                                        <a href="@Url.Action("ChangeStatus", "Hr", new {fullname = item.full_name,email = @item.email, status = 2,position="" })" class="label label-primary">
                                                            <font color="white"> Change as Bootcamp</font>
                                                        </a> <text>&nbsp;&nbsp;</text>
                                                        <a href="@Url.Action("ChangeStatus", "Hr", new { fullname = item.full_name,email = item.email, status = 3,position="" })" class="label label-warning">
                                                            <font color="white">  Change as Employee</font>
                                                        </a><br>
                                                        <a href="@Url.Action("ChangeStatus", "Hr", new { fullname = item.full_name,email = item.email, status = 4,position="" })" class="label label-danger">
                                                            <font color="white">  Change as Failed</font>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <text><span class="label label-danger">Can't change status before examiner input the score</span></text>

}

                                                </td>
                                            </tr>
                                        </tbody>

                                        i++;
                                    }
                                }

                            }

                        </table>

                    </div>
</div>
    </section>
    </div>
    </div>
    <div style="margin-bottom:200px">
    </div>
</section>
<!-- /wrapper -->
</section>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="message" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Alert!</h4>
            </div>
            <div class="modal-body">
                @if (ViewBag.message != null)
                {
                    if (ViewBag.message == 0)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Add is failed</div>
                    }
                    else if (ViewBag.message == 1)
                    {
                        <div class="alert alert-success"><b>Success!</b> Add is successfull!</div>
                    }
                    else if (ViewBag.message == 2)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Email is already exist!</div>
                    }
                    else if (ViewBag.message == 10)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Can't Delete!</div>
                    }
                    else
                    {
                        <div class="alert alert-danger"><b>Success!</b> Delete is successfull!</div>
                    }
                }
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="changeemployee" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Change as Employee : @ViewBag.Fullname, @ViewBag.EmailEmployee</h4>
            </div>
    @using (Html.BeginForm("ChangeStatus", "HR", FormMethod.Post))
    {
        <div class="modal-body">

            <div class="col-md-3">
                <label>Position :</label>
            </div>
            <input type="hidden" name="email" value="@ViewBag.EmailEmployee">
            <input type="hidden" name="fullname" value="@ViewBag.Fullname">
            <input type="hidden" name="status" value="3">

            <div class="col-md-9">
                <select name="position" required class="form-control">
                    <option value="">Select Position</option>
                    <option value="Developer">Developer</option>
                    <option value="Technical Leader">Technical Leader</option>
                    <option value="Project Manager">Project Manager</option>
                    <option value="Quality Assurance">Quality Assurance</option>
                    <option value="Finance">Finance</option>
                    <option value="Administration">Administration</option>
                    <option value="Human Resources">Human Resources</option>
                    <option value="C Level">C Level</option>
                </select>
            </div>
            <br><br>
        </div>
                            <div class="modal-footer">
<input type="submit" value="submit" class="btn btn-success">
                            </div>
    }
            
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="logictestnotexist" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Result Logictest @ViewBag.fullname_logictest : @ViewBag.emaillogictest</h4>
            </div>
            <div class="modal-body">
                Sorry, Score Doesn't exist because examiner hasn't input the score
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="logictestresult" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Result Logictest @ViewBag.fullname_logictest : @ViewBag.emaillogictest</h4>
            </div>
            <div class="modal-body">
                <p align="center">
                    <h4>Score :</h4>
                    <h1>@ViewBag.score</h1>
                </p>
                <br>
                Note : @ViewBag.note<br>
                Problem : @ViewBag.problem<br>
                Solution : @ViewBag.solution
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="psychotestresult" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Result Psychotest</h4>
            </div>
            <div class="modal-body">
                <p align="center">
                    <h4>IQ :</h4>
                    <h1>@ViewBag.Psychotestscore</h1>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>