﻿<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <div style="color:white">
                <h4 class="centered">
                    @if (@Session["FullName"] != null)
                    {
                        @Session["FullName"];
                    }
                </h4>
                <h6 class="centered">
                    @if (@Session["Email"] != null)
                    {
                        @Session["Email"];
                    }
                </h6>
            </div>
            <li class="mt">
                <a href="@Url.Action("Index", "Hr")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("IndexLogicTestProblems", "Hr")">Master Logic Test Problems</a></li>
                    <li><a href="@Url.Action("MsPsychotest", "Hr")">Add Pshycotest Problems</a></li>
                    <li><a href="@Url.Action("MsDISC", "Hr")">Add DISC Problems</a></li>
                    <li><a href="@Url.Action("Invite", "Hr")">Invite</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Master Data Employee</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("MsEmployee", "Hr")">Add Employee</a></li>
                    <li><a href="@*Url.Action(" Invite", "Hr" )*@">Assessment Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Historical Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("HistoricalApplicantInvitation","Hr")">Applicant Invitation</a></li>
                    <li><a href="@Url.Action("HistoricalEmployeeInvitation","Hr")">Employee Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Report</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action()">Report1</a></li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!-- Main-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <h3>Detail DISC @ViewBag.NameDISC</h3>
        <div class="card-header">
            <p><a href="javascript:history.go(-1)" class="btn btn-success">&laquo; Go back</a></p>

        </div>
            <div class="col-lg-12">
                <table class="table" style="background:white">
                    <thead>
                        <tr>
                            <th><p align="center">#</p></th>
                            <th><p align="center">D</p></th>
                            <th><p align="center">I</p></th>
                            <th><p align="center">S</p></th>
                            <th><p align="center">C</p></th>
                            <th><p align="center">*</p></th>
                            <th><p align="center">Total</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.DetailDISC != null)
                        {
                            foreach (var x in ViewBag.DetailDISC)
                            {
                                <tr>
                                    <td><p align="center">M</p></td>
                                    <td><p align="center">@x.MD</p></td>
                                    <td><p align="center">@x.MI</p></td>
                                    <td><p align="center">@x.MS</p></td>
                                    <td><p align="center">@x.MC</p></td>
                                    <td><p align="center">@x.xM</p></td>
                                    <td><p align="center">@x.Total_M</p></td>
                                </tr>
                                <tr>
                                    <td><p align="center">L</p></td>
                                    <td><p align="center">@x.LD</p></td>
                                    <td><p align="center">@x.LI</p></td>
                                    <td><p align="center">@x.LS</p></td>
                                    <td><p align="center">@x.LC</p></td>
                                    <td><p align="center">@x.xL</p></td>
                                    <td><p align="center">@x.Total_L</p></td>
                                </tr>
                                <tr>
                                    <td><p align="center">A</p></td>
                                    <td><p align="center">@x.AD</p></td>
                                    <td><p align="center">@x.AI</p></td>
                                    <td><p align="center">@x.AS</p></td>
                                    <td><p align="center">@x.AC</p></td>
                                    <td><p align="center">&nbsp</p></td>
                                    <td><p align="center">&nbsp</p></td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4">
                        <div id="chartContainer" style="height: 500px; width: 100%;">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div id="chartContainer2" style="height: 500px; width: 100%;">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div id="chartContainer3" style="height: 500px; width: 100%;">
                        </div>
                    </div>
                </div>
                <br>
                <br>
             </div>
                    <div class="col-lg-4">
                        <!-- REVENUE PANEL -->
                        <div class="green-panel" style="background-color:white" >
                            <div class="green-header">
                                <h5>Keperibadian di muka umum</h5>
                            </div>
                          @foreach (var item in ViewBag.FinalResult)
                          {
                            @item.mostA<br><br>
                            @item.mostB<br><br>
                            @item.mostC<br><br>
                            @item.mostD<br><br>
                            @item.mostE<br><br>
                            @item.mostF<br><br>
                            @item.mostG<br><br>
                            @item.mostH<br><br>
                            @item.mostI<br><br>
                            @item.mostJ<br><br>
                            @item.mostK<br><br>
                            @item.mostL<br><br>
                            @item.mostM<br><br>
                          }
                        </div>                       
                     </div>
        <br>
        <div class="col-lg-4">
            <!-- REVENUE PANEL -->
            <div class="green-panel" style="background-color:white">
                <div class="green-header">
                    <h5>Kepribadian saat mendapat tekanan</h5>
                </div>
                @foreach (var item in ViewBag.FinalResult)
                {

                    @item.leastA<br><br>
                    @item.leastB<br><br>
                    @item.leastC<br><br>
                    @item.leastD<br><br>
                    @item.leastE<br><br>
                    @item.leastF<br><br>
                    @item.leastG<br><br>
                    @item.leastH<br><br>
                    @item.leastI<br><br>
                    @item.leastJ<br><br>
                    @item.leastK<br><br>
                    @item.leastL<br><br>
                    @item.leastM<br><br>
                }
            </div>
        </div>

        <div class="col-lg-4">
            <!-- REVENUE PANEL -->
            <div class="green-panel" style="background-color:white">
                <div class="green-header">
                    <h5>Kepribadian asli yang tersembunyi</h5>
                </div>
                @foreach (var item in ViewBag.FinalResult)
                {

                    @item.changeA<br><br>
                    @item.changeB<br><br>
                    @item.changeC<br><br>
                    @item.changeD<br><br>
                    @item.changeE<br><br>
                    @item.changeF<br><br>
                    @item.changeG<br><br>
                    @item.changeH<br><br>
                    @item.changeI<br><br>
                    @item.changeJ<br><br>
                    @item.changeK<br><br>
                    @item.changeL<br><br>
                    @item.changeM<br><br>


                }
            </div>
        </div>
        <br>
        <div class="col-lg-12" style="margin-top:10px">
            <!-- REVENUE PANEL -->
            <div class="green-panel pn"  style="background-color:white">
                <div class="green-header">
                    <h5>Deskripsi Kepribadian</h5>
                </div>
                @foreach (var item in ViewBag.FinalResult)
                {
                            @item.change_descr
                       
                }
            </div>
        </div>
        <br>
        <div class="col-lg-12" style="margin-top:10px">
            <!-- REVENUE PANEL -->
            <div class="green-panel pn" style="background-color:white">
                <div class="green-header">
                    <h5>Job Match </h5>
                </div>
                @foreach (var item in ViewBag.FinalResult)
                {
                    @item.change_jobs_match

                }
            </div>
        </div>

    </section>
    <!-- /wrapper -->
</section>

<script type="text/javascript">

    window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      title:{
        text: "Graph [M] Most Mask Public Self "

      },
      data: [{
        type: "column",
        dataPoints: [
            { label: "", y: 2, color: "transparent" },
            { label: "", y: -6, color: "transparent" },
            { label: "", y: -4, color: "transparent" },
            { label: "", y: -2, color: "transparent" }
        ]
      },
      {
        type: "line",
        dataPoints: @Html.Raw(ViewBag.DataPoints1),

      }

      ]
    });
    var chart2 = new CanvasJS.Chart("chartContainer2",
    {
        title: {
            text: "Graph [L] Least Core Private Self "

        },
        data: [{
            type: "column",
            dataPoints: [
            { label: "", y: 2, color: "transparent" },
            { label: "", y: -6, color: "transparent" },
            { label: "", y: -4, color: "transparent" },
            { label: "", y: -2, color: "transparent" }
            ]
        },
        {
            type: "line",
            dataPoints: @Html.Raw(ViewBag.DataPoints2),
        }

        ]
    });
    var chart3 = new CanvasJS.Chart("chartContainer3",
    {
        title: {
            text: "Graph [A] Change Mirror Perceived Self "

        },
        data: [{
        type: "column",
        dataPoints: [
            { label: "", y: 2, color: "transparent" },
            { label: "", y: -6, color: "transparent" },
            { label: "", y: -4, color: "transparent" },
            { label: "", y: -2, color: "transparent" }
            ]

        },
        {
            type: "line",
            dataPoints: @Html.Raw(ViewBag.DataPoints3),
        }

        ]
    });
    chart.render();
    chart2.render();
    chart3.render();
  }
</script>