﻿@model IEnumerable<nawadaya_project.Models.ms_logictest_problems>

@{
    ViewBag.Title = "IndexLogicTestProblems";
    int num_pdf = 1;
    if (@ViewBag.message != null)
    {
        <script>
            function codeAddress() {
                $("#modalfailedupload")
                    .closest(".modal").modal('show');
            }
            window.onload = codeAddress;
        </script>
    }
}

<!-- Main-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <div style="color:white">
                <h4 class="centered">
                    @if (@Session["FullName"] != null)
                    {
                        @Session["FullName"];
                    }
                </h4>
                <h6 class="centered">
                    @if (@Session["Email"] != null)
                    {
                        @Session["Email"];
                    }
                </h6>
            </div>
            <li class="mt">
                <a href="@Url.Action("Index", "Hr")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Recruitment</span>
                </a>
                <ul class="sub">
                    <li class="active"><a href="@Url.Action("IndexLogicTestProblems", "Hr")">Master Logic Test Problems</a></li>
                    <li><a href="@Url.Action("MsPsychotest", "Hr")">Add Pshycotest Problems</a></li>
                    <li><a href="@Url.Action("MsDISC", "Hr")">Add DISC Problems</a></li>
                    <li><a href="@Url.Action("Invite", "Hr")">Invite</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Master Data Employee</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("MsEmployee", "Hr")">Add Employee</a></li>
                    <li><a href="@*Url.Action(" Invite", "Hr" )*@">Assessment Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Historical Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("HistoricalApplicantInvitation","Hr")">Applicant Invitation</a></li>
                    <li><a href="@Url.Action("HistoricalEmployeeInvitation","Hr")">Employee Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Report</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action()">Report1</a></li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>

<section id="main-content">
    <section class="wrapper site-min-height">
        <h3>Master Logic Test</h3>
        <div class="card-header">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addduraion">
                Set Logic Test Duration
            </button><br><br>
            @if (ViewBag.CurrentDuration == " ")
            {
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#durationnull">
                    Add Logic Test Problems
                </button>
            }
            else
            {
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPDFModal">
                    Add Logic Test Problems
                </button>
            }
            
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="addPDFModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Add File as New Logic Test Problems </h4>
                        </div>

                        @using (Html.BeginForm("AddLogicTestPDF", "HR", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @*@Html.AntiForgeryToken()*@
                            <div class="modal-body">
                                <div class="col-sm-3">
                                    <label><h5>Upload PDF file :</h5></label>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        @*<button class="btn btn-primary">Upload</button>*@
                                        @Html.TextBox("file", "", new { type = "file", accept = "application/pdf", @class = "form-control" }) <br />
                                        @*<button class="btn btn-primary">Upload</button>*@

                                    </div>
                                </div>
                            </div>
                            <br><br><br><br>
                            <div class="modal-footer">
                                <input class="btn btn-primary" type="submit" value="Upload" />
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="addduraion" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Set Duration </h4>
                        </div>

                        @using (Html.BeginForm("UpdateLogicTestDuration", "HR", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-4">@ViewBag.InfoDuration</div>
                                        <div class="col-md-4">@ViewBag.CurrentDuration</div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label><h5>Set Time :</h5></label>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-2">
                                            <select name="hours" class="form-control">
                                                @for (int i = 0; i < 24; i++)
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <label><h5>Hours</h5></label>
                                        </div>

                                        <div class="col-md-2">
                                            <select name="minutes" class="form-control">
                                                @for (int a = 0; a < 60; a++)
                                                {
                                                    <option value="@a">@a</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <label><h5>Minutes</h5></label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br><br><br><br>
                            <div class="modal-footer">
                                <input class="btn btn-primary" type="submit" value="Submit" />
                            </div>
                            }
                        </div>
                    </div>
            </div>

            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="durationnull" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            Add File as New Logic Test Problems 
                        </div>
                        <div class="modal-body">
                            Set logic test duration before add logic test problems.
                        </div>

                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                            </div>
                        
                    </div>
                </div>
            </div>





            <div id="modalfailedupload" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLiveLabel">Confimation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <p>@ViewBag.message</p>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn  btn-secondary" data-dismiss="modal">No</button>
                            @*@Html.ActionLink("Select PDF", "SelectPDF", new { id = @item.pk_logictest_pdf_id }, new { @class = "btn btn-danger" })*@
                        </div>
                    </div>
                </div>
            </div>

            @*<a href="@Url.Action("AddLogicTestPDF","UploadPDF")" class="btn btn-primary">Add New Logic Test Problem</a>*@
        </div>
        <div class="row mt">
            <div class="col-lg-12">
                <table id="example2" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Problems Name</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(num_pdf++)</td>
                                    @{ var path = item.problems_path + "/" + item.problems_filename;
                                        var problem_path = path.Substring(1);
                                    }
                                <td><a href="@problem_path" target="_blank">@Html.DisplayFor(modelItem => item.problems_filename)</a></td>
                                @*<td>@Html.DisplayFor(modelItem => item.active_problems)</td>*@
                                @Html.HiddenFor(modelItem => item.problems_path)

                            </tr>

                        }
                </table>

                <!-- /Message Panel-->
            </div>

        </div>
    </section>
    <!-- /wrapper -->
</section>





