﻿<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <div style="color:white">
                <h4 class="centered">
                    @if (@Session["FullName"] != null)
                    {
                        @Session["FullName"];
                    }
                </h4>
                <h6 class="centered">
                    @if (@Session["Email"] != null)
                    {
                        @Session["Email"];
                    }
                </h6>
            </div>
            <li class="mt">
                <a class="active" href="@Url.Action("Index", "Hr")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("IndexLogicTestProblems", "Hr")">Master Logic Test Problems</a></li>
                    <li><a href="@Url.Action("MsPsychotest", "Hr")">Add Pshycotest Problems</a></li>
                    <li><a href="@Url.Action("MsDISC", "Hr")">Add DISC Problems</a></li>
                    <li><a href="@Url.Action("Invite", "Hr")">Invite</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Master Data Employee</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("MsEmployee", "Hr")">Add Employee</a></li>
                    <li><a href="@*Url.Action(" Invite", "Hr" )*@">Assessment Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Historical Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("HistoricalApplicantInvitation","Hr")">Applicant Invitation</a></li>
                    <li><a href="@Url.Action("HistoricalEmployeeInvitation","Hr")">Employee Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Report</span>
                </a>
                <ul class="sub">
                    <li>
                        @*<a href="@Url.Action()">Report1</a>*@
                        <a href="@Url.Action("ReportTotalApplicant","HR",
                                         new {   ReportName ="NawadayaTotalRecruitinaMonth",
                                                ReportDescription = "Monthly Total Recruit",
                                                Width = 100,
                                                Height = 650
                                        })"
                           class="nav-link">
                            Total Applicants
                            @*<span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
        <span class="pcoded-mtext" data-i18n="nav.form-components.main">Report</span>
        <span class="pcoded-mcaret"></span>*@
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!-- Main-->
<!--  menu -->
<section id="main-content">
    <section class="wrapper site-min-height">
        <h3>Dashboard</h3>
        <div class="row mt">
            <div class="col-sm-4">
                <!-- REVENUE PANEL -->
                <div style="height:150px;background-color:white" class="green-panel pn">
                    <div class="green-header">
                        <h5>Employee</h5>
                    </div>
                    <font size="72">@ViewBag.countemployee</font>
                </div>
            </div>
            <div class="col-sm-4">
                <!-- REVENUE PANEL -->
                <div style="height:150px;background-color:white" class="green-panel pn">
                    <div class="green-header">
                        <h5>Uninvited Applicant</h5>
                    </div>
                    <font size="72">@ViewBag.countuninvited</font>
                </div>
            </div>
            <div class="col-sm-4">
                <!-- REVENUE PANEL -->
                <div style="height:150px;background-color:white" class="green-panel pn">
                    <div class="green-header">
                        <h5>Applicant On Progress</h5>
                    </div>
                    <font size="72">@ViewBag.countinvited</font>
                </div>
            </div>

            <div style="margin-top:30px" class="col-lg-12">
                <table id="example2" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>NIP</th>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Create By</th>
                            <th>Date Create</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            if (ViewBag.MsEmployee != null)
                            {
                                foreach (var item in ViewBag.MsEmployee)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>
                                            <a href="@Url.Action("DetailEmployee", "HR", new { id = item.pk_employee })">
                                                @item.NIP
                                            </a>
                                        </td>
                                        <td>@item.full_name</td>
                                        <td>@item.position</td>
                                        <td>@item.created_by</td>
                                        <td>@item.date_created</td>
                                    </tr>
                                    i++;
                                }
                            }
                        }
                </table>
                <!-- /Message Panel-->
            </div>
        </div>
    </section>
    <!-- /wrapper -->
</section>