﻿@model nawadaya_project.Models.ms_personal_data

@{
    if (@ViewBag.Emailapplicant != null)
    {
        <script>
        function codeAddress() {
            $("#modalinvite")
            .closest(".modal").modal('show');
            
        }
        window.onload = codeAddress;
        </script>
    }

    if (@ViewBag.message != null)
    {
        <script>
        function codeAddress() {
            $("#message")
            .closest(".modal").modal('show');
        }
        window.onload = codeAddress;
        </script>
    }
}

<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <div style="color:white">
                <h4 class="centered">
                    @if (@Session["FullName"] != null)
                    {
                        @Session["FullName"];
                    }
                </h4>
                <h6 class="centered">
                    @if (@Session["Email"] != null)
                    {
                        @Session["Email"];
                    }
                </h6>
            </div>
            <li class="mt">
                <a href="@Url.Action("Index", "Hr")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("IndexLogicTestProblems", "Hr")">Master Logic Test Problems</a></li>
                    <li><a href="@Url.Action("MsPsychotest", "Hr")">Add Pshycotest Problems</a></li>
                    <li><a href="@Url.Action("MsDISC", "Hr")">Add DISC Problems</a></li>
                    <li class="active"><a href="@Url.Action("Invite", "Hr")">Invite</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Master Data Employee</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("MsEmployee", "Hr")">Add Employee</a></li>
                    <li><a href="@*Url.Action(" Invite", "Hr" )*@">Assessment Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Historical Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("HistoricalApplicantInvitation","Hr")">Applicant Invitation</a></li>
                    <li><a href="@Url.Action("HistoricalEmployeeInvitation","Hr")">Employee Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Report</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action()">Report1</a></li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!-- Main-->
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <div class="row mt">
            <div class="col-sm-3">
                <section class="panel">
                    <div class="panel-body">
                        <a href="@Url.Action("Invite","Hr")" class="btn btn-compose">
                            <i class="fa fa-pencil"></i>  Invite
                        </a>
                        <ul class="nav nav-pills nav-stacked mail-nav">
                            <li><a href="@Url.Action("MsApplicant","Hr")"> <i class="fa fa-plus"></i> Add Applicant</a></li>
                            <li><a href="@Url.Action("Progress","Hr")"> <i class="fa fa-cogs"></i> Progress</a></li>
                            <li><a href="@Url.Action("ApproveApplicant","Hr")"> <i class="fa fa-pencil"></i> Change's Status</a></li>
                            <li>
                                <a href=@Url.Action("Bootcamp","Hr") #"> <i class="fa fa-star"></i> Bootcamp</a></a>
                            </li>
                            <li>
                                <a href=@Url.Action("Failed","Hr") #"> <i class="fa fa-trash"></i> Failed</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-sm-9">
                <section class="panel">
                    <header class="panel-heading wht-bg">
                        <h4 class="gen-case">
                            Invite Applicant
                        </h4>
                    </header>
                    <div class="form-group">
                        @using (Html.BeginForm("DetailReceiver", "HR", FormMethod.Post))
                        {
                            <div class="col-lg-10">
                                <select name="item" required class="form-control">
                                    @if (ViewBag.Inviteapplicant != null)
                                    {
                                        if (ViewBag.boxname != null)
                                        {
                                            String show = ViewBag.boxname.Substring(0, ViewBag.boxname.Length - 4);
                                            <option value="@ViewBag.boxname">@show</option>
                                        }
                                        else
                                        {
                                            <option value="">Select Applicant</option>

                                        }
                                        foreach (var item in ViewBag.Inviteapplicant)
                                        {
                                            string id = item.full_name + " - " + item.email;
                                            string id2 = item.full_name + " - " + item.email + " - " + item.status_employee;
                                            <option value="@id2">@id</option>
                                        }
                                    }
                                </select>

                            </div>
                            <div class="col-lg-2">
                                <input type="submit" class="btn btn-success" value="Submit">
                            </div>
                        }
                        <br><br>
                    </div>

                    <div class="panel-body minimal">
                        <table id="example4" class="table table-inbox table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Invite</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (ViewBag.Inviteapplicant2 != null)
                                    {
                                        int i = 1;
                                        foreach (var item in ViewBag.Inviteapplicant2)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.full_name</td>
                                                <td>@item.email</td>
                                
                                                @if (ViewBag.sentstatus == null)
                                                {
                                                    <td>
                                                        <a href="@Url.Action("Choosesoal", "Hr", new { email = item.email,status=0 })" class="btn btn-primary" style="color:white">
                                                            Send Email
                                                        </a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <button data-toggle="modal" data-target="#Modalalert" onclick="'@{ViewBag.Email = item.email;} '"type="button" class="btn btn-warning">
                                                            <i class="fa fa-retweet"></i>Re-Sent
                                                        </button>
                                                    </td>
                                                }
                                            </tr>
                                                i++;
                                            }
                                        }

                                }
                        </table>



                        </div>
                    </div>

            </div>
        <div style="margin-bottom:200px">
        </div>
    </section>
</section>
<!-- /wrapper -->

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalinvite" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("Invite2", "Hr", FormMethod.Post))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Choose Assessments to <br>@ViewBag.Emailapplicant</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="problem" name="problem" value="2,3,4,">
                    @Html.HiddenFor(m => m.email, new { @Value = @ViewBag.Emailapplicant })
                    @{
                        <label>Start :</label><br>
                        <input type="date" required name="start" id="startdate" class="form-control"><br>
                        <label>End :</label><br>
                        <input type="date" required name="end" id="enddate" class="form-control"><br>
                        <label>Choose Logic Test Problem :</label><br>
                        <select required name="logictestproblem" id="selectproblem" class="form-control">
                            @if (ViewBag.logictest != null)
                            {
                                <option value="">Select Problem</option>
                                foreach (var x in ViewBag.logictest)
                                {
                                    string idp = x.pk_logictest_problems_id.ToString();
                                    <option value="@idp">@x.problems_filename</option>
                                }
                            }
                        </select>
                    }
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <input type="submit" name="submit" value="Submit" class="btn btn-success" />
                    </div>
                </div>
                        }
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="Modalalert" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Re-sent to @ViewBag.Email</h4>
            </div>
            <div class="modal-body">
                Are u sure want to re-sent ? <br>
                @if (@ViewBag.startdate != null) {
                var date = @ViewBag.startdate.ToString("ddd, MMM d \"'\"yy");
                <text>assessment will start on @date  </text>
                }
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("Choosesoal", "Hr", new { email = @ViewBag.Email,status=1})" class="btn btn-primary">
                    Yes
                </a>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="message" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Alert!</h4>
            </div>
            <div class="modal-body">
                @if (ViewBag.message != null)
                {
                    if (ViewBag.message == 0)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Add is failed</div>
                    }
                    else if (ViewBag.message == 1)
                    {
                        <div class="alert alert-success"><b>Success!</b> Invite is successfull!</div>
                    }
                    else if (ViewBag.message == 2)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Email unsent!</div>
                    }
                    else if (ViewBag.message == 10)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Can't Delete!</div>
                    }
                    else
                    {
                        <div class="alert alert-danger"><b>Success!</b> Delete is successfull!</div>
                    }
                }
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- import moment.js -->

<script>
(function(){
  $('#startdate').attr('min', moment().format('YYYY-MM-DD'))
  $('#startdate').on('change', function (e) {
    var startDate = $(this).val();
    var endDate = moment(startDate).add(1, 'days').format('YYYY-MM-DD');
    $('#enddate').attr('min', endDate);
  })
})()
</script>