﻿@model nawadaya_project.Models.ms_problem_disc

@{
    if (@ViewBag.PKDISC != null)
    {
        <script>
        function codeAddress() {
            $("#modal-update")
            .closest(".modal").modal('show');
        }
        window.onload = codeAddress;
        </script>
    }

    if (@ViewBag.message != null)
    {
        <script>
        function codeAddress() {
            $("#message")
            .closest(".modal").modal('show');
        }
        window.onload = codeAddress;
        </script>
    }
}

<!-- Main-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <div style="color:white">
                <h4 class="centered">
                    @if (@Session["FullName"] != null)
                    {
                        @Session["FullName"];
                    }
                </h4>
                <h6 class="centered">
                    @if (@Session["Email"] != null)
                    {
                        @Session["Email"];
                    }
                </h6>
            </div>
            <li class="mt">
                <a href="@Url.Action("Index", "Hr")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("IndexLogicTestProblems", "Hr")">Master Logic Test Problems</a></li>
                    <li><a href="@Url.Action("MsPsychotest", "Hr")">Add Pshycotest Problems</a></li>
                    <li  class="active"><a href="@Url.Action("MsDISC", "Hr")">Add DISC Problems</a></li>
                    <li><a href="@Url.Action("Invite", "Hr")">Invite</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Master Data Employee</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("MsEmployee", "Hr")">Add Employee</a></li>
                    <li><a href="@*Url.Action(" Invite", "Hr" )*@">Assessment Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Historical Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("HistoricalApplicantInvitation","Hr")">Applicant Invitation</a></li>
                    <li><a href="@Url.Action("HistoricalEmployeeInvitation","Hr")">Employee Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Report</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action()">Report1</a></li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>

<section id="main-content">
    <section class="wrapper site-min-height">
        <h3>Master DISC</h3>
        <div class="card-header">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAddDISC">
                Add Problem Disc
            </button>
        </div>
        <div class="row mt">
            <div class="col-lg-12">
                <table id="example2" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Problems</th>
                            <th>Active</th>
                            <th><p align="center">Actions</></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                        }
                        @foreach (var item in ViewBag.AddDISC)
                        {
                            <tr>
                                <td>@i</td>
                                <td>Soal @i</td>
                                <td>
                                    @if (item.active != 1)
                                    {
                                        <a href="@Url.Action("ActiveDISC", "HR",new {id=item.pk_problem_disc})" class="btn btn-primary">
                                            Active
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("ActiveDISC", "HR",new {id=item.pk_problem_disc})" class="btn btn-danger">
                                            De-Active
                                        </a>
                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("ShowDISC", "HR",new {id=item.pk_problem_disc})" class="btn btn-info">
                                        Detail
                                    </a>
                                    <a href="@Url.Action("EditDISC", "HR",new {id=item.pk_problem_disc})" class="btn btn-warning">
                                        Update
                                    </a>
                                    <a href="@Url.Action("DeleteDISC", "HR",new {id=item.pk_problem_disc})" class="btn btn-danger">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            i++;
                        }
                </table>

                <!-- /Message Panel-->
            </div>

        </div>
    </section>
    <!-- /wrapper -->
</section>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalAddDISC" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Master DISC</h4>
            </div>
            @using (Html.BeginForm("AddDISC", "HR", FormMethod.Post))
            {
                <div class="modal-body">
                    <table class="table">
                    <thead>
                        <tr>
                        <th><p align="center">Statement</p></th>
                        <th><p align="center">M</p></th>
                        <th><p align="center">L</p></th>
                        </tr>      
                    </thead>
                     <tbody>
                         <tr>
                         <td>@Html.TextBoxFor(m => m.statment1, new { @type = "text", @placeholder = "Input statement1", @class = "form-control" })</td>
                         <td>
                             @Html.RadioButtonFor(m => m.M1, "D")@Html.Label(" D")&nbsp;&nbsp;
                             @Html.RadioButtonFor(m => m.M1, "I")@Html.Label(" I")&nbsp;&nbsp;
                             @Html.RadioButtonFor(m => m.M1, "S")@Html.Label(" S")&nbsp;&nbsp;
                             @Html.RadioButtonFor(m => m.M1, "C")@Html.Label(" C")&nbsp;&nbsp;
                             @Html.RadioButtonFor(m => m.M1, "*")@Html.Label(" *")&nbsp;&nbsp;
                         </td>
                             <td>
                                 @Html.RadioButtonFor(m => m.L1, "D")@Html.Label(" D")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.L1, "I")@Html.Label(" I")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.L1, "S")@Html.Label(" S")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.L1, "C")@Html.Label(" C")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.L1, "*")@Html.Label(" *")&nbsp;&nbsp;
                             </td>
                         </tr>
                         <tr>
                             <td>@Html.TextBoxFor(m => m.statment2, new { @type = "text", @placeholder = "Input statement2", @class = "form-control" })</td>
                             <td>
                                 @Html.RadioButtonFor(m => m.M2, "D")@Html.Label(" D")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.M2, "I")@Html.Label(" I")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.M2, "S")@Html.Label(" S")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.M2, "C")@Html.Label(" C")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.M2, "*")@Html.Label(" *")&nbsp;&nbsp;
                             </td>
                             <td>
                                 @Html.RadioButtonFor(m => m.L2, "D")@Html.Label(" D")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.L2, "I")@Html.Label(" I")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.L2, "S")@Html.Label(" S")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.L2, "C")@Html.Label(" C")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.L2, "*")@Html.Label(" *")&nbsp;&nbsp;
                             </td>
                         </tr>
                         <tr>
                             <td>@Html.TextBoxFor(m => m.statment3, new { @type = "text", @placeholder = "Input statement3", @class = "form-control" })</td>
                             <td>
                                 @Html.RadioButtonFor(m => m.M3, "D")@Html.Label(" D")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.M3, "I")@Html.Label(" I")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.M3, "S")@Html.Label(" S")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.M3, "C")@Html.Label(" C")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.M3, "*")@Html.Label(" *")&nbsp;&nbsp;
                             </td>
                             <td>
                                 @Html.RadioButtonFor(m => m.L3, "D")@Html.Label(" D")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.L3, "I")@Html.Label(" I")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.L3, "S")@Html.Label(" S")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.L3, "C")@Html.Label(" C")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.L3, "*")@Html.Label(" *")&nbsp;&nbsp;
                             </td>
                         </tr>
                         <tr>
                             <td>@Html.TextBoxFor(m => m.statment4, new { @type = "text", @placeholder = "Input statement4", @class = "form-control" })</td>
                             <td>
                                 @Html.RadioButtonFor(m => m.M4, "D")@Html.Label(" D")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.M4, "I")@Html.Label(" I")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.M4, "S")@Html.Label(" S")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.M4, "C")@Html.Label(" C")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.M4, "*")@Html.Label(" *")&nbsp;&nbsp;
                             </td>
                             <td>
                                 @Html.RadioButtonFor(m => m.L4, "D")@Html.Label(" D")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.L4, "I")@Html.Label(" I")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.L4, "S")@Html.Label(" S")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.L4, "C")@Html.Label(" C")&nbsp;&nbsp;
                                 @Html.RadioButtonFor(m => m.L4, "*")@Html.Label(" *")&nbsp;&nbsp;
                             </td>
                         </tr>
                     </tbody>    
                    </table>
                       
</div>
                <div class="modal-footer">
                    <div class="form-group">
                        <input type="submit" name="submit" value="Add Post" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modal-update" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Update Master DISC</h4>
            </div>
            @using (Html.BeginForm("EditDISC", "HR", FormMethod.Post))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(s => s.pk_problem_disc)
                    <table class="table">
                        <thead>
                            <tr>
                                <th><p align="center">Statement</p></th>
                                <th><p align="center">M</p></th>
                                <th><p align="center">L</p></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.TextBoxFor(m => m.statment1, new { @type = "text", @placeholder = "Input statement1", @class = "form-control" })</td>
                                <td>
                                    @Html.RadioButtonFor(m => m.M1, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M1, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M1, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M1, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M1, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                                <td>
                                    @Html.RadioButtonFor(m => m.L1, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L1, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L1, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L1, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L1, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.TextBoxFor(m => m.statment2, new { @type = "text", @placeholder = "Input statement1", @class = "form-control" })</td>
                                <td>
                                    @Html.RadioButtonFor(m => m.M2, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M2, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M2, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M2, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M2, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                                <td>
                                    @Html.RadioButtonFor(m => m.L2, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L2, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L2, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L2, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L2, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.TextBoxFor(m => m.statment3, new { @type = "text", @placeholder = "Input statement1", @class = "form-control" })</td>
                                <td>
                                    @Html.RadioButtonFor(m => m.M3, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M3, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M3, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M3, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M3, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                                <td>
                                    @Html.RadioButtonFor(m => m.L3, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L3, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L3, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L3, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L3, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.TextBoxFor(m => m.statment4, new { @type = "text", @placeholder = "Input statement1", @class = "form-control" })</td>
                                <td>
                                    @Html.RadioButtonFor(m => m.M4, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M4, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M4, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M4, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M4, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                                <td>
                                    @Html.RadioButtonFor(m => m.L4, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L4, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L4, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L4, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L4, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <input type="submit" name="submit" value="Add Post" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="message" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
                @if (ViewBag.message != null)
                {
                    if (ViewBag.message == 0)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Add is failed</div>
                    }
                    else if (ViewBag.message == 1)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> The problems can't active more than 24 problem</div>
                    }
                    else if (ViewBag.message == 2)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Email is already exist!</div>
                    }
                    else if (ViewBag.message == 10)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Can't Delete!</div>
                    }
                    else
                    {
                        <div class="alert alert-danger"><b>Success!</b> Delete is successfull!</div>
                    }
                }
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>