﻿@model nawadaya_project.Models.ms_logictest_result
@{ 
    if (@ViewBag.AddScore != null)
    {
    <script>
        function codeAddress() {
            $("#ModalAddScore")
            .closest(".modal").modal('show');
            $('#ModalAddScore').on('hidden.bs.modal', function (e) {
                window.location = "javascript:history.go(-1)";
            });
        }
        window.onload = codeAddress;
    </script>
    }
}
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <div style="color:white">
                <h4 class="centered">
                    @if (@Session["FullName"] != null)
                    {
                        @Session["FullName"];
                    }
                </h4>
                <h6 class="centered">
                    @if (@Session["Email"] != null)
                    {
                        @Session["Email"];
                    }
                </h6>
            </div>
            <li>
                <a href="@Url.Action("Index", "Examiner")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a class="active"  href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Applicant Score Assignment</span>@*<span>Unassesed Logic Test</span>*@
                </a>
                <ul class="sub">
                    <li class="active"><a href="@Url.Action("Check", "Examiner")">Unassigned</a></li>
                    <li><a href="@Url.Action("Result", "Examiner")">Assigned</a></li>
                    
                </ul>
            </li>
            @*<li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Assessed Logic Test</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("Result", "Examiner")">Applicant</a></li>
                    <li><a href="@Url.Action("Result2", "Examiner")">Employee</a></li>
                </ul>
            </li>*@
            @*<li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Logic Test Historical</span>
                </a>
            </li>*@
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>


<section id="main-content">
    <section class="wrapper site-min-height">
        <h3>Unassigned Logic Test Score</h3>
        <div class="row mt">
            <div class="col-lg-12">
                <div class="panel-body">
                            <div class="row">
                                <table id="example2" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Date Test</th>
                                            <th>Applicant Name</th>
                                            <th>Applicant Email</th>
                                            <th>Problems</th>
                                            <th>Solutions</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int i = 1;
                                            if (ViewBag.MsExaminer != null)
                                            {
                                                foreach (var item in ViewBag.MsExaminer)
                                                {
                                                                                <tr>
                                                                                    <td>@i</td>
                                                                                    <td>@item.date_test</td>
                                                                                    <td>@item.full_name</td>
                                                                                    <td>@item.email</td>
                                                                                    @{ var path2 = item.problems_path + "/" + item.problems_filename;
                                                                                        var problem_path = path2.Substring(1);
                                                                                        var app_path = Url.Content("~/");
                                                                                        var URL = app_path + problem_path;
                                                                                    }
                                                                                    <td><a href="@URL" target="_blank">@item.problems_filename</a></td>

                                                                                    @{ var path = item.logictest_solutions_path + "/" + item.logictest_solutions;
                                                                                        var solution_path = path.Substring(1);
                                                                                        var URLsolutionDL = app_path + solution_path;
                                                                                    }

                                                                                    <td><a href="@URLsolutionDL" class="btn btn-info">Download</a></td>
                                                                                    <td>
                                                                                        <a href="@Url.Action("AddScore", "Examiner", new { id = item.pk_logictest_result})" class="btn btn-success">
                                                                                            Add Score
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                    i++;
                                                }
                                            }

                                        }
                                </table>
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /tab-pane -->
                        
                            <!-- /row -->
                        </div>
                        <!-- /tab-pane -->
                    </div>
                    <!-- /tab-content -->
    </section>
    <!-- /wrapper -->
</section>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalAddScore" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Score</h4>
            </div>
            @using (Html.BeginForm("InputScore", "Examiner", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" disabled value="@ViewBag.Name" name="name" class = "form-control">
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(m => m.pk_logictest_result)
                        @Html.TextBoxFor(m => m.logictest_score, new { @type = "text", placeholder = "Input Score", @class = "form-control" })
                        <br>
                        @Html.TextAreaFor(m => m.note, new { @class = "form-control", placeholder = "Input Note"})
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <input type="submit" name="submit" value="Submit" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>