﻿<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <div style="color:white">
                <h4 class="centered">
                    @if (@Session["FullName"] != null)
                    {
                        @Session["FullName"];
                    }
                </h4>
                <h6 class="centered">
                    @if (@Session["Email"] != null)
                    {
                        @Session["Email"];
                    }
                </h6>
            </div>
            <li>
                <a class="active" href="@Url.Action("Index", "Examiner")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Applicant Score Assignment</span>@*<span>Unassesed Logic Test</span>*@
                </a>
                <ul class="sub">
                    <li ><a href="@Url.Action("Check", "Examiner")">Unassigned</a></li>
                    <li><a href="@Url.Action("Result", "Examiner")">Assigned</a></li>

                </ul>
            </li>
            @*<li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-cogs"></i>
                        <span>Assessed Logic Test</span>
                    </a>
                    <ul class="sub">
                        <li><a href="@Url.Action("Result", "Examiner")">Applicant</a></li>
                        <li><a href="@Url.Action("Result2", "Examiner")">Employee</a></li>
                    </ul>
                </li>*@
            @*<li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Logic Test Historical</span>
                    </a>
                </li>*@
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>

<!--  menu -->
<section id="main-content">
    <section class="wrapper site-min-height">
        <h3>Dashboard</h3>
        <div class="row mt">
            <div class="col-sm-6">
                <!-- REVENUE PANEL -->
                <div style="height:150px;background-color:white" class="green-panel pn">
                    <div class="green-header">
                        <h5>Unassigned Applicant</h5>
                    </div>
                    <font size="72">@ViewBag.Assign</font>
                </div>
            </div>
            <div class="col-sm-6">
                <!-- REVENUE PANEL -->
                <div style="height:150px;background-color:white" class="green-panel pn">
                    <div class="green-header">
                        <h5>Assigned Applicant</h5>
                    </div>
                    <font size="72">@ViewBag.Unassign</font>
                </div>
            </div>

            <div style="margin-top:30px" class="col-lg-12">
                <table id="example2" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Date Test</th>
                            <th>Full Name</th>
                            <th>Problem</th>
                            <th>Solution</th>
                            <th>Score</th>
                            <th>Note</th>
                            <th>Assessment</th>
                            <th>Date Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                        }
                        @if (ViewBag.HistoricalExaminer != null)
                        {
                            foreach (var item in ViewBag.HistoricalExaminer)
                            {
                        <tr>
                            <td>@i</td>
                            <td>@item.date_test</td>
                            <td>@item.full_name</td>
                            @{ var pathEXDB = item.problems_path + "/" + item.problems_filename;
                                var problem_path = pathEXDB.Substring(1);
                                var app_path = Url.Content("~/");
                                var URL = app_path + problem_path;
                            }
                            <td><a href="@URL" target="_blank">@item.problems_filename</a></td>

                            @*<td>@item.problems_filename</td>*@
                            <td>@item.logictest_solutions</td>
                            <td>@item.logictest_score</td>
                            <td>@item.note</td>
                            <td>@item.created_by</td>
                            <td>@item.date_created</td>
                        </tr>
                                i++;
                            }
                        }
                </table>
                <!-- /Message Panel-->
            </div>
        </div>
    </section>
    <!-- /wrapper -->
</section>