﻿@model nawadaya_project.Models.ms_problem_disc
@{
    var link = ViewBag.Link;

    if (ViewBag.TimeDisc != null)
    {
        <script>
        function codeAddress() {
            $("#disc").css("display", "block");
            $("#timer").css("display", "block");
            $("#header").css("display", "none");
            window.location.hash = "#disc";

        }
        window.onload = codeAddress;
        </script>
    }
}

<!-- Masthead -->
<header class="masthead" id="header">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">DISC</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <button class="btn btn-primary" type="button" data-dismiss="modal" onclick="location.href='@Url.Action("StartDISC", "Recruitment", new {obj = @ViewBag.Link})'">Start</button>
            </div>
        </div>        
    </div>
</header>

<!-- Services Section -->

<!-- Services Section -->
<section class="page-section" id="disc" style="display:none">
    <div class="container">
        <h2 class="text-center mt-0">DISC</h2>
        <hr class="divider my-4">

        <div class="row">
        @if (ViewBag.DISC != null)
        {
            int w = 1;
            foreach (var item in ViewBag.DISC)
            {
                string name = "M" + w;
                string name2 = "L" + w;
                        <div class="col-sm-6">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="80%"><p align="center">Statement</p></th>
                                        <th width="10%"><p align="center">M</p></th>
                                        <th width="10%"><p align="center">L</p></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@item.statment1</td>
                                        <td>
                                            <input type="radio" required name="@name"  value="@item.M1" />
                                        </td>
                                        <td>
                                            <input type="radio" required name="@name2" checked value="@item.L1" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@item.statment2</td>
                                        <td>
                                            <input type="radio" name="@name" value="@item.M2" />
                                        </td>
                                        <td>
                                            <input type="radio" name="@name2" value="@item.L2" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@item.statment3</td>
                                        <td>
                                            <input type="radio" name="@name" value="@item.M3" />
                                        </td>
                                        <td>
                                            <input type="radio" name="@name2" value="@item.L3" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@item.statment4</td>
                                        <td>
                                            <input type="radio" name="@name" checked value="@item.M4" />
                                        </td>
                                        <td>
                                            <input type="radio" name="@name2" value="@item.L4" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>
                w++;
            }

        }
            </div>
        <div class="row">
            <div class="col-md-12">
                <input type="hidden" style="display:none" name="link" value="@ViewBag.Link" />
                <button type="button" class="btn btn-primary" onclick="displayRadioValue()">
                        Submit
                    </button>
            </div>
            <div class="col-md-12">
                <div id="result"></div> 
            </div>

        </div>
        </div>
</section>


<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    hjkoepfjhdhjk
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-primary js-scroll-trigger" id="btnok">Continue </a>
            </div>
        </div>
    </div>
</div>

<script>

    function displayRadioValue() {
        document.getElementById("result").innerHTML = "";
        var ele = document.getElementsByTagName('input');
        var arraym = [];
        var D = 0;
        var I = 0;
        var S = 0;
        var C = 0;
        var x = 0;
        var D1 = 0;
        var I1 = 0;
        var S1 = 0;
        var C1 = 0;
        var x1 = 0;
        for (i = 0; i < ele.length; i++) {

            if (ele[i].type = "radio") {

                if (ele[i].checked) {

                    if (ele[i].name.substr(0, 1) == "M") {
                        if (ele[i].value == "D") {
                            D++;
                        }else if (ele[i].value == "I") {
                            I++;
                        } else if (ele[i].value == "S") {
                            S++;
                        } else if (ele[i].value == "C") {
                            C++;
                        } else {
                            x++;
                        }
                    }else if (ele[i].name.substr(0, 1) == "L") {
                        if (ele[i].value == "D") {
                            D1++;
                        } else if (ele[i].value == "I") {
                            I1++;
                        } else if (ele[i].value == "S") {
                            S1++;
                        } else if (ele[i].value == "C") {
                            C1++;
                        } else {
                            x1++;
                        }
                    }
                }

            }


        }
        var hasil = D+","+I+","+S+","+C+","+D1+","+I1+","+S1+","+C1+","+x+","+x1;

        window.location.href = "/Recruitment/CountDISC?email=@ViewBag.Email&result=" + hasil;
    }
</script>

@*<script type="text/javascript">
    // Set the date we're counting down to

        $("body").on("click", "#btnok", function () {
            var countDownDate = new Date();
            countDownDate.setMinutes(countDownDate.getMinutes() + 1);
            // Find the distance between now and the count down date

            $("#exampleModalScrollable").modal("hide");
            $("#disc").css("display", "block");
            window.location.hash = "#disc";
            var x = setInterval(function () {
                var now = new Date();
                // Get today's date and time
                var distance = countDownDate - now.setMinutes(now.getMinutes());
                
                // Time calculations for days, hours, minutes and seconds
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Output the result in an element with id="demo"
                document.getElementById("timer2").innerHTML = minutes + "m " + seconds + "s ";



                // If the count down is over, write some text
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("timer2").innerHTML = "EXPIRED";
                    $("#disc").css("display", "none");
                }
            }, 1000);
        });


</script>*@

<script type="text/javascript" src="~/Content/mdb.min.js"></script>
@{ 
    if (ViewBag.EndTime_LT != null)
    {
        var EndTime = ViewBag.EndTime_LT;
        var StartTime = DateTime.UtcNow;
        int TimeRemaining = (int)TimeSpan.FromTicks(EndTime.Ticks - StartTime.Ticks).TotalSeconds;
        <script>
    var remSeconds = @TimeRemaining;
    function formatnumber(number)
    {
        if (number < 10) return '0' + number;
        else return '' + number;
    }

    function startTick()
    {
        if (remSeconds <= 0) {
            document.getElementById('SecRemaining').innerText = '00';
            document.getElementById('MinRemaining').innerText = '00';
            document.getElementById('HrRemaining').innerText = '00';
            alert('Your exam time has expired');
                clearInterval(_tick);
                window.location.href="@Url.Action("Index","Recruitment", new { obj = link })";
        }
        else
        {
            document.getElementById('SecRemaining').innerText = formatnumber(remSeconds%60);
        document.getElementById('MinRemaining').innerText = formatnumber(parseInt((remSeconds / 60)%60));
        document.getElementById('HrRemaining').innerText = formatnumber(parseInt(remSeconds/3600));

        var _tick = setInterval(function ()
        {
            if (remSeconds > 0)
            {
                remSeconds = remSeconds - 1;

                document.getElementById('SecRemaining').innerText = formatnumber(remSeconds%60);
                document.getElementById('MinRemaining').innerText = formatnumber(parseInt((remSeconds / 60)%60));
                document.getElementById('HrRemaining').innerText = formatnumber(parseInt(remSeconds/3600));
            }
            else
            {
                document.getElementById('SecRemaining').innerText = '00';
                document.getElementById('MinRemaining').innerText = '00';
                document.getElementById('HrRemaining').innerText = '00';
                alert('Your exam time has expired');
                clearInterval(_tick);
                window.location.href="@Url.Action("Index","Recruitment", new { obj = link })";
            }


        }, 1000);
        }

    }
    startTick();

        </script>
    }}
