﻿@model nawadaya_project.Models.ms_logictest_result
@{
    ViewBag.Title = "UpdateZIP";
}



<body>
    <div class="card">


        <div class="card-block">

            @using (Html.BeginForm("UploadZIP", "UploadLogicTestResult", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">

                    <div class="col-sm-10">
                        Upload solutions inside a file .zip <br />
                        @*<button class="btn btn-primary">Upload</button>*@
                        @Html.TextBox("file", "", new { type = "file" }) <br />
                        <button class="btn btn-primary">Upload</button>
                        @*<input type="submit" value="Upload" />*@
                        @ViewBag.Message
                    </div>
                </div>



            }


        </div>

    </div>



    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body">
                    <!-- Master Employee card start -->
                    <button onclick="window.open('@Url.Action("openviewpdf", "UploadLogicTestResult")')" class="btn btn-primary">Open Problems</button>
                    @*<input type="button" value="Open" onclick="window.open('@Url.Action("openviewpdf", "UploadLogicTestResult")')" />*@
                </div>
                <!-- Page-body end -->
            </div>
        </div>
        <!-- Main-body end -->

        <div id="styleSelector">

        </div>
    </div>

</body>






