﻿@*@model nawadaya_project.Models.ms_applicant_information_form*@
<!-- Masthead -->
@{
    
    if (@ViewBag.FileDetails != null)
    {
        <script>
            function codeAddress() {
                $("#modalfailedupload")
                    .closest(".modal").modal('show');
            }
            window.onload = codeAddress;
        </script>
    }
}

<div id="modalfailedupload" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel">Upload Failed</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>@ViewBag.FileDetails</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-secondary" data-dismiss="modal">Ok</button>
                @*@Html.ActionLink("Select PDF", "SelectPDF", new { id = @item.pk_logictest_pdf_id }, new { @class = "btn btn-danger" })*@
            </div>
        </div>
    </div>
</div>

<header class="masthead">
    <div class="container h-100">
        <div class="container">
            @*<button onclick="window.open('@Url.Action("openviewpdf", "UploadLogicTestResult")')" class="btn btn-primary">Open Problems</button>*@
            <br><br>
                <textarea cols="10" disabled class="form-control" rows="8">
                GUIDE:

                Do this Logic Test Assessment by solving the problems as one bundling solutions.
                Use the php / java / vb.net / C# / ASP.Net / C++ / Pseudocode / javascript language.  
                You can view the problems by clicking OPEN PROBLEMS button.
                Submit all solutions as one .zip which containing 1 project / 1 solution that can be run as an application.
                Specifically for React Native project, please do not include the node_modules, android and ios folders in the .zip file.
                Upload a .zip file and click Save Changes to finish your Nawadata Logic Test.
            </textarea>
            <br>
            <div class="form-group">

                <div class="col-sm-12">
                    <button type="button" onclick="window.open('@Url.Action("viewpdfnewtab", "StartLogicTest", new { id2 = ViewBag.ID })')" class="btn btn-primary btn-xl">Open Problems</button>
                    @*<a href="@Url.Action("viewpdfnewtab","StartLogicTest", new { id = ViewBag.ID })" target="_blank">Open AAA Problems</a>*@
                </div>
            </div>
            @*<iframe src="~/pdf/ASP.NET_MVC_Untuk_Pemula_2016.pdf" width="100%" height="100%"></iframe>*@
            @using (Html.BeginForm("UploadZIP", "StartLogicTest", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @*@Html.AntiForgeryToken()*@

                <div class="form-group">

                    <div class="col-sm-3">
                        <label><font color="white"> Upload solutions inside a file .zip.</font></label>
                    </div>
                    <div class="col-sm-12">
                        <input type="hidden" name="link" value="@ViewBag.link">
                        <input type="hidden" name="email" value="@ViewBag.Email">
                        <input type="hidden" name="pk_id2" value="@ViewBag.ID">
                        @*<button class="btn btn-primary">Upload</button>*@
                        @Html.TextBox("file", "", new { type = "file",accept = "application/zip", required = "required", @class = "form-control" }) <br />
                        @*<button type="button" class="btn btn-primary btn-xl" data-toggle="modal" data-target="#Modalalert">Save Changes</button>*@
                        @*<input type="submit" value="Upload" />*@
                        @*@ViewBag.Message*@
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modalalert">Save Changes</button>

                    </div>
                </div>
                <div class="form-group">

                    <div class="col-sm-12">

                    </div>
                </div>
                <div class="modal fade" id="Modalalert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Save Changes</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Double-check your file submission if there is still enough time left before saving changes.<br><br>
                                You can only saving changes once. Are you sure to proceed?
                            </div>
                            <div class="modal-footer">
                                <div class="form-group">
                                    <input type="submit" name="submit" value="Save" class="btn btn-secondary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                


            }


        </div>

        
        @*<div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Logic test</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">Nawa Data Logic Test</p>
                <button type="button" class="btn btn-primary btn-xl" data-toggle="modal" data-target="#exampleModalScrollable">
                    Start
                </button>
            </div>
        </div>*@
        @*<br><br>
        <h2 class="text-center mt-0">Logic Test</h2>
        <hr class="divider my-4">
        <br>*@
    </div>
</header>

