﻿
@{
    ViewBag.Title = "openviewpdf";
    string pdf = ViewBag.PDF.Substring(1);
    var app_path = Url.Content("~/");
    var URL = app_path + pdf;
}



    <header class="masthead" style="height:1200px">
        <div class="container">

            <div class="embed-responsive embed-responsive-1by1">
                <iframe id="frame" class=" embed-responsive-item" src="@URL"></iframe>
                @*<iframe class=" embed-responsive-item" src="~/UploadedLogicTestProblemsPDF/Nawadata Logic Test Programmer.pdf"></iframe>*@
                @*<iframe src="~/pdf/ASP.NET_MVC_Untuk_Pemula_2016.pdf" width="100%" height="100%"></iframe>*@
                @*<iframe class="embed-responsive-item" src="~/UploadedLogicTestProblemsPDF/ASP.NET_MVC_Untuk_Pemula_2016.pdf"></iframe>*@
            </div>

        </div>

    </header>
    <style>
        

        #frame {
            zoom: 0.75;
            
        }
    </style>
