﻿@{var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();

    if (controller == "OtherPage")
    {

    }
    else
    {
        <footer class="site-footer">
            <div class="text-center">
                <p>
                    &copy; Copyrights <strong>Nawadaya</strong>. All Rights Reserved
                </p>
                <div class="credits">
                    <!--
                      You are NOT allowed to delete the credit link to TemplateMag with free version.
                      You can delete the credit link only if you bought the pro version.
                      Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
                      Licensing information: https://templatemag.com/license/
                    -->
                    Created by Bootcamp 2019
                </div>
                <a href="inbox.html#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
    }
}

