﻿
@{var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();

    if (controller == "OtherPage")
    {

    }
    else
    {
        <header class="header" style="background-color:#337ab7">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips bg-white" style="color:white" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a class="logo"><b><span style="color:white">Nawadaya</span></b></a>
            <!--logo end-->
            
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li>
                        <a href="@Url.Action("Logoff", "Login")" class="logout" data-placement="right" data-original-title="Toggle Navigation">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </header>
    }
}


