﻿@model nawadaya_project.Models.ms_personal_data

@{
    if (@ViewBag.message != null)
    {
        <script>
        function codeAddress() {
            $("#message")
            .closest(".modal").modal('show');
        }
        window.onload = codeAddress;
        </script>
    }
}

<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <div style="color:white">
                <h4 class="centered">
                    @if (@Session["FullName"] != null)
                    {
                        @Session["FullName"];
                    }
                </h4>
                <h6 class="centered">
                    @if (@Session["Email"] != null)
                    {
                        @Session["Email"];
                    }
                </h6>
            </div>
            <li class="mt">
                <a href="@Url.Action("Index","RM")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>User Management</span>
                </a>
                <ul class="sub">
                    <li class="active"><a href="@Url.Action("AddEmployee","RM")">Master Employee</a></li>
                    <li><a href="@Url.Action("AddUser","RM")">Master User</a></li>
                </ul>
            </li>
            @*<li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Historical User Assignment</span>
                </a>
            </li>*@
            @*<li class="sub-menu">
                <a class="active">
                    <i class="fa fa-book"></i>
                    <span>Master Data</span>
                </a>
                <ul class="sub">

                    @*<li><a href="@Url.Action("MsSkill","RM")">Master Skill</a></li>
                    <li><a href="@Url.Action("MsStatus","RM")">Master Status</a></li>*@
            @*</ul>
                    </li>
                </ul>*@
            <!-- sidebar menu end-->
    </div>
</aside>
<!-- Main Menu-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <h3>Detail Employee</h3>
        <div class="card-header">
            <p><a href="javascript:history.go(-1)" class="btn btn-success">&laquo; Go back</a></p>

        </div>
        <div class="row mt">
            <div class="col-lg-12">
                @if (ViewBag.MsEmployee != null)
                {
                    foreach (var item in ViewBag.MsEmployee)
                    {
                        <div class="row content-panel">
                            <!-- /col-md-4 -->
                            <div class="col-md-4 centered">
                                <div class="profile-pic">
                                    <p><img src="~/Content/img/checkbox-gray.png" class="img-circle"></p>
                                    <p>
                                        <h4>@item.full_name</h4>
                                        @if (item.status_employee == 3)
                                        {
                                            <h6>@item.position</h6>
                                        }
                                        else
                                        {
                                            <h6>@item.name_called</h6>
                                        }

                                    </p>
                                </div>
                            </div>
                            <div class="col-md-8 profile-text">
                                <table style="border-collapse: separate;  border-spacing: 10px 20px;">
                                    <tr>
                                        <td width="50%">Alamat</td>
                                        <td width="10%">:</td>
                                        <td width="50%">@item.address</td>
                                    </tr>
                                    <tr>
                                        <td width="50%">Nomor Induk Penduduk (NIK)</td>
                                        <td width="10%">:</td>
                                        <td width="50%">@item.NIK</td>
                                    </tr>
                                    <tr>
                                        <td width="50%">Tempat, Tanggal Lahir</td>
                                        <td width="10%">:</td>
                                        @{     
                                            string date = "";
                                        
                                        if (item.birth_date != null)
                                        {
                                             date = item.birth_date.ToString("dd MM, yyyy");
                                        }
                                        }
                                        
                                        <td width="50%">@date</td>
                                    </tr>
                                    <tr>
                                        <td width="50%">Jenis Kelamin</td>
                                        <td width="10%">:</td>
                                        <td width="50%">@item.gender</td>
                                    </tr>
                                    <tr>
                                        <td width="50%">Status</td>
                                        <td width="10%">:</td>
                                        <td width="50%">@item.marriage_status</td>
                                    </tr>
                                    <tr>
                                        <td width="50%">Agama</td>
                                        <td width="10%">:</td>
                                        <td width="50%">@item.religion</td>
                                    </tr>
                                    <tr>
                                        <td width="50%">No Handphone</td>
                                        <td width="10%">:</td>
                                        <td width="50%">@item.phone</td>
                                    </tr>
                                    <tr>
                                        <td width="50%">No Rumah</td>
                                        <td width="10%">:</td>
                                        <td width="50%">@item.home_phone</td>
                                    </tr>
                                    <tr>
                                        <td width="50%">Email</td>
                                        <td width="10%">:</td>
                                        <td width="50%">@item.email</td>
                                    </tr>

                                </table>

                            </div>
                            <!-- /col-md-4 -->
                            <!-- /col-md-4 -->
                        </div>
                    }
                }
                <!-- /row -->
            </div>
            <!-- /col-lg-12 -->
            <div class="col-lg-12 mt">
                <div class="row content-panel">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a data-toggle="tab" href="#overview">Overview</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#edit">Edit Profile</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /panel-heading -->
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="overview" class="tab-pane active">
                                <div class="row">
                                    <div class="col-lg-8 col-lg-offset-2 detailed">
                                        @if (ViewBag.Psychotest != null || ViewBag.DISC != null || ViewBag.Logictest != null)
                                        {
                                            <h4 class="mb">Recruitment</h4>
                                            <div class="row">
                                                @if (ViewBag.Psychotest != null)
                                                {
                                                    <div class="col-4">
                                                        <text><a href="@Url.Action("DetailPsychotest","Hr",new { id = ViewBag.Psychotest})"><span class="label label-primary">Psychotest</span></a></text>
                                                    </div>
                                                }
                                                @if (ViewBag.DISC != null)
                                                {
                                                    <div class="col-4">
                                                        <text><a href="@Url.Action("DetailDISC","Hr",new { id = ViewBag.DISC})"><span class="label label-primary">DISC</span></a></text>
                                                    </div>
                                                }
                                                @if (ViewBag.Logictest != null)
                                                {
                                                    <div class="col-4">
                                                        <text><a href="@Url.Action("DetailLogictest","Hr",new { id = ViewBag.Logictest})"><span class="label label-primary">Logictest</span></a></text>
                                                    </div>
                                                }



                                            </div>
                                        }

                                        <br>
                                        <h4 class="mb">Pendidikan Formal</h4>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col" rowspan="2"><p align="center">Keterangan</p></th>
                                                    <th scope="col" rowspan="2"><p align="center">Nama Sekolah</p></th>
                                                    <th scope="col" rowspan="2"><p align="center">Kota</p></th>
                                                    <th scope="col" colspan="2"><p align="center">Tahun</p></th>
                                                    <th scope="col" rowspan="2"><p align="center">IPK/Nem</p></th>
                                                </tr>
                                                <tr>
                                                    <th scope="col"><p align="center">Masuk</p></th>
                                                    <th scope="col"><p align="center">Keluar</p></th>
                                                </tr>
                                            </thead>
                                            @if (ViewBag.FormalEducation != null)
                                            {
                                                foreach (var item in ViewBag.FormalEducation)
                                                {
                                                    <tbody>
                                                        <tr>
                                                            <td>@item.keterangan</td>
                                                            <td><input type="text" disabled value="@item.nama_sekolah" class="form-control"></td>
                                                            <td><input type="text" disabled value="@item.kota" class="form-control"></td>
                                                            <td><input type="text" disabled value="@item.tahun_masuk" class="form-control"></td>
                                                            <td><input type="text" disabled value="@item.tahun_keluar" class="form-control"></td>
                                                            <td><input type="text" disabled value="@item.score" class="form-control"></td>
                                                        </tr>
                                                    </tbody>

                                                }

                                            }
                                        </table>
                                        <br>
                                        <h4 class="mb">Pendidikan Informal</h4>
                                        @if (ViewBag.informaledu != null)
                                        {
                                            <table class="table">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th scope="col"><p align="center">Macam / Jenis</p></th>
                                                        <th scope="col"><p align="center">Tempat</p></th>
                                                        <th scope="col"><p align="center">Lamanya</p></th>
                                                        <th scope="col"><p align="center">Yang membiayai</p></th>
                                                    </tr>
                                                </thead>
                                                @foreach (var item in ViewBag.informaledu)
                                                {
                                                    <tbody>
                                                        <tr>
                                                            <td><input type="text" disabled value="@item.jenis" class="form-control"></td>
                                                            <td><input type="text" disabled value="@item.tempat" class="form-control"></td>
                                                            <td><input type="text" disabled value="@item.lamanya" class="form-control"></td>
                                                            <td><input type="text" disabled value="@item.yang_membiayai" class="form-control"></td>
                                                        </tr>
                                                    </tbody>


                                                }
                                            </table>
                                        }
                                        <br>
                                        <h4 class="mb">Data Keluarga</h4>

                                        @if (ViewBag.MsFamily != null)
                                        {
                                            <table class="table">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th scope="col"><p align="center">Status Hubungan</p></th>
                                                        <th scope="col"><p align="center">Nama Anggota Keluarga</p></th>
                                                        <th scope="col"><p align="center">Nomor Telepon</p></th>
                                                        <th scope="col"><p align="center">Tanggal Lahir</p></th>
                                                        <th scope="col"><p align="center">Jenis Kelamin</p></th>
                                                        <th scope="col"><p align="center">Pendidikan Terakhir</p></th>
                                                        <th scope="col"><p align="center">Pekerjaan</p></th>
                                                       
                                                    </tr>
                                                </thead>
                                                @foreach (var item in ViewBag.MsFamily)
                                                {

                                                    <tbody id="datakeluarga">

                                                        <tr>
                                                            <td><input type="text" disabled value="@item.status_hubungan" class="form-control"></td>
                                                            <td><input type="text" disabled value="@item.nama" class="form-control"></td>
                                                            <td><input type="text" disabled value="@item.no_tlp" class="form-control"></td>
                                                            <td><input type="text" disabled value="@item.ttl" class="form-control"></td>
                                                            <td> <input type="text" disabled value="@item.gender" class="form-control"></td>
                                                            <td> <input type="text" disabled value="@item.pendidikan_terakhir" class="form-control"></td>
                                                            <td> <input type="text" disabled value="@item.pekerjaan" class="form-control"></td>
                                                        </tr>

                                                    </tbody>
                                                }
                                            </table>
                                        }
                                        <br>


                                        <h4 class="mb">Organisasi</h4>

                                        @if (ViewBag.MsFamily != null)
                                        {
                                            <table class="table">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th scope="col"><p align="center">Kegiatan</p></th>
                                                        <th scope="col"><p align="center">Nama Organisasi</p></th>
                                                        <th scope="col"><p align="center">Tempat</p></th>
                                                        <th scope="col"><p align="center">Jabatan</p></th>
                                                        <th scope="col"><p align="center">Lamanya</p></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="dataorganisasi">
                                                    @foreach (var item in ViewBag.msorganization)
                                                    {
                                                        <tr>
                                                            <td><input type="text" disabled value="@item.kegiatan" class="form-control"></td>
                                                            <td><input type="text" disabled value="@item.lainnya" class="form-control"></td>
                                                            <td><input type="text" disabled value="@item.tempat" class="form-control"></td>
                                                            <td><input type="text" disabled value="@item.jabatan" class="form-control"></td>
                                                            <td> <input type="text" disabled value="@item.lainnya" class="form-control"></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        <br>
                                        <h4 class="mb">Bahasa Asing</h4>
                                        @if (ViewBag.mslanguage != null)
                                        {
                                            int b = 1;
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th width="40%">Bahasa Asing</th>
                                                        <th width="50%">Keterangan</th>
                                                    </tr>
                                                </thead>
                                                @foreach (var item in ViewBag.mslanguage)
                                                {
                                                    <tbody>
                                                        <tr>
                                                            <td>@b .</td>
                                                            <td>@item.bahasa_asing</td>
                                                            <td>@item.keterangan <br></td>
                                                        </tr>
                                                    </tbody>
                                                    b++;
                                                }
                                            </table>
                                        }
                                        <br>
                                        <h4 class="mb">Pengalaman Kerja</h4>
                                        @if (ViewBag.msworkexperience != null)
                                        {
                                            foreach (var item in ViewBag.msworkexperience)
                                            {
                                                <table class="table" id="datapengalaman">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th scope="col">
                                                                <p align="center">
                                                                    Nama Perusahaan
                                                                </p><br>
                                                                <input type="text" disabled value="@item.nama_perusahaan" class="form-control">
                                                            </th>
                                                            <th scope="col">
                                                                <p align="center">Lama Kerja</p><br>
                                                                <input type="text" disabled value="@item.lama_kerja" class="form-control">
                                                            </th>
                                                            <th scope="col">
                                                                <p align="center">Alamat</p><br>
                                                                <input type="text" disabled value="@item.alamat" class="form-control">
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th scope="col">
                                                                <p align="center">Jabatan terakhir yang diduduki</p><br>
                                                                <input type="text" disabled value="@item.posisi" class="form-control">
                                                            </th>
                                                            <th scope="col">
                                                                <p align="center">Lamanya</p><br>
                                                                <input type="text" disabled value="@item.lamanya" class="form-control">
                                                            </th>
                                                            <th scope="col">
                                                                <p align="center">Gaji yang diterima</p><br>
                                                                <input type="text" disabled value="@item.gaji" class="form-control">
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th scope="col" colspan="2">
                                                                <p align="center">Jelaskan tugas utama anda :</p><br>
                                                                <textarea class="form-control">@item.tugas_utama</textarea>
                                                            </th>
                                                            <th scope="col">
                                                                <p align="center">Alasan berhenti</p><br>
                                                                <input type="text" disabled value="@item.alasan_keluar" class="form-control">
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                </table>

                                            }
                                        }
                                        <br>
                                        @if (ViewBag.MsEmployee != null)
                                        {
                                            foreach (var item in ViewBag.MsEmployee)
                                            {
                                                <table>
                                                    <tr>
                                                        <td>Gaji yang diharapkan : &emsp;</td>
                                                        <td>@item.gaji<br></td>
                                                    </tr>
                                                </table>
                                            }
                                        }
                                        <br>

                                        <h4 class="mb">Pekerjaan yang disukai</h4>
                                        @if (ViewBag.FavoriteJob != null)
                                        {
                                            int c = 1;
                                            foreach (var item in ViewBag.FavoriteJob)
                                            {
                                                <table>
                                                    <tr>
                                                        <td>@c .&emsp;</td>
                                                        <td>@item.nama<br></td>
                                                    </tr>
                                                </table>
                                                c++;
                                            }
                                        }
                                        <br>

                                        <h4 class="mb">Keterampilan</h4>
                                        @if (ViewBag.MsEmployee != null)
                                        {
                                            foreach (var item in ViewBag.MsEmployee)
                                            {
                                                <table>
                                                    <tr>
                                                        <td>Keterampilan dalam bidang : &emsp;</td>
                                                        <td>@item.kemampuan<br></td>
                                                    </tr>
                                                </table>
                                            }
                                        }
                                        <br>
                                        @if (ViewBag.msskill != null)
                                        {
                                            int d = 1;
                                            foreach (var item in ViewBag.msskill)
                                            {
                                                <table>
                                                    <tr>
                                                        <td>@d .&emsp;</td>
                                                        <td>@item.nama<br></td>
                                                    </tr>
                                                </table>
                                                d++;
                                            }
                                        }
                                        <br>

                                        <h4 class="mb">Hobby</h4>
                                        @if (ViewBag.mshobby != null)
                                        {
                                            int a = 1;
                                            foreach (var item in ViewBag.mshobby)
                                            {
                                                <table>
                                                    <tr>
                                                        <td>@a .&emsp;</td>
                                                        <td>@item.nama<br></td>
                                                    </tr>
                                                </table>
                                                a++;
                                            }
                                        }
                                        <br>
                                        <h4 class="mb">Pekerjaan yang disukai</h4>
                                        @if (ViewBag.FavoriteJob != null)
                                        {
                                            int c = 1;
                                            foreach (var item in ViewBag.FavoriteJob)
                                            {
                                                <table>
                                                    <tr>
                                                        <td>@c .&emsp;</td>
                                                        <td>@item.nama<br></td>
                                                    </tr>
                                                </table>
                                                c++;
                                            }
                                        }
                                        <br>
                                        <h4 class="mb">Keluarga yang dapat dihubungi saat darurat</h4>
                                        @if (ViewBag.MsEmergency != null)
                                        {
                                            <table class="table">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th scope="col"><p align="center">Nama Lengkap</p></th>
                                                        <th scope="col"><p align="center">Nama Perusahaan</p></th>
                                                        <th scope="col"><p align="center">No. Telepon</p></th>
                                                        <th scope="col"><p align="center">Jabatan</p></th>
                                                        <th scope="col"><p align="center">Hubungan dengan saudara</p></th>
                                                    </tr>
                                                </thead>
                                                @foreach (var item in ViewBag.MsEmergency)
                                                {
                                                    <tbody id="datakeluargadarurat">
                                                        <tr>
                                                            <td><input type="text" disabled value="@item.nama" class="form-control"></td>
                                                            <td><input type="text" disabled value="@item.nama_perusahaan" class="form-control"></td>
                                                            <td><input type="text" disabled value="@item.no_tlp" class="form-control"></td>
                                                            <td><input type="text" disabled value="@item.jabatan" class="form-control"></td>
                                                            <td><input type="text" disabled value="@item.hubungan" class="form-control"></td>
                                                        </tr>

                                                    </tbody>

                                                }
                                            </table>
                                        }

                                        <br>
                                        <h4 class="mb">Referensi</h4>
                                        @if (ViewBag.msreference != null)
                                        {
                                            <table class="table">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th scope="col"><p align="center">Nama Lengkap</p></th>
                                                        <th scope="col"><p align="center">Nama Perusahaan</p></th>
                                                        <th scope="col"><p align="center">No. Telepon</p></th>
                                                        <th scope="col"><p align="center">Jabatan</p></th>
                                                        <th scope="col"><p align="center">Hubungan dengan saudara</p></th>
                                                        
                                                    </tr>
                                                </thead>
                                                @foreach (var item in ViewBag.msreference)
                                                {
                                                    <tbody id="datakeluargadarurat">
                                                        <tr>
                                                            <td><input type="text" disabled value="@item.nama" class="form-control"></td>
                                                            <td><input type="text" disabled value="@item.nama_perusahaan" class="form-control"></td>
                                                            <td><input type="text" disabled value="@item.no_tlp" class="form-control"></td>
                                                            <td><input type="text" disabled value="@item.jabatan" class="form-control"></td>
                                                            <td><input type="text" disabled value="@item.hubungan" class="form-control"></td>
                                                            <td></td>
                                                        </tr>

                                                    </tbody>

                                                }
                                            </table>
                                        }
                                        <br>
                                        <h4 class="mb">Pertanyaan</h4>
                                        @if (ViewBag.msquestion != null)
                                        {
                                            foreach (var item in ViewBag.msquestion)
                                            {

                                                <div class="form-group row">
                                                    <label class="col-lg-6 control-label">1. Apakah Saudara pernah sakit keras ? </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" disabled value="@item.pertanyaan_sakit" class="form-control"><br>
                                                        <textarea class="form-control" disabled>@item.keterangan_sakit</textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-6 control-label">2. Apakah Saudara pernah mengalami Kecelakaan Berat ? </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" disabled value="@item.pertanyaan_kecelakaan" class="form-control"><br>
                                                        <textarea class="form-control" disabled>@item.keterangan_kecelakaan</textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-6 control-label">3. Apakah Saudara pernah mengikuti PSIKOTEST ? </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" disabled value="@item.pertanyaan_psikotes" class="form-control"><br>
                                                        <textarea class="form-control" disabled>@item.keterangan_psikotes</textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-6 control-label">4. Apakah alasan Saudara memilih tempat pekerjaan yang sekarang ?</label>
                                                    <div class="col-lg-6">
                                                        <input type="text" disabled value="@item.alasan_masuk_nawadata" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-6 control-label">5. Apakah yang terpenting dalam hidup Saudara ?</label>
                                                    <div class="col-lg-6">
                                                        <input type="text" disabled value="@item.hal_terpenting" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-6 control-label">6. Apakah ambisi Saudara ?</label>
                                                    <div class="col-lg-6">
                                                        <input type="text" disabled value="@item.ambisi" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-6 control-label">7. Menurut Saudara , apa pengertian SUKSES ?</label>
                                                    <div class="col-lg-6">
                                                        <input type="text" disabled value="@item.pengertian_sukses" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-6 control-label">8. Apakah yang menjadi dasar pendapat Saudara tentang etika / moral ?</label>
                                                    <div class="col-lg-6">
                                                        <input type="text" disabled value="@item.etika_moral" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-6 control-label">9. Apakah pendapat orang lain tentang Saudara ?</label>
                                                    <div class="col-lg-6">
                                                        <input type="text" disabled value="@item.pendapat_orang_tentang_anda" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-6 control-label">10. Sebutkan dan jelaskan kekurangan Saudara ?</label>
                                                    <div class="col-lg-6">
                                                        <input type="text" disabled value="@item.kekurangan" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-6 control-label">11. Sebutkan dan jelaskan kelebihan Saudara ?</label>
                                                    <div class="col-lg-6">
                                                        <input type="text" disabled value="@item.kelebihan" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-6 control-label">12. Bila Saudara dihadapkan pada suatu masalah yang rumit, apakah Saudara selesaikan sendiri atau minta pendapat orang lain ? Jelaskan ! </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" disabled value="@item.keterangan_masalah" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-6 control-label">13. Jabatan yang Saudara inginkan ?</label>
                                                    <div class="col-lg-6">
                                                        <input type="text" disabled value="@item.keinginan_jabatan" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-6 control-label">14. Jika diterima, kapan Anda bersedia masuk ?</label>
                                                    <div class="col-lg-6">
                                                        <input type="text" disabled value="@item.waktu_bergabung" class="form-control">
                                                    </div>
                                                </div>

                                            }
                                        }
                                        else
                                        {
                                            <div class="form-group">
                                                <label class="col-lg-5 control-label">Pertanyaan is null, Submit Pertanyaan ?</label>
                                                <div class="col-lg-4">
                                                    <button class="btn btn-primary">Submit</button>
                                                </div>
                                            </div>
                                        }
                                        </form>
                                    </div>

                                    <!-- /col-lg-8 -->
                                </div>
                                <!-- /row -->
                            </div>
                            <!-- /tab-pane -->
                            <div id="edit" class="tab-pane">
                                <div class="row">
                                    <div class="col-lg-8 col-lg-offset-2 detailed">
                                        <h4 class="mb">Personal Information</h4>

                                        @using (Html.BeginForm("EditEmployee", "RM", FormMethod.Post))
                                        {
                                            @Html.TextBoxFor(m => m.pk_employee, new { @type = "hidden", @class = "form-control" })

                                            if (Model.status_employee == 3)
                                            {
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">Employee NIP</label>
                                                    <div class="col-lg-9">
                                                        @Html.TextBoxFor(m => m.NIP, new { @type = "text", @class = "form-control" })
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">Position</label>
                                                    <div class="col-lg-9">
                                                        @Html.TextBoxFor(m => m.position, new { @type = "Text", @class = "form-control" })
                                                    </div>
                                                </div>
                                                <br>
                                            }
                                            <br>
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label">Full Name</label>
                                                <div class="col-lg-9">
                                                    @Html.TextBoxFor(m => m.full_name, new { @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label">Nickname</label>
                                                <div class="col-lg-9">
                                                    @Html.TextBoxFor(m => m.name_called, new { @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label">Home Phone</label>
                                                <div class="col-lg-9">
                                                    @Html.TextBoxFor(m => m.home_phone, new { @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label">Place Birth</label>
                                                <div class="col-lg-9">
                                                    @Html.TextBoxFor(m => m.birth_place, new { @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label">Gender</label>
                                                <div class="col-lg-9">
                                                    @Html.TextBoxFor(m => m.gender, new { @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label">Phone</label>
                                                <div class="col-lg-9">
                                                    @Html.TextBoxFor(m => m.phone, new { @type = "number", @class = "form-control" })
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label">NIK</label>
                                                <div class="col-lg-9">
                                                    @Html.TextBoxFor(m => m.NIK, new { @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label">Date of Birth</label>
                                                <div class="col-lg-9">

                                                    @Html.TextBoxFor(x => x.birth_date, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label">Address</label>
                                                <div class="col-lg-9">
                                                    @Html.TextBoxFor(m => m.address, new { @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label">Status</label>
                                                <div class="col-lg-9">
                                                    @Html.TextBoxFor(m => m.marriage_status, new { @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label">Religion</label>
                                                <div class="col-lg-9">
                                                    @Html.TextBoxFor(m => m.religion, new { @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label">Email</label>
                                                <div class="col-lg-9">
                                                    @Html.TextBoxFor(m => m.email, new { @type = "email", @class = "form-control" })
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <div class="col-lg-12">
                                                    <input type="submit" name="submit" value="Update Details" class="btn btn-success" />
                                                </div>

                                            </div>
                                        }
                                    </div>
                                    <!-- /col-lg-8 -->
                                </div>
                                <!-- /row -->
                            </div>
                            <!-- /tab-pane -->
                        </div>
                        <!-- /tab-content -->
                    </div>
                    <!-- /panel-body -->
                </div>
                <!-- /col-lg-12 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /wrapper -->
</section>


<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="message" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Employee Detail</h4>
            </div>
            <div class="modal-body">
                @if (ViewBag.message != null)
                {
                    if (ViewBag.message == 0)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Failed to edit detail.</div>
                    }
                    else if (ViewBag.message == 1)
                    {
                        <div class="alert alert-success"><b>Success!</b> Detail has been edited.</div>
                    }
                    else if (ViewBag.message == 2)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Email is already exist.</div>
                    }
                }
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
