﻿@model nawadaya_project.Models.tbl_user

@{
    if (@ViewBag.message != null)
    {
        <script>
        function codeAddress() {
            $("#message")
            .closest(".modal").modal('show');
        }
        window.onload = codeAddress;
        </script>
    }

    if (@ViewBag.EditUser != null)
    {
        <script>
        function codeAddress() {
            $("#EditUser")
            .closest(".modal").modal('show');
            $('#EditUser').on('hidden.bs.modal', function (e) {
                window.location = "javascript:history.go(-1)";
            });
        }
        window.onload = codeAddress;
        </script>
    }
}

<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <div style="color:white">
                <h4 class="centered">
                    @if (@Session["FullName"] != null)
                    {
                        @Session["FullName"];
                    }
                </h4>
                <h6 class="centered">
                    @if (@Session["Email"] != null)
                    {
                        @Session["Email"];
                    }
                </h6>
            </div>
            <li class="mt">
                <a href="@Url.Action("Index","RM")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>User Management</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("AddEmployee","RM")">Master Employee</a></li>
                    <li class="active"><a href="@Url.Action("AddUser","RM")">Master User</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Historical User Assignment</span>
                </a>
            </li>
            @*<li class="sub-menu">
                <a class="active">
                    <i class="fa fa-book"></i>
                    <span>Master Data</span>
                </a>
                <ul class="sub">

                    @*<li><a href="@Url.Action("MsSkill","RM")">Master Skill</a></li>
                    <li><a href="@Url.Action("MsStatus","RM")">Master Status</a></li>*@
            @*</ul>
                    </li>
                </ul>*@
            <!-- sidebar menu end-->
    </div>
</aside>

<section id="main-content">
    <section class="wrapper site-min-height">
        <h3>User</h3>
        <div class="card-header">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAddUser">
                Assign Role
            </button>
        </div>
        <div class="row mt">
            <div class="col-lg-12">
                <table id="example2" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Hak Akses</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                        }
                        @if (ViewBag.datalogin != null)
                        {
                            foreach (var item in ViewBag.datalogin)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.full_name</td>
                                    <td>@item.email</td>
                                    <td>@item.role_name</td>
                                    <td>
                                        <a href="@Url.Action("EditUser", "RM",new {id=item.PK_userID})" class="btn btn-warning">
                                            Change Role
                                        </a>
                                        <a href="@Url.Action("DeleteUser", "RM",new {id=item.PK_userID})" class="btn btn-danger">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                i++;

                            }
                        }
                </table>
                <!-- /Message Panel-->
            </div>

        </div>
    </section>
    <!-- /wrapper -->
</section>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalAddUser" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Assign Role</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @using (Html.BeginForm("DetailReceiver", "HR", FormMethod.Post))
                    {
                        <label>Employee :</label>
                            <select name="item" id="nameemployee" class="form-control">
                                <option value="">Select Employee</option>
                                @if (ViewBag.DataKaryawan != null)
                                {
                                    foreach (var item in ViewBag.DataKaryawan)
                                    {
                                        string id = item.NIP + " - " + item.full_name + " - " + item.position;
                                        string id2 = item.NIP + " - " + item.full_name + " - " + item.position+" - "+ item.pk_employee+" - "+ item.email;
                                        <option value="@id2">@id</option>
                                    }
                                }
                            </select>

                        
                    }
                </div>
                <div id="myDIV" style="display: none;">
                    <label>Role :</label>
                    @using (Html.BeginForm("AddUser", "RM", FormMethod.Post))
                    {
                        @Html.TextBoxFor(m => m.fk_employee, new { @type = "hidden", @class = "form-control", @id = "pk" })
                        <input type="hidden" name="email" id="email">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.username, new { @type = "hidden", @class = "form-control", @id = "username" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.password, new { @type = "hidden", @class = "form-control", @id = "password" })
                        </div>
                        <div class="form-group">
                            <select name="role" required id="role" class="form-control">
                                <option value="">Select Role</option>
                                @if (ViewBag.datarole != null)
                                {
                                    foreach (var item in ViewBag.datarole)
                                    {
                                        if (item.role_name != "Super Admin") { 
                                            <option value="@item.pk_role">@item.role_name</option>
                                        }
                                        
                                    }
                                }
                            </select> 
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <input type="submit" name="submit" value="Assign Role" class="btn btn-success" />
                            </div>
                        </div>
                    }
                </div>
        </div>
    </div>
</div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="message" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
                @if (ViewBag.message != null)
                {
                    if (ViewBag.message == 0)
                    {
                        <div class="alert alert-danger"><b>Assigned role is failed. An email hasn't been sent to user.</div>
                    }
                    else if (ViewBag.message == 1)
                    {
                        <div class="alert alert-success">Role is assigned. An email has been sent to user.</div>
                    }
                    else if (ViewBag.message == 2)
                    {
                        <div class="alert alert-info"><b>Success!</b> Resent is already exist!</div>
                    }
                }
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
$(document).ready(function(){
    $("select#nameemployee").change(function () {
        var selected = $(this).children("option:selected").val();
        if (selected == "") {
            $("#myDIV").css("display", "none");
            $("#username")
            .val("");
            $("#password")
            .val("");
            $("#pk")
            .val("");
            $("#email")
            .val("");
        } else {
            var text1 = selected.split(" - ");
            var username = text1[1].split(" ");
            $("#myDIV").css("display", "block");
            $("#username")
            .val(username[0]);
            $("#password")
            .val(username[0] + "123");
            $("#pk")
            .val(text1[3]);
            $("#email")
            .val(text1[4]);
        }
    });
});
</script>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="EditUser" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit User</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @using (Html.BeginForm("EditUseer", "RM", FormMethod.Post))
                    {

                        @Html.TextBoxFor(m => m.fk_employee, new { @type = "hidden", @class = "form-control", @id = "pk" })
                        <input type="text" class="form-control" disabled value="@ViewBag.Name"><br>
                        <input type="text" name="email" class="form-control" disabled value="@ViewBag.EmailUser"><br>
                        <div class="form-group">
                            <select name="id" required class="form-control">
                                <option value="">Select Role</option>
                                @if (ViewBag.datarole != null)
                                {
                                    foreach (var item in ViewBag.datarole)
                                    {
                                        if (@item.role_name != "Super Admin")
                                        {
                                            <option value="@item.pk_role">@item.role_name</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <input type="submit" name="submit" value="Assign Role" class="btn btn-success" />
                            </div>
                        </div>
                    }
            </div>
        </div>
    </div>
</div>
</div>