﻿@*@model nawadaya_project.Models.ms_applicant_information_form*@
<!-- Masthead -->
<header class="masthead">
    <div class="container h-100">
        <div class="container">
            @*<button onclick="window.open('@Url.Action("openviewpdf", "UploadLogicTestResult")')" class="btn btn-primary">Open Problems</button>*@
            <br><br>
            <textarea cols="10" disabled class="form-control" rows="8">
                Bacalah dan ikuti instruksi pada contoh soal ini dengan seksama untuk pengerjaan subtest pertama.

                Lihatlah gambar-gambar tes berikut. Terdapat dua baris deretan gambar-gambar.
                Baris deretan gambar pertama adalah bagian soal dan baris deretan gambar kedua adalah bagian pilihan jawaban.

                Pada bagian soal anda akan melihat empat kotak dengan tiga kotak yang berisi gambar dan satu kotak kosong.
                Anda akan melihat garis vertikal yang sedikit demi sedikit akan jatuh ke samping kanan anda.
                Tugas anda disini adalah mencari gambar ke 4 untuk mengisi kotak kosong dari gambar-gambar yang tersedia pada pilihan jawaban.
                Pada contoh soal kali ini anda melihat garis vertikal yang sedikit demi sedikit akan jatuh ke samping kanan anda.
                Maka untuk contoh soal ini jawabannya adalah "C". Silakan pilih jawaban C dan klik Submit.
                Submit tidak berfungsi jika anda memilih jawaban yang salah.
            </textarea>
            <br>
            <div class="form-group">

                <div class="col-sm-12">
                    <button type="button" onclick="window.open('@Url.Action("viewpdfnewtab", "StartLogicTest", new { id = ViewBag.ID })')" class="btn btn-primary btn-xl">Open Problems</button>
    </div>
                </div>                
    @*<iframe src="~/pdf/ASP.NET_MVC_Untuk_Pemula_2016.pdf" width="100%" height="100%"></iframe>*@
                    @using (Html.BeginForm("UploadZIP", "StartLogicTest", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                        @*@Html.AntiForgeryToken()*@

                        <div class="form-group">

                            <div class="col-sm-3">
                                <label><font color="white"> Upload solutions inside a file .zip.</font></label>
                            </div>
                            <div class="col-sm-12">
                                <input type="hidden" name="link" value="@ViewBag.link">
                                <input type="hidden" name="email" value="@ViewBag.Email">
                                <input type="hidden" name="pk_id" value="@ViewBag.ID">
                                @*<button class="btn btn-primary">Upload</button>*@
                                @Html.TextBox("file", "", new { type = "file",required="required", @class = "form-control" }) <br />
                                @*<button type="button" class="btn btn-primary btn-xl" data-toggle="modal" data-target="#Modalalert">Save Changes</button>*@
                                @*<input type="submit" value="Upload" />*@
                                @ViewBag.Message
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modalalert">Save Changes</button>

                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-sm-12">

                            </div>
                        </div>
                        <div class="modal fade" id="Modalalert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Alert!</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are u sure ?
                                    </div>
                                    <div class="modal-footer">
                                        <div class="form-group">
                                            <input type="submit" name="submit" value="Save" class="btn btn-secondary" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    }
                </div>
                @*<div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">Logic test</h1>
                        <hr class="divider my-4">
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5">Nawa Data Logic Test</p>
                        <button type="button" class="btn btn-primary btn-xl" data-toggle="modal" data-target="#exampleModalScrollable">
                            Start
                        </button>
                    </div>
                </div>*@
                @*<br><br>
                <h2 class="text-center mt-0">Logic Test</h2>
                <hr class="divider my-4">
                <br>*@
            </div>
</header>

