﻿
@{
    ViewBag.Title = "openviewpdf";
    string pdf = ViewBag.PDF.Substring(1);
}

<body>
    <div class="embed-responsive embed-responsive-1by1">
        <iframe class=" embed-responsive-item" src="@pdf"></iframe>
        @*<iframe class=" embed-responsive-item" src="~/UploadedLogicTestProblemsPDF/Nawadata Logic Test Programmer.pdf"></iframe>*@
        @*<iframe src="~/pdf/ASP.NET_MVC_Untuk_Pemula_2016.pdf" width="100%" height="100%"></iframe>*@
        @*<iframe class="embed-responsive-item" src="~/UploadedLogicTestProblemsPDF/ASP.NET_MVC_Untuk_Pemula_2016.pdf"></iframe>*@
    </div>


    <div class="card-block table-border-style">

    </div>


</body>

