﻿
@{
    ViewBag.Title = "IndexTES";
}

<body>
    <button type="button" href="@Url.Action("GraphValue", "DISCResultController", new { id = ViewBag.tes })" class="btn btn-primary btn-xl">execute</button>
       

</body>

