﻿<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 p404 centered">
            <img src="~/Content/img/500.png" alt="">
            <h1>ERROR 500</h1>
            <h3>Oops!! You Can't Access this page now!</h3>
            <br>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <input type="text" class="form-control" id="form1Name" name="form1Name">
                    <button class="btn btn-theme mt">Search</button>
                </div>
            </div>
            <h5 class="mt">Hey, maybe you will be interested in these pages:</h5>
            <p><a href="index.html">Index</a> | <a href="#">Sitemap</a> | <a href="contact.html"> Contact</a></p>
        </div>
    </div>
</div>