﻿@model nawadaya_project.Models.ms_psychotest_problems

@*@{
    if (@ViewBag.PKDISC != null)
    {
        <script>
        function codeAddress() {
            $("#modal-update")
            .closest(".modal").modal('show');
        }
        window.onload = codeAddress;
        </script>
    }
}*@

<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <div style="color:white">
                <h4 class="centered">
                    @if (@Session["FullName"] != null)
                    {
                        @Session["FullName"];
                    }
                </h4>
                <h6 class="centered">
                    @if (@Session["Email"] != null)
                    {
                        @Session["Email"];
                    }
                </h6>
            </div>
            <li class="mt">
                <a href="@Url.Action("Index", "Hr")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("IndexLogicTestProblems", "Hr")">Master Logic Test Problems</a></li>
                    <li class="active"><a href="@Url.Action("MsPsychotest", "Hr")">Add Pshycotest Problems</a></li>
                    <li><a href="@Url.Action("MsDISC", "Hr")">Add Problem DISC</a></li>
                    <li><a href="@Url.Action("Invite", "Hr")">Invite</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Master Data Employee</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("MsEmployee", "Hr")">Add Employee</a></li>
                    <li><a href="@*Url.Action(" Invite", "Hr" )*@">Assessment Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Historical Recruitment</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("HistoricalApplicantInvitation","Hr")">Applicant Invitation</a></li>
                    <li><a href="@Url.Action("HistoricalEmployeeInvitation","Hr")">Employee Invitation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Report</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action()">Report1</a></li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>

<section id="main-content">
    <section class="wrapper site-min-height">
        <h3>Master Psychotest</h3>
        <div class="card-header">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAddPshycotest">
                Add Problem Psychotest
            </button>
        </div>
        <div class="row mt">
            <div class="col-lg-12">
                <table id="example2" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Problem</th>
                            <th>Optional</th>
                            <th>Answer</th>
                            <th>Sub Test</th>
                            <th>Action</th>                           
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;                            
                        }
                        @foreach (var item in ViewBag.MsPshycotest)
                        {
                            <tr>
                                <td>@i</td>
                                <td>
                                @if (@item.problem_path != null)
                                {
                                    <img style="width:150px;height:100px;" src="~/PshycotestProblems/@item.problem_path">
                                }
                                </td>
                                <td>
                                @if (@item.optional_path == null)
                                {
                                    <text>&nbsp;&nbsp; </text>
                                }
                                else
                                {
                                    <img style="width:150px;height:100px;" src="~/PshycotestProblems/@item.optional_path">
                                }
                                </td>
                                <td>@item.answer</td>
                                <td>@item.step</td>
                                <td>
                                    <a href="@Url.Action("EditPshycotest", "HR",new {id=item.pk_psychotest_problems})" class="btn btn-warning">
                                        Update
                                    </a>
                                    <a href="@Url.Action("DeletePshycotest", "HR",new {id=item.pk_psychotest_problems})" class="btn btn-danger">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            i++;
                        }
                </table>

                <!-- /Message Panel-->
            </div>

        </div>
    </section>
    <!-- /wrapper -->
</section>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalAddPshycotest" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Master Psychotest</h4>
            </div>
            @using (Html.BeginForm("AddPsychotest", "HR", FormMethod.Post,new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <label><h5>Sub Test :</h5></label>
                    <div class="form-group">
                        <select name="step" id="subtest" class="form-control">
                            <option value="">Select Sub Test</option>
                            <option value="Step 1">Sub Test 1</option>
                            <option value="Example Step 1">Example Sub Test 1</option>
                            <option value="Step 2">Sub Test 2</option>
                            <option value="Example Step 2">Example Sub Test 2</option>
                            <option value="Step 3">Sub Test 3</option>
                            <option value="Example Step 3">Example Sub Test 3</option>
                            <option value="Step 4">Sub Test 4</option>
                            <option value="Example Step 4">Example Sub Test 4</option>
                        </select>
                    </div>

                    <div id="body" style="display:none">
                        <label><h5>Input Problem :</h5></label>
                        <div class="form-group">
                            <input type="file" name="file1" required class="form-control">
                        </div>
                        <div id="step2" sstyle="display:none">
                            <input type="hidden" id="answersubtest2" name="answer2">
                            <label><h5>Answer :</h5></label>
                            <div class="form-group">
                                <input type="checkbox" id="subtest2" name="answersubtest2" value="A">A &nbsp;&nbsp;&nbsp;
                                <input type="checkbox" id="subtest2" name="answersubtest2" value="B">B &nbsp;&nbsp;&nbsp;
                                <input type="checkbox" id="subtest2" name="answersubtest2" value="C">C &nbsp;&nbsp;&nbsp;
                                <input type="checkbox" id="subtest2" name="answersubtest2" value="D">D &nbsp;&nbsp;&nbsp;
                                <input type="checkbox" id="subtest2" name="answersubtest2" value="E">E &nbsp;&nbsp;&nbsp;
                                
                            </div>
                        </div>
                        <div id="step1" style="display:none">
                            <label><h5>Input Optional :</h5></label>
                            <div class="form-group">
                                <input type="file" name="file2" class="form-control">
                            </div>
                            <label><h5>Answer :</h5></label>
                            <div class="form-group">
                                @Html.RadioButtonFor(m => m.answer, "A", new { id = "form1" })@Html.Label("A")&nbsp;&nbsp;
                                @Html.RadioButtonFor(m => m.answer, "B")@Html.Label("B")&nbsp;&nbsp;
                                @Html.RadioButtonFor(m => m.answer, "C")@Html.Label("C")&nbsp;&nbsp;
                                @Html.RadioButtonFor(m => m.answer, "D")@Html.Label("D")&nbsp;&nbsp;
                                @Html.RadioButtonFor(m => m.answer, "E")@Html.Label("E")&nbsp;&nbsp;
                                @Html.RadioButtonFor(m => m.answer, "F")@Html.Label("F")&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <input type="submit" id="btnok" name="submit" value="Submit" class="btn btn-success" />
                        </div>
                    </div>
            }
        </div>
    </div>
</div>

@*<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modal-update" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Update Master DISC</h4>
            </div>
            @using (Html.BeginForm("EditDISC", "HR", FormMethod.Post))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(s => s.pk_problem_disc)
                    <table class="table">
                        <thead>
                            <tr>
                                <th><p align="center">Statement</p></th>
                                <th><p align="center">M</p></th>
                                <th><p align="center">L</p></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.TextBoxFor(m => m.statment1, new { @type = "text", @placeholder = "Input statement1", @class = "form-control" })</td>
                                <td>
                                    @Html.RadioButtonFor(m => m.M1, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M1, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M1, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M1, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M1, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                                <td>
                                    @Html.RadioButtonFor(m => m.L1, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L1, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L1, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L1, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L1, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.TextBoxFor(m => m.statment2, new { @type = "text", @placeholder = "Input statement1", @class = "form-control" })</td>
                                <td>
                                    @Html.RadioButtonFor(m => m.M2, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M2, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M2, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M2, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M2, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                                <td>
                                    @Html.RadioButtonFor(m => m.L2, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L2, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L2, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L2, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L2, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.TextBoxFor(m => m.statment3, new { @type = "text", @placeholder = "Input statement1", @class = "form-control" })</td>
                                <td>
                                    @Html.RadioButtonFor(m => m.M3, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M3, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M3, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M3, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M3, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                                <td>
                                    @Html.RadioButtonFor(m => m.L3, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L3, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L3, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L3, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L3, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.TextBoxFor(m => m.statment4, new { @type = "text", @placeholder = "Input statement1", @class = "form-control" })</td>
                                <td>
                                    @Html.RadioButtonFor(m => m.M4, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M4, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M4, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M4, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.M4, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                                <td>
                                    @Html.RadioButtonFor(m => m.L4, "D")@Html.Label("D")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L4, "I")@Html.Label("I")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L4, "S")@Html.Label("S")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L4, "C")@Html.Label("C")&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.L4, "*")@Html.Label(" *")&nbsp;&nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <input type="submit" name="submit" value="Add Post" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>*@

<script>
    $("body").on("click", "#btnok", function () {
        var step = $("select#subtest").children("option:selected").val();
        if (step == "Example Step 2" || step == "Step 2") {
            var answer5 = "";
            var checkbox = $("#subtest2:checked");
            for (i = 0; i < checkbox.length; i++) {
                answer5 += $(checkbox[i]).val() + ",";
            }
            answer5 = answer5.substr(0, answer5.length - 1);
            $("#answersubtest2").val(answer5);
        }
    });


$(document).ready(function(){
    $("select#subtest").change(function () {
        var selected = $(this).children("option:selected").val();
        if (selected == "Example Step 2" || selected == "Step 2") {
            $("#body").css("display", "block");
            $("#step2").css("display", "block");
            $("#step1").css("display", "none");
            $("#form1").prop('required', false);
        } else if (selected == "") {
            $("#body").css("display", "none");
        } else {
            $("#body").css("display", "block");
            $("#step2").css("display", "none");
            $("#step1").css("display", "block");
            $("#form1").prop('required', true);
        }
    });
});
</script>
