﻿@using nawadaya_project.Models
@model Form

<!-- Masthead -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Employment Application Form</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <button type="button" class="btn btn-primary btn-xl" data-toggle="modal" data-target="#exampleModalScrollable">
                    Start
                </button>
            </div>
        </div>
        <br><br>
        <h2 class="text-center mt-0">Fill the form</h2>
        <hr class="divider my-4">
        <br>
    </div>
</header>

<!-- Services Section -->
<!-- Services Section -->
<section class="page-section" id="form">
    <div class="container">
@using (Html.BeginForm("EditApplicant", "Recruitment", FormMethod.Post))
{
    <b>I. Data Pribadi<br><br></b>
        <input type="hidden" name="link" value="@ViewBag.Link" />
        @Html.TextBoxFor(m => m.data_pribadi.email, new { @type = "hidden", @Value = @ViewBag.Email, @class = "form-control" })
        <div class="form-group row">
            <label class="col-lg-3 control-label">Email</label>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.data_pribadi.email, new { @type = "text", disabled = "disabled", @Value = @ViewBag.Email, @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 control-label">Nama Lengkap (Sesuai KTP)</label>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.data_pribadi.full_name, new { @type = "text", required = "required", @Value="Try Oktovan Husen", @placeholder = "Nama Lengkap (Sesuai KTP)", @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 control-label">Nama Panggilan</label>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.data_pribadi.name_called, new { @type = "text", required = "required", @Value = "Try", @placeholder = "Nama Panggilan", @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 control-label">NIK</label>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.data_pribadi.NIK, new { @type = "text", required = "required", @placeholder = "NIK", @Value = "3273111010970001", @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 control-label">Tempat Lahir</label>
            <div class="col-lg-9">
                @Html.DropDownListFor(m => m.data_pribadi.birth_place, new SelectList(ViewBag.Country, "Value", "Text"), new { id = "Type", @class = "form-control" })

            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 control-label">Tanggal Lahir</label>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.data_pribadi.birth_date, new { @type = "date", @Value = "10-10-1997", required = "required", @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 control-label">Jenis Kelamin</label>
            <div class="col-lg-9">
                @Html.RadioButtonFor(model => model.data_pribadi.gender, "Laki - Laki",new { @checked="checked"})@Html.Label("Laki - Laki")
                &nbsp;&nbsp;
                @Html.RadioButtonFor(model => model.data_pribadi.gender, "Perempuan")@Html.Label("Perempuan")
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 control-label">Jenis Kelamin</label>
            <div class="col-lg-9">
                @Html.RadioButtonFor(model => model.data_pribadi.marriage_status, "Belum Kawin", new { @checked = "checked" })@Html.Label("Belum Kawin")&nbsp;&nbsp;
                @Html.RadioButtonFor(model => model.data_pribadi.marriage_status, "Kawin")@Html.Label("Kawin")&nbsp;&nbsp;
                @Html.RadioButtonFor(model => model.data_pribadi.marriage_status, "Cerai")@Html.Label("Cerai")
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 control-label">Agama</label>
            <div class="col-lg-9">
                @Html.DropDownListFor(m => m.data_pribadi.religion, new SelectList(ViewBag.Religion, "Value", "Text"), new { id = "Type", @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 control-label">Alamat saat ini</label>
            <div class="col-lg-9">
                @Html.TextAreaFor(m => m.data_pribadi.address, new { @type = "text", @Value = "Jl.pangampaan no.171/19b", required = "required", @placeholder = "Input Address", @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 control-label">No Hp (aktif dan digunakan)</label>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.data_pribadi.phone, new { @type = "tel", required = "required", @Value = "085892888159", @placeholder = "Input Phone", @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 control-label">No telepon rumah saat ini</label>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.data_pribadi.home_phone, new { @type = "tel", required = "required", @Value = "0225230740", @placeholder = "Input Home Phone", @class = "form-control" })
            </div>
        </div>


        <b><br><br>II. Data Pendidikan Formal<br><br></b>
        <table class="table">
            <thead class="thead-dark">
                <tr>

                    <th scope="col" rowspan="2"><p align="center">Keterangan</p></th>
                    <th rowspan="2"></th>
                    <th scope="col" rowspan="2"><p align="center">Nama Sekolah</p></th>
                    <th scope="col" rowspan="2"><p align="center">Kota</p></th>
                    <th scope="col" colspan="2"><p align="center">Tahun</p></th>
                    <th scope="col" rowspan="2"><p align="center">IPK/Nem</p></th>
                </tr>
                <tr>
                    <th scope="col"><p align="center">Masuk</p></th>
                    <th scope="col"><p align="center">Keluar</p></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>SD</td>
                    <td>@Html.TextBoxFor(m => m.pendidikan_formal[0].keterangan, new { @type = "hidden", @placeholder = "Keterangan", @Value = "SD", @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(m => m.pendidikan_formal[0].nama_sekolah, new { @type = "text", @placeholder = "Nama Sekolah", @Value = "SD Asmi", @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(m => m.pendidikan_formal[0].kota, new { @type = "text", @placeholder = "Kota", @Value = "Bandung", @class = "form-control" })</td>
                    <td>@Html.DropDownListFor(m => m.pendidikan_formal[0].tahun_masuk, new SelectList(ViewBag.Year, "Value", "Text"), new { id = "Type", @class = "form-control" })</td>
                    <td>@Html.DropDownListFor(m => m.pendidikan_formal[0].tahun_keluar, new SelectList(ViewBag.Year, "Value", "Text"), new { id = "Type", @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(m => m.pendidikan_formal[0].score, new { @type = "text", @placeholder = "IPK/Nem", @Value = "24", @class = "form-control" })</td>
                </tr>
                <tr>
                    <td>SMP</td>
                    <td>@Html.TextBoxFor(m => m.pendidikan_formal[1].keterangan, new { @type = "hidden", required = "required", @placeholder = "Keterangan", @Value = "SMP", @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(m => m.pendidikan_formal[1].nama_sekolah, new { @type = "text", @placeholder = "Nama Sekolah", @Value = "SMP 11", @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(m => m.pendidikan_formal[1].kota, new { @type = "text", @placeholder = "Kota", @Value = "Bandung", @class = "form-control" })</td>
                    <td>@Html.DropDownListFor(m => m.pendidikan_formal[1].tahun_masuk, new SelectList(ViewBag.Year, "Value", "Text"), new { id = "Type", @class = "form-control" })</td>
                    <td>@Html.DropDownListFor(m => m.pendidikan_formal[1].tahun_keluar, new SelectList(ViewBag.Year, "Value", "Text"), new { id = "Type", @class = "form-control" })</td>

                    <td>@Html.TextBoxFor(m => m.pendidikan_formal[1].score, new { @type = "text", @placeholder = "IPK/Nem", @Value = "32", @class = "form-control" })</td>
                </tr>
                <tr>
                    <td>SMA / JURUSAN</td>
                    <td>@Html.TextBoxFor(m => m.pendidikan_formal[2].keterangan, new { @type = "hidden", required = "required", @placeholder = "Keterangan", @Value = "SMA", @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(m => m.pendidikan_formal[2].nama_sekolah, new { @type = "text", @Value = "SMA BPI", @placeholder = "Nama Sekolah", @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(m => m.pendidikan_formal[2].kota, new { @type = "text", @placeholder = "Kota", @Value = "Bandung", @class = "form-control" })</td>
                    <td>@Html.DropDownListFor(m => m.pendidikan_formal[2].tahun_masuk, new SelectList(ViewBag.Year, "Value", "Text"), new { id = "Type", @class = "form-control" })</td>
                    <td>@Html.DropDownListFor(m => m.pendidikan_formal[2].tahun_keluar, new SelectList(ViewBag.Year, "Value", "Text"), new { id = "Type", @class = "form-control" })</td>

                    <td>@Html.TextBoxFor(m => m.pendidikan_formal[2].score, new { @type = "text", @placeholder = "IPK/Nem", @Value = "38", @class = "form-control" })</td>
                </tr>
                <tr>
                    <td>UNIVERSITAS / FAKULTAS</td>
                    <td>@Html.TextBoxFor(m => m.pendidikan_formal[3].keterangan, new { @type = "hidden", @placeholder = "Keterangan", @Value = "S1", @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(m => m.pendidikan_formal[3].nama_sekolah, new { @type = "text", @placeholder = "Nama Sekolah", @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(m => m.pendidikan_formal[3].kota, new { @type = "text", @placeholder = "Kota", @class = "form-control" })</td>
                    <td>@Html.DropDownListFor(m => m.pendidikan_formal[3].tahun_masuk, new SelectList(ViewBag.Year, "Value", "Text"), new { id = "Type", @class = "form-control" })</td>
                    <td>@Html.DropDownListFor(m => m.pendidikan_formal[3].tahun_keluar, new SelectList(ViewBag.Year, "Value", "Text"), new { id = "Type", @class = "form-control" })</td>

                    <td>@Html.TextBoxFor(m => m.pendidikan_formal[3].score, new { @type = "text", @placeholder = "IPK/Nem", @class = "form-control" })</td>
                </tr>
                <tr>
                    <td>PASCA SARJANA</td>
                    <td>@Html.TextBoxFor(m => m.pendidikan_formal[4].keterangan, new { @type = "hidden", @placeholder = "Keterangan", @Value = "S2", @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(m => m.pendidikan_formal[4].nama_sekolah, new { @type = "text", @placeholder = "Nama Sekolah", @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(m => m.pendidikan_formal[4].kota, new { @type = "text", @placeholder = "Kota", @class = "form-control" })</td>
                    <td>@Html.DropDownListFor(m => m.pendidikan_formal[4].tahun_masuk, new SelectList(ViewBag.Year, "Value", "Text"), new { id = "Type", @class = "form-control" })</td>
                    <td>@Html.DropDownListFor(m => m.pendidikan_formal[4].tahun_keluar, new SelectList(ViewBag.Year, "Value", "Text"), new { id = "Type", @class = "form-control" })</td>

                    <td>@Html.TextBoxFor(m => m.pendidikan_formal[4].score, new { @type = "text", @placeholder = "IPK/Nem", @class = "form-control" })</td>
                </tr>
            </tbody>
        </table>


        <b><br><br>III. Data Pendidikan Informal<br><br></b>
        @*<div><a href="#" id="addpendidikaninformal">Add New</a></div>*@
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"><p align="center">Macam / Jenis</p></th>
                    <th scope="col"><p align="center">Tempat</p></th>
                    <th scope="col"><p align="center">Lamanya</p></th>
                    <th scope="col"><p align="center">Yang membiayai</p></th>
                </tr>
            </thead>
            <tbody id="datapendidikaninformal">
                @for (int i = 0; i < 7; i++)
                {
                    <tr>
                        <td>@Html.TextBoxFor(m => m.pendidikan_informal[i].jenis, new { @type = "text",  @placeholder = "Macam / Jenis", @class = "form-control" })</td>
                        <td>@Html.TextBoxFor(m => m.pendidikan_informal[i].tempat, new { @type = "text", @placeholder = "Tempat", @class = "form-control" })</td>
                        <td>@Html.TextBoxFor(m => m.pendidikan_informal[i].lamanya, new { @type = "text", @placeholder = "Lamanya", @class = "form-control" })</td>
                        <td>@Html.TextBoxFor(m => m.pendidikan_informal[i].yang_membiayai, new { @type = "text", @placeholder = "Yang membiayai", @class = "form-control" })</td>
                        
                    </tr>
                }
            </tbody>
        </table>


        <b><br><br>IV. Data Keluarga (Bila sudah meninggal, kolom pekerjaan diisi dengan "Almarhum")<br><br></b>
        @*<div><a href="#" id="addkeluarga">Add New</a></div>*@
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"><p align="center">Status Hubungan</p></th>
                    <th scope="col"><p align="center">Nama Anggota Keluarga</p></th>
                    <th scope="col"><p align="center">Nomor Telepon</p></th>
                    <th scope="col"><p align="center">Tanggal Lahir</p></th>
                    <th scope="col"><p align="center">Jenis Kelamin</p></th>
                    <th scope="col"><p align="center">Pendidikan Terakhir</p></th>
                    <th scope="col"><p align="center">Pekerjaan</p></th>
                </tr>
            </thead>
            <tbody id="datakeluarga">
                @for (int i = 0; i < 7; i++)
                {
                    if (i == 0)
                    {
                        <tr>
                            <td>@Html.DropDownListFor(m => m.data_keluarga[i].status_hubungan, new SelectList(ViewBag.Family, "Value", "Text"), new { id = "Type", @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(m => m.data_keluarga[i].nama, new { @type = "text", @Value = "Husen", required = "required", @placeholder = "Nama Anggota", @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(m => m.data_keluarga[i].no_tlp, new { @type = "text", @Value = "0852389123", required = "required", @placeholder = "Nomor Tlp", @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(m => m.data_keluarga[i].ttl, new { @type = "date", required = "required", @Value = "02-06-1979", @placeholder = "Tanggal Lahir", @class = "form-control" })</td>
                            <td>
                                <div class="form-group row">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.data_keluarga[i].gender, "Laki Laki",new { @checked="checked"})@Html.Label("L")
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.data_keluarga[i].gender, "Perempuan")@Html.Label("P")
                                </div>
                            </td>
                            <td>@Html.DropDownListFor(m => m.data_keluarga[i].pendidikan_terakhir, new SelectList(ViewBag.Education, "Value", "Text"), new { id = "Type", @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(m => m.data_keluarga[i].pekerjaan, new { @type = "text", @Value = "Wirausaha", required = "required", @placeholder = "Pekerjaan", @class = "form-control" })</td>
                           
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@Html.DropDownListFor(m => m.data_keluarga[i].status_hubungan, new SelectList(ViewBag.Family, "Value", "Text"), new { id = "Type", @class="form-control" })</td>
                            <td>@Html.TextBoxFor(m => m.data_keluarga[i].nama, new { @type = "text", @placeholder = "Nama Anggota", @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(m => m.data_keluarga[i].no_tlp, new { @type = "text", @placeholder = "Nomor Tlp", @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(m => m.data_keluarga[i].ttl, new { @type = "date", @placeholder = "Tanggal Lahir", @class = "form-control" })</td>
                            <td>
                                <div class="form-group row">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.data_keluarga[i].gender, "Laki Laki")@Html.Label("L")
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.data_keluarga[i].gender, "Perempuan")@Html.Label("P")
                                </div>
                            </td>
                            <td>@Html.DropDownListFor(m => m.data_keluarga[i].pendidikan_terakhir, new SelectList(ViewBag.Education, "Value", "Text"), new { id = "Type", @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(m => m.data_keluarga[i].pekerjaan, new { @type = "text", @placeholder = "Pekerjaan", @class = "form-control" })</td>
                           
                        </tr>
                    }
                }
            </tbody>
        </table>


        <b><br><br>V. Kegiatan Sosial dan Berorganisasi<br><br></b>
        @*<div><a href="#" id="addorganisasi">Add New</a></div>*@
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"><p align="center">Kegiatan</p></th>
                    <th scope="col"><p align="center">Nama Organisasi</p></th>
                    <th scope="col"><p align="center">Tempat</p></th>
                    <th scope="col"><p align="center">Jabatan</p></th>
                    <th scope="col"><p align="center">Lamanya</p></th>
                    <th scope="col"><p align="center">#</p></th>
                </tr>
            </thead>
            <tbody id="dataorganisasi">
            @for (int i = 0; i < 7; i++)
            {
                <tr>
                    <td>@Html.TextBoxFor(m => m.organisasi[i].kegiatan, new { @type = "text", @placeholder = "Kegiatan", @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(m => m.organisasi[i].lainnya, new { @type = "text", @placeholder = "Nama Organisasi", @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(m => m.organisasi[i].tempat, new { @type = "text", @placeholder = "Tempat", @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(m => m.organisasi[i].jabatan, new { @type = "text", @placeholder = "Jabatan", @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(m => m.organisasi[i].lainnya, new { @type = "text", @placeholder = "Lamanya", @class = "form-control" })</td>
                   
                </tr>
            }
            </tbody>
        </table>


        <b><br><br>VI. Bahasa Asing<br><br></b>
        @*<div><a href="#" id="addbahasaasing">Add New</a></div>*@
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"><p align="center">Bahasa Asing</p></th>
                    <th scope="col"><p align="center">Keterangan</p></th>
                </tr>
            </thead>
            <tbody id="databahasaasing">
                @for (int i = 0; i < 3; i++)
                {
                    if (i == 0)
                    {
                        <tr>
                            <td>@Html.TextBoxFor(m => m.bahasa_lain[i].bahasa_asing, new { @type = "text", @Value = "Inggris", required = "required", @Placeholder = "Bahasa Asing", @class = "form-control" })</td>
                            <td>
                                <div class="form-group row">
                                        &nbsp;&nbsp;
                                        @Html.RadioButtonFor(model => model.bahasa_lain[i].keterangan, "Aktif",new { @checked="checked"})@Html.Label("Aktif")
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        @Html.RadioButtonFor(model => model.bahasa_lain[i].keterangan, "Pasif")@Html.Label("Pasif")
                                </div>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@Html.TextBoxFor(m => m.bahasa_lain[i].bahasa_asing, new { @type = "text", @Placeholder = "Bahasa Asing", @class = "form-control" })</td>
                            <td>
                                <div class="form-group row">
                                    &nbsp;&nbsp;
                                    @Html.RadioButtonFor(model => model.bahasa_lain[i].keterangan, "Aktif")@Html.Label("Aktif")
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    @Html.RadioButtonFor(model => model.bahasa_lain[i].keterangan, "Pasif")@Html.Label("Pasif")
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>


        <b><br><br>VII. Pengalaman Kerja / Riwayat Pekerjaan (Diisi mulai dari pekerjaan saat ini)<br><br></b>
        @*<div><a href="#" id="addpengalaman">Add New</a></div>*@
        for (int i = 0; i < 3; i++)
        {
            <table class="table" id="datapengalaman">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            <p align="center">
                                Nama Perusahaan
                            </p><br>
                            @Html.TextBoxFor(m => m.pengalaman_kerja[i].nama_perusahaan, new { @type = "text", @Value = "Neuronworks", @placeholder = "Nama Perusahaan", @class = "form-control" })
                        </th>
                        <th scope="col">
                            <p align="center">Lama Kerja</p><br>
                            @Html.TextBoxFor(m => m.pengalaman_kerja[i].lama_kerja, new { @type = "text", @Value = "2 tahun", @placeholder = "Lama Kerja", @class = "form-control" })
                        </th>
                        <th scope="col">
                            <p align="center">Alamat</p><br>
                            @Html.TextBoxFor(m => m.pengalaman_kerja[i].alamat, new { @type = "text", @Value = "Buah batu regency", @placeholder = "Alamat", @class = "form-control" })
                        </th>
                    </tr>
                </thead>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            <p align="center">Jabatan terakhir yang diduduki</p><br>
                            @Html.TextBoxFor(m => m.pengalaman_kerja[i].posisi, new { @type = "text", @Value = "Developer", @placeholder = "Jabatan Terakhir", @class = "form-control" })
                        </th>
                        <th scope="col">
                            <p align="center">Lamanya</p><br>
                            @Html.TextBoxFor(m => m.pengalaman_kerja[i].lamanya, new { @type = "text", @Value = "2 tahun", @placeholder = "Lamanya", @class = "form-control" })
                        </th>
                        <th scope="col">
                            <p align="center">Gaji yang diterima</p><br>
                            @Html.TextBoxFor(m => m.pengalaman_kerja[i].gaji, new { @type = "text", @Value = "3000000", @placeholder = "Gaji", @class = "form-control" })
                        </th>
                    </tr>
                </thead>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" colspan="2">
                            <p align="center">Jelaskan tugas utama anda :</p><br>
                            @Html.TextAreaFor(m => m.pengalaman_kerja[i].tugas_utama, new { @type = "text", @Value = "Membuat program web dengan framework zen", @placeholder = "Jelaskan Tugas Utama", @class = "form-control" })
                        </th>
                        <th scope="col">
                            <p align="center">Alasan berhenti</p><br>
                            @Html.TextAreaFor(m => m.pengalaman_kerja[i].alasan_keluar, new { @type = "text", @Value = "Habis Kontrak", @placeholder = "Alasan Keluar", @class = "form-control" })
                        </th>
                    </tr>
                </thead>
            </table>
        }
        <br><br><br>
        <div class="form-group row">
            <label class="col-lg-3 control-label"><b>Gaji yang diharapkan</b></label>
            <div class="col-lg-9">Rp.
                @Html.TextBoxFor(m => m.data_pribadi.gaji, new { @type = "text", @Value = "2000000", required = "required", @class = "form-control" })
            </div>
        </div>


        <b><br><br>VIII. Jenis pekerjaan yang disukai (Sebutkan)<br><br></b>
        @*<div><a href="#" id="addpekerjaanfav">Add New</a></div>*@
            <table class="table" id="datapekerjaanfav">
                <tbody>
                @for (int i = 0; i < 3; i++)
                {
                    if (i == 0)
                    {
                        <tr>
                            <td>@Html.TextBoxFor(m => m.pekerjaan_favorite[i].nama, new { @type = "text", @Value = "Quality Control", required = "required", @placeholder = "Masukkan Jenis Pekerjaan yang disukai", @class = "form-control" })</td>
                            
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@Html.TextBoxFor(m => m.pekerjaan_favorite[i].nama, new { @type = "text", @placeholder = "Masukkan Jenis Pekerjaan yang disukai", @class = "form-control" })</td>
                          
                        </tr>
                    }
                }
                </tbody >
            </table>

        <b><br><br>IX. Hobby<br><br></b>
        @*<div><a href="#" id="addhobi">Add New</a></div>*@
            <table class="table" id="datahobi">
                @for (int a = 0; a < 3; a++)
                {
                    if (a == 0)
                    {
                        <tr>
                            <td>@Html.TextBoxFor(m => m.hobby[a].nama, new { @type = "text", @Value = "Membaca", required = "required", @placeholder = "Masukkan Hobimu", @class = "form-control" })</td>
                            
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@Html.TextBoxFor(m => m.hobby[a].nama, new { @type = "text", @placeholder = "Masukkan Hobimu", @class = "form-control" })</td>
                            
                        </tr>
                    }
                }
            </table>

        <b><br><br>X. Keterampilan<br><br></b>
        <div class="form-group row">
            <label class="col-lg-3 control-label">Saudara cukup mampu dibidang :</label>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.data_pribadi.kemampuan, new { @type = "text", @Value = "Ngoding", @placeholder = "Keterampilan anda", @class = "form-control" })
            </div>
            @*<div><a href="#" id="addketerampilan">Add New</a></div>*@
            <label class="col-lg-12 control-label">Sebutkan hal-hal mengenai keterampilan anda</label>
            <table class="table" id="dataketerampilan">
                <tbody>
                    @for (int i = 0; i < 3; i++)
                    {
                        if (i == 0)
                        {
                            <tr>
                                <td>@Html.TextBoxFor(m => m.keterampilan[i].nama, new { @type = "text", @Value = "C#", required = "required", @placeholder = "Masukkan keterampilan", @class = "form-control" })</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@Html.TextBoxFor(m => m.keterampilan[i].nama, new { @type = "text", @placeholder = "Masukkan keterampilan", @class = "form-control" })</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <b><br><br>XI. Pertanyaan<br><br></b>
        <div class="form-group row">
            <label class="col-lg-6 control-label">1. Apakah Saudara pernah sakit keras ? </label>
            <div class="col-lg-6">
                @Html.RadioButtonFor(m => m.pertanyaan.pertanyaan_sakit, "Yes",new { @id="sakit"})@Html.Label("Ya")&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.RadioButtonFor(m => m.pertanyaan.pertanyaan_sakit, "No", new { @id = "sakit" })@Html.Label("Tidak")
                @Html.TextAreaFor(m => m.pertanyaan.keterangan_sakit, new { id = "ksakit", style = "display:none", @class = "form-control", placeholder = "Jika Ya, penyakit apa dan apa yang anda rasakan sekarang" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-6 control-label">2. Apakah Saudara pernah mengalami Kecelakaan Berat ? </label>
            <div class="col-lg-6">
                @Html.RadioButtonFor(m => m.pertanyaan.pertanyaan_kecelakaan, "Yes", new { @id = "kecelakaan" })@Html.Label("Ya")&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.RadioButtonFor(m => m.pertanyaan.pertanyaan_kecelakaan, "No", new { @id = "kecelakaan" })@Html.Label("Tidak")
                @Html.TextAreaFor(m => m.pertanyaan.keterangan_kecelakaan, new { id = "kkecelakaan", style = "display:none", @class = "form-control", placeholder = "Jika Ya, apa yang anda rasakan sekarang" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-6 control-label">3. Apakah Saudara pernah mengikuti PSIKOTEST ? </label>
            <div class="col-lg-6">
                @Html.RadioButtonFor(m => m.pertanyaan.pertanyaan_psikotes, "Yes", new { @id = "psikotes" })@Html.Label("Ya")&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.RadioButtonFor(m => m.pertanyaan.pertanyaan_psikotes, "No", new { @id = "psikotes" })@Html.Label("Tidak")
                @Html.TextAreaFor(m => m.pertanyaan.keterangan_psikotes, new { id = "kpsikotes", style = "display:none", @class = "form-control", placeholder = "Jika Ya, dimana dan berapa nilai yang diperoleh" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-6 control-label">4. Apakah alasan Saudara memilih tempat pekerjaan yang sekarang ?</label>
            <div class="col-lg-6">
                @Html.TextAreaFor(m => m.pertanyaan.alasan_masuk_nawadata, new { @class = "form-control", @Value = "Adanya Jenjang karir yang jelas pada perusahaan ini", required = "required", placeholder = "Alasan memilih pekerjaan sekarang" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-6 control-label">5. Apakah yang terpenting dalam hidup Saudara ?</label>
            <div class="col-lg-6">
                @Html.TextAreaFor(m => m.pertanyaan.hal_terpenting, new { @class = "form-control", @Value = "Orang Tua", required = "required", placeholder = "Hal Terpenting" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-6 control-label">6. Apakah ambisi Saudara ?</label>
            <div class="col-lg-6">
                @Html.TextAreaFor(m => m.pertanyaan.ambisi, new { @class = "form-control", required = "required", @Value = "Menjadi orang yang berguna di lingkungan sekitar", placeholder = "Ambisi" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-6 control-label">7. Menurut Saudara , apa pengertian SUKSES ?</label>
            <div class="col-lg-6">
                @Html.TextAreaFor(m => m.pertanyaan.pengertian_sukses, new { @class = "form-control", @Value = "Ketika menjadi berguna untuk nusa dan bangsa", required = "required", placeholder = "Sukses itu ..." })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-6 control-label">8. Apakah yang menjadi dasar pendapat Saudara tentang etika / moral ?</label>
            <div class="col-lg-6">
                @Html.TextAreaFor(m => m.pertanyaan.etika_moral, new { @class = "form-control", @Value = "Tingkah laku", required = "required", placeholder = "Etika / Moral" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-6 control-label">9. Apakah pendapat orang lain tentang Saudara ?</label>
            <div class="col-lg-6">
                @Html.TextAreaFor(m => m.pertanyaan.pendapat_orang_tentang_anda, new { @class = "form-control", @Value = "Ramah dan humble", required = "required", placeholder = "Pendapat orang tentang anda" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-6 control-label">10. Sebutkan dan jelaskan kekurangan Saudara ?</label>
            <div class="col-lg-6">
                @Html.TextAreaFor(m => m.pertanyaan.kekurangan, new { @class = "form-control", required = "required", @Value = "Kurang dalam bahasa inggris", placeholder = "Kekurangan anda" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-6 control-label">11. Sebutkan dan jelaskan kelebihan Saudara ?</label>
            <div class="col-lg-6">
                @Html.TextAreaFor(m => m.pertanyaan.kelebihan, new { @class = "form-control", required = "required", @Value = "Pantang menyerah", placeholder = "Kelebihan anda" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-6 control-label">12. Bila Saudara dihadapkan pada suatu masalah yang rumit, apakah Saudara selesaikan sendiri atau minta pendapat orang lain ? Jelaskan ! </label>
            <div class="col-lg-6">
                @Html.RadioButtonFor(m => m.pertanyaan.pertanyaan_masalah, "Sendiri")@Html.Label("Sendiri")&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.RadioButtonFor(m => m.pertanyaan.pertanyaan_masalah, "Pendapat orang lain")@Html.Label("Minta pendapat orang lain")
                @Html.TextAreaFor(m => m.pertanyaan.keterangan_masalah, new { @class = "form-control", @Value = "Saya dapat menyelesaikan sediri", required = "required", placeholder = "Jelaskan !" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-6 control-label">13. Jabatan yang Saudara inginkan ?</label>
            <div class="col-lg-6">
                @Html.TextAreaFor(m => m.pertanyaan.keinginan_jabatan, new { @class = "form-control", @Value = "Developer", required = "required", placeholder = "Jabatan" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-6 control-label">14. Jika diterima, kapan Anda bersedia masuk ?</label>
            <div class="col-lg-6">
                @Html.TextBoxFor(m => m.pertanyaan.waktu_bergabung, new { @type = "Text", @Value = "Segera", @class = "form-control", required = "required", placeholder = "Waktu masuk" })
            </div>
        </div>

        <b><br><br>XII. Referensi dan rekomendasi tentang saudara dapat diperoleh dari :<br><br></b>
        @*<div><a href="#" id="addreferensi">Add New</a></div>*@
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"><p align="center">Nama Lengkap</p></th>
                    <th scope="col"><p align="center">Nama Perusahaan</p></th>
                    <th scope="col"><p align="center">No. Telepon</p></th>
                    <th scope="col"><p align="center">Jabatan</p></th>
                    <th scope="col"><p align="center">Hubungan dengan saudara</p></th>
                </tr>
            </thead>
            <tbody id="datareferensi">
                @for (int i = 0; i < 3; i++)
                {
                        <tr>
                            <td>@Html.TextBoxFor(m => m.referensi[i].nama, new { @type = "text", @placeholder = "Nama Lengkap referensi", @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(m => m.referensi[i].nama_perusahaan, new { @type = "text", @placeholder = "Nama Perusahaan", @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(m => m.referensi[i].no_tlp, new { @type = "text",  @placeholder = "No.Telp", @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(m => m.referensi[i].jabatan, new { @type = "text",  @placeholder = "Jabatan", @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(m => m.referensi[i].hubungan, new { @type = "text", @placeholder = "Hubungan", @class = "form-control" })</td>
                            
                        </tr>
                }
            </tbody>
        </table>


        <b><br><br>XIII. Keluarga yang dapat dihubungi ketika keadaan darurat<br><br></b>
        @*<div><a href="#" id="addkeluargadarurat">Add New</a></div>*@
        <table class="table" >
            <thead class="thead-dark">
                <tr>
                    <th scope="col"><p align="center">Nama Lengkap</p></th>
                    <th scope="col"><p align="center">Nama Perusahaan</p></th>
                    <th scope="col"><p align="center">No. Telepon</p></th>
                    <th scope="col"><p align="center">Jabatan</p></th>
                    <th scope="col"><p align="center">Hubungan dengan saudara</p></th>
                </tr>
            </thead>
            <tbody id="datakeluargadarurat">
            @for (int i = 0; i < 3; i++)
                {
                    if (i == 0)
                    {
                    <tr>
                        <td>@Html.TextBoxFor(m => m.keluarga_darurat[i].nama, new { @type = "text", @Value = "Jefry", required = "required", @placeholder = "Nama Lengkap Keluarga", @class = "form-control" })</td>
                        <td>@Html.TextBoxFor(m => m.keluarga_darurat[i].nama_perusahaan, new { @type = "text", @Value = "Nawapoint", required = "required", @placeholder = "Nama Perusahaan", @class = "form-control" })</td>
                        <td>@Html.TextBoxFor(m => m.keluarga_darurat[i].no_tlp, new { @type = "text", @Value = "08928648924", required = "required", @placeholder = "No.Telp", @class = "form-control" })</td>
                        <td>@Html.TextBoxFor(m => m.keluarga_darurat[i].jabatan, new { @type = "text", @Value = "Developer", required = "required", @placeholder = "Jabatan", @class = "form-control" })</td>
                        <td>@Html.TextBoxFor(m => m.keluarga_darurat[i].hubungan, new { @type = "text", @Value = "Kerabat", required = "required", @placeholder = "Hubungan", @class = "form-control" })</td>
                        
                    </tr>
                }
                else
                {   
                    <tr>
                        <td>@Html.TextBoxFor(m => m.keluarga_darurat[i].nama, new { @type = "text", @placeholder = "Nama Lengkap Keluarga", @class = "form-control" })</td>
                        <td>@Html.TextBoxFor(m => m.keluarga_darurat[i].nama_perusahaan, new { @type = "text", @placeholder = "Nama Perusahaan", @class = "form-control" })</td>
                        <td>@Html.TextBoxFor(m => m.keluarga_darurat[i].no_tlp, new { @type = "text", @placeholder = "No.Telp", @class = "form-control" })</td>
                        <td>@Html.TextBoxFor(m => m.keluarga_darurat[i].jabatan, new { @type = "text", @placeholder = "Jabatan", @class = "form-control" })</td>
                        <td>@Html.TextBoxFor(m => m.keluarga_darurat[i].hubungan, new { @type = "text", @placeholder = "Hubungan", @class = "form-control" })</td>
                        
                    </tr>
                }
            }
            </tbody>
        </table>
        <div class="form-group row">
            <div class="col-lg-10">
                <input type="hidden" />
            </div>
            <div class="col-lg-2">
                <input type="submit" value="Save Changes" class="btn btn-primary btn-xl" >
            </div>
        </div>

<div class="modal fade" id="Modalalert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
     <div class="modal-body">
          Are u sure ?
     </div>
    <div class="modal-footer">
          <div class="form-group">
          <input type="submit" name="submit" value="Save" class="btn btn-secondary" />
   </div>
             </div>
         </div>
    </div>
 </div>
}
</div>
</section>

<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Instruction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Read the application form carefully and write clearly and neatly.

                    Fill all forms and answer all the questions truthfully. List your

                    most recent work experience first, then the work you did before

                    that and so on. List your most relevant education and training.

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-primary js-scroll-trigger" href="#form" onclick="$('#exampleModalScrollable').modal('hide')">Continue</a>
            </div>
        </div>
    </div>
</div>
    
<script>
    $(function () {
        $('#sakit').change(function () {
                $("#ksakit").css("display", "block");  
        })
        $('#kecelakaan').change(function () {
            $("#kkecelakaan").css("display", "block");
        })
        $('#psikotes').change(function () {
            $("#kpsikotes").css("display", "block");
        })

    })
    //$(document).ready(function () {
    //    $('input:radio[name=sakit]').change(function () {
    //        if (this.value == 'allot') {
    //            $("#ksakit").css("display", "block");
    //        } else if (this.value == 'transfer') {
    //            $("#ksakit").css("display", "none");
    //        }
    //    });
    //});

    //function getSelected() {
    //    $("input[type='radio']").each(function () {
    //            if (this.value == "Yes") {
    //                $("#ksakit").css("display", "block");
    //            } else {
    //                $("#ksakit").css("display", "none");
    //            }
    //        });}

    //function getSelected1() {
    //    $("input[type='radio']").each(function () {
    //        if (this.value == "Yes") {
    //            $("#kkecelakaan").css("display", "block");
    //        } else {
    //            $("#kkecelakaan").css("display", "none");
    //        }
    //    });
    //    }
    //function getSelected2() {
    //    $("input[type='radio']").each(function () {
    //            if (this.value == "Yes") {
    //                $("#kpsikotes").css("display", "block");
    //            } else {
    //                $("#kpsikotes").css("display", "none");
    //            }
    //    });
    //}



        function submit(event){
           event.preventDefault();
           //assuming bootstrap 3
           $('#Modalalert').modal('show')
           //ajax request
        }
</script>

@*@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>       
            //1. hobi
            $("#addhobi").click(function (e) {
                e.preventDefault();
                var $tableBody = $("#datahobi");
                var $trLast = $tableBody.find("tr:first");
                var $trNew = $trLast.clone();

                var suffix = $trNew.find(':input:first').attr('name').match(/\d+/);
                $trNew.find("td:last").html('<a href="#" class="remove">Remove</a>');
                $.each($trNew.find(':input'), function (i, val) {
                    // Replaced Name
                    var oldN = $(this).attr('name');
                    var newN = oldN.replace('[' + suffix + ']', '[' + (parseInt(suffix) + 1) + ']');
                    $(this).attr('name', newN);
                    //Replaced value
                    var type = $(this).attr('type');
                    if (type.toLowerCase() == "text") {
                        $(this).attr('value', '');
                    }

                    // If you have another Type then replace with default value
                    $(this).removeClass("input-validation-error");

                });
                $trLast.after($trNew);

                // Re-assign Validation
                var form = $("form")
                    .removeData("validator")
                    .removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse(form);


                $('a.remove').live("click", function (e) {
                    e.preventDefault();
                    $(this).parent().parent().remove();
                });

            });
 
    </script>

<script>

            //1. hobi
            $("#addketerampilan").click(function (e) {
                e.preventDefault();
                var $tableBody = $("#dataketerampilan");
                var $trLast = $tableBody.find("tr:first");
                var $trNew = $trLast.clone();

                var suffix = $trNew.find(':input:first').attr('name').match(/\d+/);
                $trNew.find("td:last").html('<a href="#" class="remove">Remove</a>');
                $.each($trNew.find(':input'), function (i, val) {
                    // Replaced Name
                    var oldN = $(this).attr('name');
                    var newN = oldN.replace('[' + suffix + ']', '[' + (parseInt(suffix) + 1) + ']');
                    $(this).attr('name', newN);
                    //Replaced value
                    var type = $(this).attr('type');
                    if (type.toLowerCase() == "text") {
                        $(this).attr('value', '');
                    }

                    // If you have another Type then replace with default value
                    $(this).removeClass("input-validation-error");

                });
                $trLast.after($trNew);

                // Re-assign Validation
                var form = $("form")
                    .removeData("validator")
                    .removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse(form);


                $('a.remove').live("click", function (e) {
                    e.preventDefault();
                    $(this).parent().parent().remove();
                });

            });

</script>


    <script language="javascript">

    </script>

    <script language="javascript">
        $("#addkeluargadarurat").click(function (e) {
            e.preventDefault();
            var $tableBody = $("#datakeluargadarurat");
            var $trLast = $tableBody.find("tr:first");
            var $trNew = $trLast.clone();

            var suffix = $trNew.find(':input:first').attr('name').match(/\d+/);
            $trNew.find("td:last").html('<a href="#" class="remove">Remove</a>');
            $.each($trNew.find(':input'), function (i, val) {
                // Replaced Name
                var oldN = $(this).attr('name');
                var newN = oldN.replace('[' + suffix + ']', '[' + (parseInt(suffix) + 1) + ']');
                $(this).attr('name', newN);
                //Replaced value
                var type = $(this).attr('type');
                if (type.toLowerCase() == "text") {
                    $(this).attr('value', '');
                }

                // If you have another Type then replace with default value
                $(this).removeClass("input-validation-error");

            });
            $trLast.after($trNew);

            // Re-assign Validation
            var form = $("form")
                .removeData("validator")
                .removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse(form);
        });

        // 2. Remove
        $('button.remove').live("click", function (e) {
            e.preventDefault();
            $(this).parent().parent().remove();
        });

        </script>

<script language="javascript">
        $("#addreferensi").click(function (e) {
            e.preventDefault();
            var $tableBody = $("#datareferensi");
            var $trLast = $tableBody.find("tr:first");
            var $trNew = $trLast.clone();

            var suffix = $trNew.find(':input:first').attr('name').match(/\d+/);
            $trNew.find("td:last").html('<a href="#" class="remove">Remove</a>');
            $.each($trNew.find(':input'), function (i, val) {
                // Replaced Name
                var oldN = $(this).attr('name');
                var newN = oldN.replace('[' + suffix + ']', '[' + (parseInt(suffix) + 1) + ']');
                $(this).attr('name', newN);
                //Replaced value
                var type = $(this).attr('type');
                if (type.toLowerCase() == "text") {
                    $(this).attr('value', '');
                }

                // If you have another Type then replace with default value
                $(this).removeClass("input-validation-error");

            });
            $trLast.after($trNew);

            // Re-assign Validation
            var form = $("form")
                .removeData("validator")
                .removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse(form);
        });

        // 2. Remove
        $('button.remove').live("click", function (e) {
            e.preventDefault();
            $(this).parent().parent().remove();
        });

</script>

<script language="javascript">
        $("#addpendidikaninformal").click(function (e) {
            e.preventDefault();
            var $tableBody = $("#datapendidikaninformal");
            var $trLast = $tableBody.find("tr:first");
            var $trNew = $trLast.clone();

            var suffix = $trNew.find(':input:first').attr('name').match(/\d+/);
            $trNew.find("td:last").html('<a href="#" class="remove">Remove</a>');
            $.each($trNew.find(':input'), function (i, val) {
                // Replaced Name
                var oldN = $(this).attr('name');
                var newN = oldN.replace('[' + suffix + ']', '[' + (parseInt(suffix) + 1) + ']');
                $(this).attr('name', newN);
                //Replaced value
                var type = $(this).attr('type');
                if (type.toLowerCase() == "text") {
                    $(this).attr('value', '');
                }

                // If you have another Type then replace with default value
                $(this).removeClass("input-validation-error");

            });
            $trLast.after($trNew);

            // Re-assign Validation
            var form = $("form")
                .removeData("validator")
                .removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse(form);
        });

        // 2. Remove
        $('button.remove').live("click", function (e) {
            e.preventDefault();
            $(this).parent().parent().remove();
        });

</script>
<script language="javascript">
        $("#addkeluarga").click(function (e) {
            e.preventDefault();
            var $tableBody = $("#datakeluarga");
            var $trLast = $tableBody.find("tr:first");
            var $trNew = $trLast.clone();

            var suffix = $trNew.find(':input:first').attr('name').match(/\d+/);
            $trNew.find("td:last").html('<a href="#" class="remove">Remove</a>');
            $.each($trNew.find(':input'), function (i, val) {
                // Replaced Name
                var oldN = $(this).attr('name');
                var newN = oldN.replace('[' + suffix + ']', '[' + (parseInt(suffix) + 1) + ']');
                $(this).attr('name', newN);
                //Replaced value
                var type = $(this).attr('type');
                if (type.toLowerCase() == "text") {
                    $(this).attr('value', '');
                }

                // If you have another Type then replace with default value
                $(this).removeClass("input-validation-error");

            });
            $trLast.after($trNew);

            // Re-assign Validation
            var form = $("form")
                .removeData("validator")
                .removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse(form);
        });

        // 2. Remove
        $('button.remove').live("click", function (e) {
            e.preventDefault();
            $(this).parent().parent().remove();
        });

</script>
<script language="javascript">
        $("#addorganisasi").click(function (e) {
            e.preventDefault();
            var $tableBody = $("#dataorganisasi");
            var $trLast = $tableBody.find("tr:first");
            var $trNew = $trLast.clone();

            var suffix = $trNew.find(':input:first').attr('name').match(/\d+/);
            $trNew.find("td:last").html('<a href="#" class="remove">Remove</a>');
            $.each($trNew.find(':input'), function (i, val) {
                // Replaced Name
                var oldN = $(this).attr('name');
                var newN = oldN.replace('[' + suffix + ']', '[' + (parseInt(suffix) + 1) + ']');
                $(this).attr('name', newN);
                //Replaced value
                var type = $(this).attr('type');
                if (type.toLowerCase() == "text") {
                    $(this).attr('value', '');
                }

                // If you have another Type then replace with default value
                $(this).removeClass("input-validation-error");

            });
            $trLast.after($trNew);

            // Re-assign Validation
            var form = $("form")
                .removeData("validator")
                .removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse(form);
        });

        // 2. Remove
        $('button.remove').live("click", function (e) {
            e.preventDefault();
            $(this).parent().parent().remove();
        });

</script>
<script language="javascript">
        $("#addpekerjaanfav").click(function (e) {
            e.preventDefault();
            var $tableBody = $("#datapekerjaanfav");
            var $trLast = $tableBody.find("tr:first");
            var $trNew = $trLast.clone();

            var suffix = $trNew.find(':input:first').attr('name').match(/\d+/);
            $trNew.find("td:last").html('<a href="#" class="remove">Remove</a>');
            $.each($trNew.find(':input'), function (i, val) {
                // Replaced Name
                var oldN = $(this).attr('name');
                var newN = oldN.replace('[' + suffix + ']', '[' + (parseInt(suffix) + 1) + ']');
                $(this).attr('name', newN);
                //Replaced value
                var type = $(this).attr('type');
                if (type.toLowerCase() == "text") {
                    $(this).attr('value', '');
                }

                // If you have another Type then replace with default value
                $(this).removeClass("input-validation-error");

            });
            $trLast.after($trNew);

            // Re-assign Validation
            var form = $("form")
                .removeData("validator")
                .removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse(form);
        });

        // 2. Remove
        $('button.remove').live("click", function (e) {
            e.preventDefault();
            $(this).parent().parent().remove();
        });

</script>
<script language="javascript">
        $("#addbahasaasing").click(function (e) {
            e.preventDefault();
            var $tableBody = $("#databahasaasing");
            var $trLast = $tableBody.find("tr:first");
            var $trNew = $trLast.clone();

            var suffix = $trNew.find(':input:first').attr('name').match(/\d+/);
            $trNew.find("td:last").html('<a href="#" class="remove">Remove</a>');
            $.each($trNew.find(':input'), function (i, val) {
                // Replaced Name
                var oldN = $(this).attr('name');
                var newN = oldN.replace('[' + suffix + ']', '[' + (parseInt(suffix) + 1) + ']');
                $(this).attr('name', newN);
                //Replaced value
                var type = $(this).attr('type');
                if (type.toLowerCase() == "text") {
                    $(this).attr('value', '');
                }

                // If you have another Type then replace with default value
                $(this).removeClass("input-validation-error");

            });
            $trLast.after($trNew);

            // Re-assign Validation
            var form = $("form")
                .removeData("validator")
                .removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse(form);
        });

        // 2. Remove
        $('button.remove').live("click", function (e) {
            e.preventDefault();
            $(this).parent().parent().remove();
        });

</script>
<script language="javascript">
        $("#addpengalaman").click(function (e) {
            e.preventDefault();
            var $tableBody = $("#datapengalaman");
            var $trLast = $tableBody;
            var $trNew = $tableBody.clone();

            var suffix = $trNew.find(':input:first').attr('name').match(/\d+/);
            $.each($trNew.find(':input'), function (i, val) {
                // Replaced Name
                var oldN = $(this).attr('name');
                var newN = oldN.replace('[' + suffix + ']', '[' + (parseInt(suffix) + 1) + ']');
                $(this).attr('name', newN);
                //Replaced value
                var type = $(this).attr('type');
                if (type.toLowerCase() == "text") {
                    $(this).attr('value', '');
                }

                // If you have another Type then replace with default value
                $(this).removeClass("input-validation-error");

            });
            $trLast.after($trNew);

            // Re-assign Validation
            var form = $("form")
                .removeData("validator")
                .removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse(form);
        });

        // 2. Remove
        $('button.remove').live("click", function (e) {
            e.preventDefault();
            $(this).parent().parent().remove();
        });

</script>
}*@