﻿@{
    if (ViewBag.message != null)
    {
        <script>
        function codeAddress() {
            $("#message")
            .closest(".modal").modal('show');
        }
        window.onload = codeAddress;
        </script>
    }
}
<!-- Masthead -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Welcome, @ViewBag.Email</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">Start assessments by clicking Test button!</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#form">Test</a>
            </div>
        </div>
        <br>
        <h2 class="text-center mt-0">Menu Test</h2>
        <hr class="divider my-4">
    </div>
</header>

<!-- Services Section -->
<!-- Services Section -->
<section class="page-section" id="form">
    <div class="container">
        <div class="progress">
            @{
                int progress = ViewBag.progress;    
                int banyak = ViewBag.Banyak;
                int panjang = 100 / banyak;
                int bar = panjang * progress;
             }
            
            <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" aria-valuenow="@bar.ToString()" aria-valuemin="0" aria-valuemax="100" style="width:@bar.ToString()%;"></div>                       
        </div>
        <div class="row">
            @if (bar == 100)
            {
                <div class="col-12">
                <p align="center"><h1>Thank U</h1></p>
                </div>
            }
            else
            {
                if (ViewBag.Problem != null)
                {
                    int a = 1;
                    foreach (string item in ViewBag.Problem)
                    {
                        string name = item;
                        string[] index = name.Split('/');
                        var link = item + "?obj=" + ViewBag.Link;
                        if (ViewBag.Form == null)
                        {
                            if (a == 1)
                            {
                                a = 2;
                                <div class="col-3">
                                    <a class="nav-link" href="@link">
                                        @index[index.Length - 1]
                                        <i cls="fas fa-check text-dark"></i>
                                    </a>
                                </div>

                            }
                            else
                            {
                                <div class="col-3">
                                    <p class="nav-link">
                                        @index[index.Length - 1]
                                        <i cls="fas fa-check text-dark"></i>
                                    </p>
                                </div>

                            }
                        }
                        else
                        {
                            if (a == 1)
                            {
                                if (ViewBag.status == 1)
                                {
                                    <div class="col-3">
                                        <p class="nav-link">
                                            @index[index.Length - 1]
                                            <i cls="fas fa-check text-dark"></i>
                                        </p>
                                    </div>

                                }
                                a = 2;
                            }
                            else
                            {
                                if (index[index.Length - 1] == "Disc")
                                {
                                    if (ViewBag.DISC != null)
                                    {
                                        <div class="col-3">
                                            <p class="nav-link">
                                                @index[index.Length - 1]
                                                <i cls="fas fa-check text-dark"></i>
                                            </p>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="col-3">
                                            <a class="nav-link" href="@link">
                                                @index[index.Length - 1]
                                                <i cls="fas fa-check text-dark"></i>
                                            </a>
                                        </div>

                                    }
                                }
                                else if (index[index.Length - 1] == "Psikotes")
                                {
                                    if (ViewBag.psikotes != null)
                                    {
                                        <div class="col-3">
                                            <p class="nav-link">
                                                @index[index.Length - 1]
                                                <i cls="fas fa-check text-dark"></i>
                                            </p>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="col-3">
                                            <a class="nav-link" href="@link">
                                                @index[index.Length - 1]
                                                <i cls="fas fa-check text-dark"></i>
                                            </a>
                                        </div>

                                    }
                                }
                                else if (index[index.Length - 1] == "TestLogic")
                                {
                                    if (ViewBag.logictest != null)
                                    {
                                        <div class="col-3">
                                            <p class="nav-link">
                                                @index[index.Length - 1]
                                                <i cls="fas fa-check text-dark"></i>
                                            </p>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="col-3">
                                            <a class="nav-link" href="@link">
                                                @index[index.Length - 1]
                                                <i cls="fas fa-check text-dark"></i>
                                            </a>
                                        </div>

                                    }
                                }


                            }
                        }

                    }
                }
            }

        </div>
    </div>
    <br><br><br>
</section>

<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alert!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (ViewBag.message != null)
                {
                    if (ViewBag.message == 0)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Add is failed</div>
                    }
                    else if (ViewBag.message == 1)
                    {
                        <div class="alert alert-success"><b>Success!</b> Form successull !</div>
                    }
                    else if (ViewBag.message == 3)
                    {
                        <div class="alert alert-success"><b>Success!</b> logictest successull !</div>
                    }
                    else if (ViewBag.message == 4)
                    {
                        <div class="alert alert-success"><b>Success!</b> Psychotest successull !</div>
                    }
                    else if (ViewBag.message == 2)
                    {
                        <div class="alert alert-success"><b>Success!</b> disc successull !</div>
                    }
                    else
                    {
                        <div class="alert alert-danger"><b>Success!</b> Delete is successfull!</div>
                    }
                }
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>