﻿@model nawadaya_project.Models.ms_psychotest_problems
<!-- Masthead -->
@{
    var link = ViewBag.Link;

    if (ViewBag.Subtest != null)
    {
        if (ViewBag.Subtest == "1")
        {
            <script>
                function codeAddress() {
                    $("#timer").css("display", "block");
                    $("#psikotes1").css("display", "block");
                    window.location.hash = "#psikotes1";
                }
                window.onload = codeAddress;
            </script>
        }
        else if (ViewBag.Subtest == "2")
        {
            <script>
                function codeAddress() {
                    $("#example1").css("display", "none");
                    $("#psikotes1").css("display", "none");
                    $("#example2").css("display", "block");
                    window.location.hash = "#example2";
                }
                window.onload = codeAddress;
            </script>
        }
        else if (ViewBag.Subtest == "3")
        {
            <script>
                function codeAddress() {
                    $("#timer").css("display", "block");
                    $("#example1").css("display", "none");
                    $("#psikotes1").css("display", "none");
                    $("#example2").css("display", "block");
                    $("#psikotes2").css("display", "block");
                    window.location.hash = "#psikotes2";
                }
                window.onload = codeAddress;
            </script>
        }
        else if (ViewBag.Subtest == "4")
        {
            <script>
                function codeAddress() {
                    $("#example1").css("display", "none");
                    $("#psikotes1").css("display", "none");
                    $("#example3").css("display", "block");
                    window.location.hash = "#example3";
                }
                window.onload = codeAddress;
            </script>
        }
        else if (ViewBag.Subtest == "5")
        {
            <script>
                function codeAddress() {
                    $("#timer").css("display", "block");
                    $("#example1").css("display", "none");
                    $("#psikotes1").css("display", "none");
                    $("#example3").css("display", "block");
                    $("#psikotes3").css("display", "block");
                    window.location.hash = "#psikotes3";
                }
                window.onload = codeAddress;
            </script>
        }
        else if (ViewBag.Subtest == "6")
        {
            <script>
                function codeAddress() {
                    $("#example1").css("display", "none");
                    $("#psikotes1").css("display", "none");
                    $("#example4").css("display", "block");
                    window.location.hash = "#example4";
                }
                window.onload = codeAddress;
            </script>
        }
        else if (ViewBag.Subtest == "7")
        {
            <script>
                function codeAddress() {
                    $("#timer").css("display", "block");
                    $("#example1").css("display", "none");
                    $("#psikotes1").css("display", "none");
                    $("#example4").css("display", "block");
                    $("#psikotes4").css("display", "block");
                    window.location.hash = "#psikotes4";
                }
                window.onload = codeAddress;
            </script>
        }
    }
}
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Psikotes</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <button type="button" class="btn btn-primary btn-xl" data-toggle="modal" data-target="#exampleModalScrollable">
                    Start
                </button>
            </div>
        </div>
        <br><br>
        <h2 class="text-center mt-0">Psikotes</h2>
        <hr class="divider my-4">
    </div>
</header>

<!-- Services Section -->
<!-- Services Section -->
<section class="page-section" id="example1">
    <div class="container">
        <div class="row">
            <h3>Example</h3>
            <br><br>
            <textarea cols="10" disabled class="form-control" rows="8">
                Bacalah dan ikuti instruksi pada contoh soal ini dengan seksama untuk pengerjaan subtest pertama.

                Lihatlah gambar-gambar tes berikut. Terdapat dua baris deretan gambar-gambar.
                Baris deretan gambar pertama adalah bagian soal dan baris deretan gambar kedua adalah bagian pilihan jawaban.

                Pada bagian soal anda akan melihat empat kotak dengan tiga kotak yang berisi gambar dan satu kotak kosong.
                Anda akan melihat garis vertikal yang sedikit demi sedikit akan jatuh ke samping kanan anda.
                Tugas anda disini adalah mencari gambar ke 4 untuk mengisi kotak kosong dari gambar-gambar yang tersedia pada pilihan jawaban.
                Pada contoh soal kali ini anda melihat garis vertikal yang sedikit demi sedikit akan jatuh ke samping kanan anda.
                Maka untuk contoh soal ini jawabannya adalah "C". Silakan pilih jawaban C dan klik Submit.
                Submit tidak berfungsi jika anda memilih jawaban yang salah.
            </textarea>
            <br><br>
            <table>
                @if (ViewBag.Example1 != null) 
            {
                int i = 1;
                foreach (var item in ViewBag.Example1)
                {
                    string name = "answer" + i;
                        <tr>
                            <td>@i .</td>
                            <td width="900" colspan="6"><img style="height:130px;width:100%;" src="~/PshycotestProblems/@item.problem_path"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="6">Gambar Selanjutnya adalah .....</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="6"><img style="height:130px;width:100%" src="~/PshycotestProblems/@item.optional_path"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td  align="center"><input id="answer" type="radio" name="@name" value="A">A</td>
                            <td  align="center"><input id="answer" type="radio" name="@name" value="B">B</td>
                            <td  align="center"><input id="answer" type="radio" name="@name" value="C">C</td>
                            <td  align="center"><input id="answer" type="radio" name="@name" value="D">D</td>
                            <td  align="center"><input id="answer" type="radio" name="@name" value="E">E</td>
                            <td  align="center"><input id="answer" type="radio" name="@name" value="F">F</td>
                        </tr>
                        <br>
                        <br>
                        i++;
                    }

                }
            </table>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" id="btnok">
                    Submit
                </button>
            </div>
        </div>
    </div>
</section>
<section class="page-section" id="psikotes1" style="display:none">
    <div class="container">
        <div class="row">
            <h3>Pratice</h3>
            <br><br>
         <table>
            @if (ViewBag.Psikotes1 != null)
            {
                int i = 1;
                foreach (var item in ViewBag.Psikotes1)
                {
                    string name = "answer1" + i;
                        <tr>
                            <td>@i .</td>
                            <td width="900" colspan="6"><img  style="height:130px;width:100%;" src="~/PshycotestProblems/@item.problem_path"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="6">Gambar Selanjutnya adalah .....</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="6"><img  style="height:130px;width:100%" src="~/PshycotestProblems/@item.optional_path"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td align="center" style="display:none"><input id="subtest1" checked type="radio" name="@name" value="@i null"></td> 
                            <td align="center"><input id="subtest1" type="radio" name="@name" value="A">A</td>
                            <td align="center"><input id="subtest1" type="radio" name="@name" value="B">B</td>
                            <td align="center"><input id="subtest1" type="radio" name="@name" value="C">C</td>
                            <td align="center"><input id="subtest1" type="radio" name="@name" value="D">D</td>
                            <td align="center"><input id="subtest1" type="radio" name="@name" value="E">E</td>
                            <td align="center"><input id="subtest1" type="radio" name="@name" value="F">F</td>
                                    
                        </tr>
                        <br><br>        
                    i++;
                }

            }
        </table>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" id="btnok2" onclick="score()">
                    Submit
                </button>
            </div>
        </div>
    </div>
</section>

<section class="page-section" id="example2" style="display:none">
    <div class="container">
        <div class="row">
            <h3>Example 2</h3>
            <br><br>
            <textarea cols="10" disabled class="form-control" rows="8">
                Bacalah dan ikuti instruksi pada contoh soal ini dengan seksama untuk pengerjaan subtest kedua.

                Lihatlah gambar-gambar tes berikut. Untuk subtest kedua, lihatlah pada lima kotak yang berisi gambar-gambar.
                Pada lima kotak tersebut terdapat 3 kotak yang mempunyai bentuk gambar yang sama,
                tetapi ada 2 kotak yang mempunyai bentuk gambar yang berbeda.
                Tugas anda adalah mencari pada setiap baris soal 2 kotak yang gambarnya berbeda dari kotak-kotak lainnya.
                Pada contoh soal ini kotak "B" dan "D" berisi gambar persegi, sedangkan tiga gambar lainnya berisi gambar segitiga.

                Sekali lagi diingatkan tugas anda adalah memilih 2 gambar yang berbeda dengan gambar lainnya pada setiap barisnya.

                Maka untuk contoh soal ini jawabannya adalah "B" dan "D". Silakan pilih jawaban "B" dan "D" dan klik Submit.
                Submit tidak berfungsi jika anda memilih jawaban yang salah.
            </textarea>
            <br><br>
            <table>
                @if (ViewBag.Example2 != null)
                {
                    int c = 1;
                    foreach (var item in ViewBag.Example2)
                    {
                        string subtes2 = "subtest2" + c;
                        <tr>
                            <td>@c .</td>
                            <td width="900" colspan="6"><img style="height:130px;width:100%;" src="~/PshycotestProblems/@item.problem_path"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td align="center"><input type="checkbox" id="answer2" name="@subtes2" value="A">A</td>
                            <td align="center"><input type="checkbox" id="answer2" name="@subtes2" value="B">B</td>
                            <td align="center"><input type="checkbox" id="answer2" name="@subtes2" value="C">C</td>
                            <td align="center"><input type="checkbox" id="answer2" name="@subtes2" value="D">D</td>
                            <td align="center"><input type="checkbox" id="answer2" name="@subtes2" value="E">E</td>

                        </tr>
                        <br>
                        c++;
                    }

                }
            </table>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" id="btnok3">
                    Submit
                </button>
            </div>
        </div>
    </div>
</section>
<section class="page-section" id="psikotes2" style="display:none">
    <div class="container">
        <div class="row">
            <h3>Pratice 2</h3>
            <br><br>
            <table>
                @if (ViewBag.Psikotes2 != null)
            {
                int c = 1;
                foreach (var item in ViewBag.Psikotes2)
                {
                    string name = "answer2" + c;
                        <tr>
                            <td>@c .</td>
                            <td width="900" colspan="6"><img style="height:130px;width:100%;" src="~/PshycotestProblems/@item.problem_path"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td align="center" style="display:none"><input type="checkbox" id="subtest2" checked name="@name" value="pnull"></td>
                            <td align="center"><input type="checkbox" id="subtest2" name="@name" value="A">A</td>
                            <td align="center"><input type="checkbox" id="subtest2" name="@name" value="B">B</td>
                            <td align="center"><input type="checkbox" id="subtest2" name="@name" value="C">C</td>
                            <td align="center"><input type="checkbox" id="subtest2" name="@name" value="D">D</td>
                            <td align="center"><input type="checkbox" id="subtest2" name="@name" value="E">E</td>
                        </tr>
                        <br>
                        <br>
                        c++;
                    }

                }
            </table>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" id="btnok4">
                    Submit
                </button>
            </div>
        </div>
    </div>
</section>



<section class="page-section" id="example3" style="display:none">
    <div class="container">
        <div class="row">
            <h3>Example 3</h3>
            <br><br>
            <textarea cols="10" disabled class="form-control" rows="8">
                Bacalah dan ikuti instruksi pada contoh soal ini dengan seksama untuk pengerjaan subtest ketiga.

                Perhatikan gambar test ke 3. Pada bagian kotak yang besar terdapat kotak-kotak kecil.
                Terdapat 1 kotak kecil yang tidak bergambar.
                Tugas anda disini adalah mencari gambar untuk kotak kosong dari pilihan jawaban di 6 kotak kecil yang berada disebelah kanannya.

                Pilihlah salah satu jawaban yang benar sehingga tiap baris kotak kecil memiliki pola gambar yang sesuai.
                Jika anda memilih gambar "B" pada pilihan jawaban untuk mengisi kotak kecil kosong maka deret gambar baris kedua pada kotak besar akan sesuai dengan pola deret gambar pada baris pertama

                Apabila pada pertengahan tes ini ada tampak ada gambar yang terobek
                atau tidak sempurna maka anda memang diminta untuk membayangkan sedemikian
                rupa bagaimana gambar yang tersobek tersebut sampai anda menemukan 1 kotak yang hilang.

                Pada contoh kali ini silakan memilih jawaban "B". Silakan pilih jawaban "B" dan klik Submit.
                Submit tidak berfungsi jika anda memilih jawaban yang salah.
            </textarea>
            <br><br>
            <table>
                @if (ViewBag.Example3 != null)
                {
                    int a = 1;
                    foreach (var item in ViewBag.Example3)
                    {
                        string name = "answer" + a;
                        <tr>
                            <td>@a .</td>
                            <td width="900" colspan="6"><img style="height:200px;width:50%;" src="~/PshycotestProblems/@item.problem_path"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="6">Gambar Selanjutnya adalah .....</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="6"><img style="height:130px;width:100%" src="~/PshycotestProblems/@item.optional_path"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td align="center"><input class="psikotes3" type="radio" name="@name" value="A">A</td>
                            <td align="center"><input class="psikotes3" type="radio" name="@name" value="B">B</td>
                            <td align="center"><input class="psikotes3" type="radio" name="@name" value="C">C</td>
                            <td align="center"><input class="psikotes3" type="radio" name="@name" value="D">D</td>
                            <td align="center"><input class="psikotes3" type="radio" name="@name" value="E">E</td>
                            <td align="center"><input class="psikotes3" type="radio" name="@name" value="F">F</td>
                        </tr>
                        <br>
                        <br>
                        a++;
                    }

                }
            </table>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" id="btnok5">
                    Submit
                </button>
            </div>
        </div>
    </div>
</section>
<section class="page-section" id="psikotes3" style="display:none">
    <div class="container">
        <div class="row">
            <h3>Pratice 3</h3>
            <br><br>
            <table>
                @if (ViewBag.Psikotes3 != null)
            {
                int a = 1;
                foreach (var item in ViewBag.Psikotes3)
                {
                    string name = "answer3" + a;
                        <tr>
                            <td>@a .</td>
                            <td width="900" colspan="6"><img style="height:200px;width:50%;" src="~/PshycotestProblems/@item.problem_path"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="6">Gambar Selanjutnya adalah .....</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="6"><img style="height:130px;width:100%" src="~/PshycotestProblems/@item.optional_path"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td align="center" style="display:none"><input id="subtest3" checked type="radio" name="@name" value="@a null"></td>
                            <td align="center"><input id="subtest3" type="radio" name="@name" value="A">A</td>
                            <td align="center"><input id="subtest3" type="radio" name="@name" value="B">B</td>
                            <td align="center"><input id="subtest3" type="radio" name="@name" value="C">C</td>
                            <td align="center"><input id="subtest3" type="radio" name="@name" value="D">D</td>
                            <td align="center"><input id="subtest3" type="radio" name="@name" value="E">E</td>
                            <td align="center"><input id="subtest3" type="radio" name="@name" value="F">F</td>

                        </tr>
                        <br>
                        <br>
                        a++;
                    }

                }
            </table>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" id="btnok6" onclick="score()">
                    Submit
                </button>
            </div>
        </div>
    </div>
</section>

<section class="page-section" id="example4" style="display:none">
    <div class="container">
        <div class="row">
            <h3>Example 4</h3>
            <br><br>
            <textarea cols="10" disabled class="form-control" rows="8">
                Perhatikan gambar pada contoh soal.

                Anda akan menemukan gambar disebelah kiri dan 5 gambar di sebelah kanan anda.
                Pada gambar disebelah kiri anda, anda akan
                melihat sebuah titik. Titik ini ada didalam bujur sangkar dan didalam lingkaran.
                Sekarang lihatlah 5 gambar disebelah kanannya. Gambar-gambar mana yang mungkin
                diletakkan di titik yang juga didalam bujur sangkar dan didalam lingkaran itu. Maka
                jawaban yang cocok untuk contoh pertama adalah "E". Silakan pilih jawaban "E" dan klik Submit.
                Submit tidak berfungsi jika anda memilih jawaban yang salah.
            </textarea>
            <br><br>
            <table>
                @if (ViewBag.Example4 != null)
                {
                    int b = 1;
                    foreach (var item in ViewBag.Example4)
                    {
                        string name = "answer" + b;
                        <tr>
                            <td>@b .</td>
                            <td width="900" colspan="6"><img style="height:200px;width:50%;" src="~/PshycotestProblems/@item.problem_path"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="6">Gambar Selanjutnya adalah .....</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="6"><img style="height:130px;width:100%" src="~/PshycotestProblems/@item.optional_path"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td align="center"><input class="psikotes4" type="radio" name="@name" value="A">A</td>
                            <td align="center"><input class="psikotes4" type="radio" name="@name" value="B">B</td>
                            <td align="center"><input class="psikotes4" type="radio" name="@name" value="C">C</td>
                            <td align="center"><input class="psikotes4" type="radio" name="@name" value="D">D</td>
                            <td align="center"><input class="psikotes4" type="radio" name="@name" value="E">E</td>
                            <td align="center"><input class="psikotes4" type="radio" name="@name" value="F">F</td>
                        </tr>
                        <br>
                        <br>
                        b++;
                    }

                }
            </table>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" id="btnok7">
                    Submit
                </button>
            </div>
        </div>
    </div>
</section>
<section class="page-section" id="psikotes4" style="display:none">
    <div class="container">
        <div class="row">
            <h3>Pratice 4</h3>
            <br><br>
            <table>
                @if (ViewBag.Psikotes4 != null)
            {
                int b = 1;
                foreach (var item in ViewBag.Psikotes4)
                {
                    string name = "answer4" + b;
                        <tr>
                            <td>@b .</td>
                            <td width="900" colspan="6"><img style="height:200px;width:50%;" src="~/PshycotestProblems/@item.problem_path"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="6">Gambar Selanjutnya adalah .....</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="6"><img style="height:200px;width:100%" src="~/PshycotestProblems/@item.optional_path"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td align="center" style="display:none"><input id="subtest4" checked type="radio" name="@name" value="@b null"></td>
                            <td align="center"><input id="subtest4" type="radio" name="@name" value="A">A</td>
                            <td align="center"><input id="subtest4" type="radio" name="@name" value="B">B</td>
                            <td align="center"><input id="subtest4" type="radio" name="@name" value="C">C</td>
                            <td align="center"><input id="subtest4" type="radio" name="@name" value="D">D</td>
                            <td align="center"><input id="subtest4" type="radio" name="@name" value="E">E</td>

                        </tr>
                        <br>
                        <br>
                        b++;
                    }

                }
            </table>
        </div>
        <div class="
             row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" id="btnok8" onclick="score()">
                    Submit
                </button>
            </div>
        </div>
    </div>
</section>
<section class="page-section" id="end" style="display:none">
    <div class="container">
        <div class="row">
            <h3>END</h3>
         </div>   
    </div>
</section>

<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Instruction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                instruksi di modal sebelum masuk CFIT:<br><br>

                Tes ini memiliki 4 subtest.<br>
                Masing-masing subtest memiliki contoh soal dan instruksi pengerjaan yang ditampilkan sebelum soal pertama.<br>
                Subtest akan ditampilkan dan waktu hitung mundur akan dimulai jika anda selesai membaca dan menuruti instruksi pada contoh soal yang diberikan.<br>
                Subtest akan berakhir saat waktu hitung mundur mencapai nol.<br><br>

                Waktu untuk pengerjaan masing-masing subtest adalah sbb:<br>
                subtest pertama 3 menit,<br>
                subtest kedua 4 menit,<br>
                subtest ketiga 3 menit, dan<br>
                subtest keempat 2,5 menit<br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-primary js-scroll-trigger" href="#example1" onclick="$('#exampleModalScrollable').modal('hide')">Understand</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var result1;
        var result2;
        var result3;
        var result4;

        $("body").on("click", "#btnok", function () {
            var answer = $("#answer:checked").val();
            var answer2 = '@ViewBag.answer';
            if (answer == answer2) {
                window.location.href = "/Recruitment/Durationpsikotes?obj=@ViewBag.Link&subtest=1&answer=";
            } else {
                alert("Wrong!");
            }
        });

        $("body").on("click", "#btnok2", function () {
            var radiobutton = $("#subtest1:checked");
            var string1 = "";
            for (i = 0; i < radiobutton.length; i++) {
                string1 += $(radiobutton[i]).val() + ",";
            }
            result1 = string1.substring(0, string1.length - 1);
            //$("#example1").css("display", "none");
            //$("#psikotes1").css("display", "none");
            //$("#example2").css("display", "block");
            window.location.href = "/Recruitment/Durationpsikotes?obj=@ViewBag.Link&subtest=2&answer="+result1;
        });

        $("body").on("click", "#btnok3", function () {
            var answer4 = '@ViewBag.answer2';
            var answer5 = "";
            var checkbox = $("#answer2:checked");
            for (i = 0; i < checkbox.length; i++) {
                answer5 += $(checkbox[i]).val() + ",";
            }
            var score = answer5.substring(0, answer5.length - 1);
            if (score == answer4) {
                window.location.href = "/Recruitment/Durationpsikotes?obj=@ViewBag.Link&subtest=3&answer=@ViewBag.Answerpsikotest";
            } else {
                alert("Wrong!");
            }


        });

        $("body").on("click", "#btnok4", function () {
            var checkbox = $("#subtest2:checked");
            var string2 = "";
            for (i = 0; i < checkbox.length; i++) {
                string2 += $(checkbox[i]).val() + ",";
            }

            result2 = string2.substring(0, string2.length - 1);
            window.location.href = "/Recruitment/Durationpsikotes?obj=@ViewBag.Link&subtest=4&answer=@ViewBag.Answerpsikotest-"+result2;
            @*//$("#example2").css("display", "none");
            //$("#psikotes2").css("display", "none");
            //$("#example3").css("display", "block");
            //window.location.hash = "#example3";
            window.location.href = "/Recruitment/Durationpsikotes?obj=@ViewBag.Link&subtest=4&answer="+result2;*@
        });

        $("body").on("click", "#btnok5", function () {
            var answer3 = $("input[type='radio'][class='psikotes3']:checked").val();
            var answer4 = '@ViewBag.answer3';
            if (answer3 == answer4) {
                window.location.href = "/Recruitment/Durationpsikotes?obj=@ViewBag.Link&subtest=5&answer=@ViewBag.Answerpsikotest";
            } else {
                alert("Wrong!");
            }


        });

        $("body").on("click", "#btnok6", function () {
            var radiobutton = $("#subtest3:checked");
            var string1 = "";
            for (i = 0; i < radiobutton.length; i++) {
                string1 += $(radiobutton[i]).val() + ",";
            }
            result3 = string1.substring(0, string1.length - 1);
            window.location.href = "/Recruitment/Durationpsikotes?obj=@ViewBag.Link&subtest=6&answer=@ViewBag.Answerpsikotest-"+result3;

            //$("#example3").css("display", "none");
            //$("#psikotes3").css("display", "none");
            //$("#example4").css("display", "block");
            //window.location.hash = "#example4";
        });

        $("body").on("click", "#btnok7", function () {
            var answer3 = $("input[type='radio'][class='psikotes4']:checked").val();
            var answer4 = '@ViewBag.answer4';
            if (answer3 == answer4) {
                window.location.href = "/Recruitment/Durationpsikotes?obj=@ViewBag.Link&subtest=7&answer=@ViewBag.Answerpsikotest";
            } else {
                alert("Wrong!");
            }


        });

        $("body").on("click", "#btnok8", function () {
            var radiobutton = $("#subtest4:checked");
            var string1 = "";
            for (i = 0; i < radiobutton.length; i++) {
                string1 += $(radiobutton[i]).val() + ",";
            }
            result4 = string1.substring(0, string1.length - 1);
            window.location.href = "/Recruitment/CountPsikotes?email=@ViewBag.Email&result=@ViewBag.Answerpsikotest-"+result4;
        });

    });

</script>

<script type="text/javascript" src="~/Content/mdb.min.js"></script>
@{
    if (ViewBag.duration != null)
    {
        var EndTime = ViewBag.duration;
        var StartTime = DateTime.UtcNow;
        int TimeRemaining = (int)TimeSpan.FromTicks(EndTime.Ticks - StartTime.Ticks).TotalSeconds;
        <script>
    var remSeconds = @TimeRemaining;
    function formatnumber(number)
    {
        if (number < 10) return '0' + number;
        else return '' + number;
    }

    function startTick()
    {
        if (remSeconds <= 0) {
            document.getElementById('SecRemaining').innerText = '00';
            document.getElementById('MinRemaining').innerText = '00';
            document.getElementById('HrRemaining').innerText = '00';
            @*alert('Your exam time has expired');
                clearInterval(_tick);
                window.location.href="@Url.Action("Index","Recruitment", new { obj = link })";*@
        }
        else
        {
            document.getElementById('SecRemaining').innerText = formatnumber(remSeconds%60);
        document.getElementById('MinRemaining').innerText = formatnumber(parseInt((remSeconds / 60)%60));
        document.getElementById('HrRemaining').innerText = formatnumber(parseInt(remSeconds/3600));

        var _tick = setInterval(function ()
        {
            if (remSeconds > 0)
            {
                remSeconds = remSeconds - 1;

                document.getElementById('SecRemaining').innerText = formatnumber(remSeconds%60);
                document.getElementById('MinRemaining').innerText = formatnumber(parseInt((remSeconds / 60)%60));
                document.getElementById('HrRemaining').innerText = formatnumber(parseInt(remSeconds/3600));
            }
            @*else
            {
                document.getElementById('SecRemaining').innerText = '00';
                document.getElementById('MinRemaining').innerText = '00';
                document.getElementById('HrRemaining').innerText = '00';
                alert('Your exam time has expired');
                clearInterval(_tick);
                window.location.href="@Url.Action("Index","Recruitment", new { obj = link })";
            }*@


        }, 1000);
        }

    }
    startTick();

        </script>
    }}
