﻿@model nawadaya_project.Models.tbl_user

<div id="login-page">
    <div class="container">
        @using (Html.BeginForm("Reset", "Login", FormMethod.Post, new { @class = "form-login" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <form>
                <h2 class="form-login-heading">Reset Password</h2>
                <div class="login-wrap">
                    @if (ViewBag.pk_userid != null)
                    {
                        @Html.PasswordFor(a => a.pk_userID, new { type = "hidden", value = ViewBag.pk_userid })
                    }
                    @Html.PasswordFor(a => a.password, new { @class = "form-control", type = "password", placeholder = "New Password" })
                    <br>
                    <input class="btn btn-theme btn-block" type="submit" value="Reset Password">
                </div>
            </form>
        }
    </div>
</div>
