﻿<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <div style="color:white">
                <h4 class="centered">
                    @if (@Session["FullName"] != null)
                    {
                        @Session["FullName"];
                    }
                </h4>
                <h6 class="centered">
                    @if (@Session["Email"] != null)
                    {
                        @Session["Email"];
                    }
                </h6>
            </div>
            <li class="mt">
                <a class="active" href="@Url.Action("Index","RM")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>User Management</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("AddEmployee","RM")">Master Employee</a></li>
                    <li><a href="@Url.Action("AddUser","RM")">Master User</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Historical User Assignment</span>
                </a>
            </li>
            @*<li class="sub-menu">
                <a class="active">
                    <i class="fa fa-book"></i>
                    <span>Master Data</span>
                </a>
                <ul class="sub">

                    @*<li><a href="@Url.Action("MsSkill","RM")">Master Skill</a></li>
                    <li><a href="@Url.Action("MsStatus","RM")">Master Status</a></li>*@
                @*</ul>
            </li>
        </ul>*@
        <!-- sidebar menu end-->
    </div>
</aside>

<section id="main-content">
    <section class="wrapper site-min-height">
        <h3>Dashboard</h3>
        <div class="row mt">
            <div class="col-sm-6">
                <!-- REVENUE PANEL -->
                <div style="height:150px;background-color:white" class="green-panel pn">
                    <div class="green-header">
                        <h5>Users</h5>
                    </div>
                    <font size="72">@ViewBag.countuser</font>
                </div>
            </div>
            <div class="col-sm-6">
                <!-- REVENUE PANEL -->
                <div style="height:150px;background-color:white" class="green-panel pn">
                    <div class="green-header">
                        <h5>Employee</h5>
                    </div>
                    <font size="72">@ViewBag.countemployee</font>
                </div>
            </div>

                <div style="margin-top:30px" class="col-lg-12">
                    <table id="example2" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Username</th>
                                <th>Hak Akses</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                            }
                            @foreach (var item in ViewBag.datalogin)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.full_name</td>
                                    <td>@item.email</td>
                                    <td>@item.username</td>
                                    @if (@item.role_name == "Super Admin")
                                    {
                                        <td><span class="label label-primary">@item.role_name</span></td>
                                    }
                                    else if (@item.role_name == "Admin")
                                    {
                                        <td><span class="label label-warning">@item.role_name</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="label label-danger">@item.role_name</span></td>
                                    }
                                </tr>
                                i++;
                            }
                    </table>
                    <!-- /Message Panel-->
                </div> 
        </div>
    </section>
    <!-- /wrapper -->
</section>

<script type="text/javascript">

    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };

</script>