﻿@model nawadaya_project.Models.ms_skill

@{
    if (@ViewBag.PKskill != null)
    {
        <script>
        function codeAddress() {
            $("#modal-update")
            .closest(".modal").modal('show');
        }
        window.onload = codeAddress;
        </script>
    }
}

<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered"><a href="profile.html"><img src="~/Content/img/ui-sam.jpg" class="img-circle" width="80"></a></p>
            <h5 class="centered">Sam Soffes</h5>
            <li class="mt">
                <a href="@Url.Action("Index","RM")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Process</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("AddUser","RM")">Add User</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Master Data</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("MsRole","RM")">Master Role</a></li>
                    <li class="active"><a href="@Url.Action("MsSkill","RM")">Master Skill</a></li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>

<section id="main-content">
    <section class="wrapper site-min-height">
        <h3>Master Skill</h3>
        <div class="card-header">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAddSkill">
                Add Skill
            </button>
        </div>
        <div class="row mt">
            <div class="col-lg-12">
                <table id="example2" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                        }
                        @foreach (var item in ViewBag.AddSkill)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.skill_name</td>
                                <td>
                                    <a href="@Url.Action("EditSkill", "RM",new {id=item.pk_skill})" class="btn btn-warning">
                                        Update
                                    </a>
                                    <a href="@Url.Action("DeleteSkill", "RM",new {id=item.pk_skill})" class="btn btn-danger">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            i++;
                        }
                </table>

                <!-- /Message Panel-->
            </div>

        </div>
    </section>
    <!-- /wrapper -->
</section>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalAddSkill" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Master Skill</h4>
            </div>
            @using (Html.BeginForm("AddSkill", "RM", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.skill_name, new { @type = "text", @placeholder = "Input name skill", @class = "form-control" })
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <input type="submit" name="submit" value="Add Post" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modal-update" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Update Master Skill</h4>
            </div>
            @using (Html.BeginForm("EditSkill", "RM", FormMethod.Post))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(s => s.pk_skill)
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.skill_name, new { @type = "text", @placeholder = "Input name skill", @class = "form-control" })
                    </div>
                </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <input type="submit" name="submit" value="Add Post" class="btn btn-success" />
                        </div>
                    </div>
            }
        </div>
    </div>
</div>