﻿@model nawadaya_project.Models.ms_problem_disc
@{
    var link = ViewBag.Link;

    if (ViewBag.TimeDisc != null)
    {
        <script>
        function codeAddress() {
            $("#disc").css("display", "block");
            $("#timer").css("display", "block");
            $("#header").css("display", "none");
            window.location.hash = "#disc";

        }
        window.onload = codeAddress;
        </script>
    }
}

<!-- Masthead -->
<header class="masthead" id="header">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">DISC</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <button type="button" class="btn btn-primary btn-xl" data-toggle="modal" data-target="#exampleModalScrollable">
                    Start
                </button>
                @*<button class="btn btn-primary" type="button" data-dismiss="modal" onclick="location.href='@Url.Action("StartDISC", "Recruitment", new {obj = @ViewBag.Link})'">Start</button>*@
            </div>
        </div>        
    </div>
</header>

<!-- Services Section -->

<!-- Services Section -->
<section class="page-section" id="disc" style="display:none">
    <div class="container">
        <h2 class="text-center mt-0">DISC</h2>
        <hr class="divider my-4">
        <br><br>
            <textarea cols="10" disabled class="form-control" rows="8">
                GUIDE:

                This online DISC assessment is designed to test personality by calculating your personal DISC profile
                based on your everyday typical behavior.
                This test contains 24 groups of four statements. Answer honestly and spontaneously.
                It should take you only 5 to 10 minutes to complete but we give you 30 minutes instead.
                - Study all the descriptions in each group of four
                - Select the one description that you consider most like you
                - Study the remaining three choices in the same group
                - Select the one description you consider least like you

                For each group of four descriptions you should have one most like you and only one least like you.
                Sometimes it may be difficult to decide which description to select.
                Remember there are no right or wrong answers in this DISC personality test.
                So just make the best decision you can.
            </textarea>
        <br>
        <div class="row">
            @if (ViewBag.DISC != null)
            {
                int w = 1;
                foreach (var item in ViewBag.DISC)
                {
                    string name = "M" + w;
                    string name2 = "L" + w;
                    <div class="col-sm-6">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="80%"><p align="center">Statement</p></th>
                                    <th width="10%"><p align="center">M</p></th>
                                    <th width="10%"><p align="center">L</p></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@item.statment1</td>
                                    <td>
                                        <input type="radio" required name="@name" id="1" value="@item.M1" />
                                    </td>
                                    <td>
                                        <input type="radio" required name="@name2" id="1" checked value="@item.L1" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>@item.statment2</td>
                                    <td>
                                        <input type="radio" name="@name" id="2" value="@item.M2" />
                                    </td>
                                    <td>
                                        <input type="radio" name="@name2" id="2" value="@item.L2" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>@item.statment3</td>
                                    <td>
                                        <input type="radio" name="@name" id="3" value="@item.M3" />
                                    </td>
                                    <td>
                                        <input type="radio" name="@name2" id="3" value="@item.L3" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>@item.statment4</td>
                                    <td>
                                        <input type="radio" name="@name" id="4" checked value="@item.M4" />
                                    </td>
                                    <td>
                                        <input type="radio" name="@name2"  id="4" value="@item.L4" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                    w++;
                }

            }
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="hidden" style="display:none" name="link" value="@ViewBag.Link" />
                <button type="button" class="btn btn-primary" onclick="displayRadioValue()">
                    Submit
                </button>
            </div>
            <div class="col-md-12">
                <div id="result"></div>
            </div>

        </div>
    </div>
</section>


<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Read this before starting DISC Test</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Use the most reliable Internet connection available!<br>
                    If you lose network access or something goes wrong while taking a test and there is still time left to complete it,
                    just refresh the page or return to your mail inbox and back into the test by clicking "Link to Assessment Page".
                    You should be able to pick up where you left off.
                    <br><br>
                    Preserve your submission answers!<br>
                    Focus only on one assessment at a time.
                    Do not open multiple browser windows or tabs to take multiple assessments at the same time.
                    Avoid Using Mobile Devices.
                    Use a supported browser. Google Chrome, Internet Explorer, and Mozilla Firefox are supported browsers for this test, disable add-ons, and close unneeded applications.
                    <br><br>
                    By clicking Understood, it will be assumed that you have read this tips.
                    Web page will be automatically directed to Nawa Data DISC Test and timer will start to countdown.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<a class="btn btn-primary js-scroll-trigger" id="btnok">Continue </a>*@
            <button class="btn btn-primary" type="button" data-dismiss="modal" onclick="location.href='@Url.Action("StartDISC", "Recruitment", new {obj = @ViewBag.Link})'">Understood</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Endtime" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Time Expired</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               Time expired.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Can't choose same value
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    function displayRadioValue() {
        document.getElementById("result").innerHTML = "";
        var ele = document.getElementsByTagName('input');
        var arraym = [];
        var id1="";
        var id2="";

        var D = 0;
        var I = 0;
        var S = 0;
        var C = 0;
        var x = 0;
        var D1 = 0;
        var I1 = 0;
        var S1 = 0;
        var C1 = 0;
        var x1 = 0;
        for (i = 0; i < ele.length; i++) {

            if (ele[i].type = "radio") {

                if (ele[i].checked) {

                    if (ele[i].name.substr(0, 1) == "M") {
                        id1 += ele[i].id + ",";
                        if (ele[i].value == "D") {
                            D++;
                        }else if (ele[i].value == "I") {
                            I++;
                        } else if (ele[i].value == "S") {
                            S++;
                        } else if (ele[i].value == "C") {
                            C++;
                        } else {
                            x++;
                        }
                    }else if (ele[i].name.substr(0, 1) == "L") {
                        id2 += ele[i].id + ",";
                        if (ele[i].value == "D") {
                            D1++;
                        } else if (ele[i].value == "I") {
                            I1++;
                        } else if (ele[i].value == "S") {
                            S1++;
                        } else if (ele[i].value == "C") {
                            C1++;
                        } else {
                            x1++;
                        }
                    }
                }

            }


        }
        var same = 0;
        var str1 = id1.substr(0, id1.length-1).split(",");
        var str2 = id2.substr(0, id2.length-1).split(",");
        for(z=0;z<str1.length;z++){
            if(str1[z] == str2[z]){
                same +=1;
            }
        }
        if(same>0){
            $(function(){
                $("#error")
                .closest(".modal").modal('show');
            });
        }else{
            var hasil = D+","+I+","+S+","+C+","+D1+","+I1+","+S1+","+C1+","+x+","+x1;

            window.location.href = "http://localhost/Nawadaya2/Recruitment/CountDISC?email=@ViewBag.Email&result=" + hasil;
        }
    }
</script>

@*<script type="text/javascript">
    // Set the date we're counting down to

        $("body").on("click", "#btnok", function () {
            var countDownDate = new Date();
            countDownDate.setMinutes(countDownDate.getMinutes() + 1);
            // Find the distance between now and the count down date

            $("#exampleModalScrollable").modal("hide");
            $("#disc").css("display", "block");
            window.location.hash = "#disc";
            var x = setInterval(function () {
                var now = new Date();
                // Get today's date and time
                var distance = countDownDate - now.setMinutes(now.getMinutes());
                
                // Time calculations for days, hours, minutes and seconds
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Output the result in an element with id="demo"
                document.getElementById("timer2").innerHTML = minutes + "m " + seconds + "s ";



                // If the count down is over, write some text
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("timer2").innerHTML = "EXPIRED";
                    $("#disc").css("display", "none");
                }
            }, 1000);
        });


</script>*@

<script type="text/javascript" src="~/Content/mdb.min.js"></script>
@{ 
    if (ViewBag.EndTime_LT != null)
    {
        var EndTime = ViewBag.EndTime_LT;
        var StartTime = DateTime.UtcNow;
        int TimeRemaining = (int)TimeSpan.FromTicks(EndTime.Ticks - StartTime.Ticks).TotalSeconds;
        <script>
    var remSeconds = @TimeRemaining;
    function formatnumber(number)
    {
        if (number < 10) return '0' + number;
        else return '' + number;
    }

    function startTick()
    {
        if (remSeconds <= 0) {
            document.getElementById('SecRemaining').innerText = '00';
            document.getElementById('MinRemaining').innerText = '00';
            document.getElementById('HrRemaining').innerText = '00';
            clearInterval(_tick);
            $(function(){
                $("#Endtime")
             .closest(".modal").modal('show');
                $('#Endtime').on('hidden.bs.modal', function (e) {
                    window.location.href = "http://localhost/Nawadaya2/Recruitment/CountDISC?email=@ViewBag.Email&result=0,0,0,0,0,0,0,0,0,0";
                });

            });

        }
        else
        {
            document.getElementById('SecRemaining').innerText = formatnumber(remSeconds%60);
        document.getElementById('MinRemaining').innerText = formatnumber(parseInt((remSeconds / 60)%60));
        document.getElementById('HrRemaining').innerText = formatnumber(parseInt(remSeconds/3600));

        var _tick = setInterval(function ()
        {
            if (remSeconds > 0)
            {
                remSeconds = remSeconds - 1;

                document.getElementById('SecRemaining').innerText = formatnumber(remSeconds%60);
                document.getElementById('MinRemaining').innerText = formatnumber(parseInt((remSeconds / 60)%60));
                document.getElementById('HrRemaining').innerText = formatnumber(parseInt(remSeconds/3600));
            }
            else
            {
                document.getElementById('SecRemaining').innerText = '00';
                document.getElementById('MinRemaining').innerText = '00';
                document.getElementById('HrRemaining').innerText = '00';
                clearInterval(_tick);
                $(function(){
                    $("#Endtime")
                 .closest(".modal").modal('show');
                    $('#Endtime').on('hidden.bs.modal', function (e) {
                        window.location.href = "http://localhost/Nawadaya2/Recruitment/CountDISC?email=@ViewBag.Email&result=0,0,0,0,0,0,0,0,0,0";
                    });

                });
            }


        }, 1000);
        }

    }
    startTick();

        </script>
    }}
