﻿@{
    if (ViewBag.message != null)
    {
        <script>
            function codeAddress() {
                $("#message")
                    .closest(".modal").modal('show');
            }
            window.onload = codeAddress;
        </script>
    }

    int progress = ViewBag.progress;
    int banyak = ViewBag.Banyak;
    int panjang = 100 / banyak;
    int bar = panjang * progress;


    if (bar == 100)
    {
        <script>
            function codeAddress() {
                $("#thanku").css("display", "block");
                $("#headerindex").css("display", "none");
                $("#form").css("display", "none");
            }
            window.onload = codeAddress;
        </script>
    }
}


<header class="masthead" id="thanku" style="display:none">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Hi, @ViewBag.Fullname</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">You has been completed these assessments. Thanks for your participation.<br>We will contact you soon. </p>
            </div>
        </div>
    </div>
</header>
<!-- Masthead -->
<header class="masthead" id="headerindex" style="display:block">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Welcome, @ViewBag.Fullname</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">
                    You will take Nawa Data pre-employment recruiting assessment.
                    Click CONTINUE to proceed.
                </p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#form">Continue</a>
            </div>
        </div>
        <br>
        <h2 class="text-center mt-0">Tests Menu</h2>
        <hr class="divider my-4">
    </div>
</header>

<!-- Services Section -->
<!-- Services Section -->
<section class="page-section" id="form" style="display:block">
    <div class="container">
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" aria-valuenow="@bar.ToString()" aria-valuemin="0" aria-valuemax="100" style="width:@bar.ToString()%;"></div>
        </div>
        <div class="row">
            @if (ViewBag.Problem != null)
            {
                int a = 1;
                foreach (string item in ViewBag.Problem)
                {
                    string name = item;
                    string[] index = name.Split('/');
                    var link = item + "?obj=" + ViewBag.Link;
                    if (ViewBag.Form == null)
                    {
                        if (a == 1)
                        {
                            a = 2;
                            <div class="col-3">
                                <p align="center">
                                <a class="nav-link" href="@link">
                                    @index[index.Length - 1]
                                    <i cls="fas fa-check text-dark"></i>
                                </a>
                                    </p>
                            </div>

                        }
                        else
                        {
                            <div class="col-3">

                                <p class="nav-link" align="center">
                                    @index[index.Length - 1]
                                    <i cls="fas fa-check text-dark"></i>
                                </p>
                            </div>

                        }
                    }
                    else
                    {
                        if (a == 1)
                        {
                            if (ViewBag.status == 1)
                            {
                                <div class="col-3">
                                    <p class="nav-link" align="center">
                                        @index[index.Length - 1]
                                        <i cls="fas fa-check text-dark"></i>
                                    </p>
                                </div>

                            }
                            a = 2;
                        }
                        else
                        {
                            if (index[index.Length - 1] == "Disc")
                            {
                                if (ViewBag.DISC != null)
                                {
                                    <div class="col-3">
                                        <p class="nav-link" align="center">
                                            DISC test@*@index[index.Length - 1]*@
                                            <i cls="fas fa-check text-dark"></i>
                                        </p>
                                    </div>

                                }
                                else
                                {
                                    <div class="col-3">
                                        <p align="center">
                                            <a class="nav-link" href="@link">
                                                DISC test@*@index[index.Length - 1]*@
                                                <i cls="fas fa-check text-dark"></i>
                                            </a>
                                            </p>
                                    </div>

                                }
                            }
                            else if (index[index.Length - 1] == "Psikotes")
                            {
                                if (ViewBag.psikotes != null)
                                {
                                    <div class="col-3">
                                        <p class="nav-link" align="center">
                                            Psychotest@*@index[index.Length - 1]*@
                                            <i cls="fas fa-check text-dark"></i>
                                        </p>
                                    </div>

                                }
                                else
                                {
                                    <div class="col-3">
                                        <p align="center">
                                            <a class="nav-link" href="@link">
                                                Psychotest@*@index[index.Length - 1]*@
                                                <i cls="fas fa-check text-dark"></i>
                                            </a>
                                            </p>
                                    </div>

                                }
                            }
                            else if (index[index.Length - 1] == "TestLogic")
                            {
                                if (ViewBag.logictest != null)
                                {
                                    <div class="col-3">
                                        <p class="nav-link" align="center">
                                            Logic Test@*@index[index.Length - 1]*@
                                            <i cls="fas fa-check text-dark"></i>
                                        </p>
                                    </div>

                                }
                                else
                                {
                                    <div class="col-3">
                                        <p align="center">
                                            <a class="nav-link" href="@link">
                                                Logic Test@*@index[index.Length - 1]*@
                                                <i cls="fas fa-check text-dark"></i>
                                            </a>
                                            </p>
                                    </div>

                                }
                            }


                        }
                    }

                }
            }


        </div>
    </div>
    <br><br><br>
</section>

<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Success!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (ViewBag.message != null)
                {
                    if (ViewBag.message == 0)
                    {
                        @*<div class="alert alert-danger"><b>Failed!</b> Add is failed</div>*@
                    }
                    else if (ViewBag.message == 1)
                    {
                        @*<div class="alert alert-success"><b>Success!</b> Your employment application forms is submitted.</div>*@
                        <div class="alert alert-success">Your employment application forms is submitted.</div>

                    }
                    else if (ViewBag.message == 3)
                    {
                        @*<div class="alert alert-success"><b>Success!</b> Your logic test solutions is submitted.</div>*@
                        <div class="alert alert-success">Your logic test solutions is submitted.</div>
                    }
                    else if (ViewBag.message == 4)
                    {
                        @*<div class="alert alert-success"><b>Success!</b> Your psychotest submission has been saved.</div>*@
                        <div class="alert alert-success">Your psychotest submission has been saved.</div>
                    }
                    else if (ViewBag.message == 2)
                    {
                        @*<div class="alert alert-success"><b>Success!</b> Your DISC test submission has been saved.</div>*@
                        <div class="alert alert-success">Your DISC test submission has been saved.</div>
                    }
                    else
                    {
                        @*<div class="alert alert-danger"><b>Success!</b> Delete is successfull!</div>*@
                    }
                }
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
