﻿@model nawadaya_project.Models.ms_personal_data
<!-- Masthead -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Logic test</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <button type="button" class="btn btn-primary btn-xl" data-toggle="modal" data-target="#exampleModalScrollable">
                    Start
                </button>
            </div>
        </div>
    </div>
</header>

<!-- Services Section -->
<!-- Services Section -->
@*<section class="page-section" id="form">
        <div class="container">
           <iframe src="~/pdf/ASP.NET_MVC_Untuk_Pemula_2016.pdf" width="100%" height="100%"></iframe>
            @using (Html.BeginForm("UploadLogic", "Recruitment", FormMethod.Post))
            {
                                                        <input type="hidden" name="email" value="@ViewBag.Email" />
                                                        <input type="hidden" name="link" value="@ViewBag.Link" />
                                                        <div class="form-group row">
                                                            <label class="col-lg-3 control-label">Upload</label>
                                                            <div class="col-lg-9">
                                                                <input type="file" class="form-control" name="file" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-lg-10">
                                                                <input type="hidden" />
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <button type="button" class="btn btn-primary btn-xl" data-toggle="modal" data-target="#Modalalert">Save Changes</button>
                                                            </div>
                                                        </div>

                                                        <div class="modal fade" id="Modalalert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">Alert!</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        Are u sure ?
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <div class="form-group">
                                                                            <input type="submit" name="submit" value="Save" class="btn btn-secondary" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

            }
        </div>
    </section>*@

<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Read this before starting Logic Test</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                Use the most reliable Internet connection available!<br>
                If you lose network access or something goes wrong while taking a test and there is still time left to complete it,
                just refresh the page or return to your mail inbox and back into the test by clicking "Link to Assessment Page".
                You should be able to pick up where you left off.
                <br><br>
                Preserve your submission answers!<br>
                Focus only on one assessment at a time.
                Do not open multiple browser windows or tabs to take multiple assessments at the same time.
                Avoid Using Mobile Devices.
                Use a supported browser. Google Chrome, Internet Explorer, and Mozilla Firefox are supported browsers for this test, disable add-ons, and close unneeded applications.
                <br><br>
                By clicking Understood, it will be assumed that you have read this tips.
                Web page will be automatically directed to Nawa Data Logic Test and timer will start to countdown.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button onclick="window.open('@Url.Action("openviewpdf", "UploadLogicTestResult")')" class="btn btn-primary">Open Problems</button>*@
                @*<button class="btn btn-primary" type="button" id="addressSearch"
                    onclick="location.href='@Url.Action("List", "Search")'">*@
                <button class="btn btn-primary" type="button" data-dismiss="modal" onclick="location.href='@Url.Action("StartAndRedirect", "StartLogicTest", new {id = @ViewBag.ID, link = @ViewBag.Link})'">Understood</button>
                @*<a class="btn btn-primary" href="#form" onclick="$('#exampleModalScrollable').modal('hide')">Understood</a>*@
            </div>
        </div>
    </div>
</div>