﻿@model nawadaya_project.Models.login
@{
    if (@ViewBag.MessageUnknown != null)
    {
        <script>
        function codeAddress() {
            $("#Alert1")
            .closest(".modal").modal('show');
        }
        window.onload = codeAddress;
        </script>
    }
    if (@ViewBag.messagesuccess != null)
    {
        <script>
        function codeAddress() {
            $("#messagemodal")
            .closest(".modal").modal('show');
            $('#messagemodal').on('hidden.bs.modal', function (e) {
                location.reload();
            });
        }
        window.onload = codeAddress;
        </script>
    }
    if (@ViewBag.ResetSuccess != null)
    {
        <script>
        function codeAddress() {
            $("#Alert2")
            .closest(".modal").modal('show');
            $('#Alert2').on('hidden.bs.modal', function (e) {
                location.reload();
            });
        }
        window.onload = codeAddress;
        </script>
    }
}
<div id="login-page">
    <div class="container">
        @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-login" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <form>
                <h2 class="form-login-heading" style="background-color:#337ab7">sign in now</h2>
                <div class="login-wrap" style="border:solid">
                    @Html.TextBoxFor(a => a.email, new { @class = "form-control", required="required", type = "email", placeholder = "Email", autofocus = "autofocus" })
                    <br>
                    @Html.PasswordFor(a => a.password, new { @class = "form-control", required = "required", type = "password", placeholder = "password" })
                    <br>
                    <input class="btn btn-primary btn-block" type="submit" value="Login">
                    <hr>
                    <div class="registration">
                        <p class="message">Forgot Password? <a data-toggle="modal" href="login.html#myModal" class="elements">Click here!</a></p>
                    </div>
                </div>
                <!-- Modal -->
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="Alert1" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Login</h4>
                            </div>
                            <div class="modal-body">
                                @*<p><b>Failed to log in.</b> Wrong username or password. Retry?</p> *@
                                <div class="alert alert-danger"><b>Failed to log in.</b> Wrong username or password.</div>
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="Alert2" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Reset Password</h4>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-success"><b>Success!</b> Password is reset. Please login.</div>
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal -->
            </form>
        }
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Forgot Password ?</h4>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("Forgot", "Login", FormMethod.Post))
                {
                    <p>Enter your e-mail address below to reset your password.</p>
                    <form class="form-login">
                        <input type="email" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix" />
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                            <input class="btn btn-theme" type="submit" value="Submit" />
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="messagemodal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Forgot Password</h4>
            </div>
            <div class="modal-body">
                @if (@ViewBag.messagesuccess != null)
                {
                if (@ViewBag.messagesuccess == 1)
                {
                <div class="alert alert-success"><b>Success!</b> Check your Email</div>
                }
                else if (@ViewBag.messagesuccess == 2)
                {
                <div class="alert alert-danger"><b>Failed!</b> This email doesn't belong to any user</div>
                }
                else if (@ViewBag.messagesuccess == 0)
                {
                <div class="alert alert-danger"><b>Failed!</b> Email is not sent</div>
                }
                else
                {
                <div class="alert alert-danger"><b>Failed!</b> Your email is invalid</div>
                }
                }

            </div>
        </div>
    </div>
</div>
