﻿@model nawadaya_project.Models.tbl_user
@{
    if (@ViewBag.MessageUnknown != null)
    {
        <script>
            function codeAddress() {
                $("#Alert1")
                    .closest(".modal").modal('show');
            }
            window.onload = codeAddress;
        </script>
    }
    if (@ViewBag.messagesuccess != null)
    {
        <script>
            function codeAddress() {
                $("#messagemodal")
                    .closest(".modal").modal('show');
                $('#messagemodal').on('hidden.bs.modal', function (e) {
                    location.reload();
                });
            }
            window.onload = codeAddress;
        </script>
    }
    if (@ViewBag.ResetSuccess != null)
    {
        <script>
            function codeAddress() {
                $("#Alert2")
                    .closest(".modal").modal('show');
                $('#Alert2').on('hidden.bs.modal', function (e) {
                    location.reload();
                });
            }
            window.onload = codeAddress;
        </script>
    }

}

<div id="login-page">
    <div class="container">
        @using (Html.BeginForm("Reset", "Login", FormMethod.Post, new { @class = "form-login" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <form>
                <h2 class="form-login-heading">Reset Password</h2>
                <div class="login-wrap">
                    @if (ViewBag.pk_userid != null)
                    {
                        @Html.PasswordFor(a => a.pk_userID, new { type = "hidden", value = ViewBag.pk_userid })
                    }
                    @Html.PasswordFor(a => a.password, new { @class = "form-control", type = "password", required="required", placeholder = "New Password" })
                    <br>
                    <input type="password" class="form-control" required placeholder="Re-input New Password" name="password2">
                    <input type="hidden" value="@ViewBag.id" name="id">
                    <br>
                    <input class="btn btn-theme btn-block" type="submit" value="Reset Password">
                </div>
            </form>
        }
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="messagemodal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Reset Password</h4>
            </div>
            <div class="modal-body">
                @if (@ViewBag.messagesuccess != null)
                {
                    if (@ViewBag.messagesuccess == 1)
                    {
                        <div class="alert alert-success"><b>Success!</b> Check your Email</div>
                    }
                    else if (@ViewBag.messagesuccess == 2)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Password not match</div>
                    }
                    else if (@ViewBag.messagesuccess == 0)
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Email is not sent</div>
                    }
                    else
                    {
                        <div class="alert alert-danger"><b>Failed!</b> Your email is invalid</div>
                    }
                }

            </div>
        </div>
    </div>
</div>